nodered_flow.json
[
    {
        "id": "37b5d6e4.8096e2",
        "type": "tab",
        "label": "Config"
    },
    {
        "id": "1864c0e1.2101e7",
        "type": "tab",
        "label": "Worker"
    },
    {
        "id": "653adf68.8f27f8",
        "type": "tab",
        "label": "HTTP"
    },
    {
        "id": "397d6b16.c602a4",
        "type": "tab",
        "label": "Feed"
    },
    {
        "id": "d37a1d88.5e6d8",
        "type": "tab",
        "label": "db",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b2184ca7.59e64",
        "type": "subflow",
        "name": "Log.info",
        "info": "",
        "in": [
            {
                "x": 41,
                "y": 85,
                "wires": [
                    {
                        "id": "1e1e7701.c4f781"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "129e492c.1ba82f",
        "type": "subflow",
        "name": "watchlist",
        "info": "",
        "in": [
            {
                "x": 25,
                "y": 154.00000762939453,
                "wires": [
                    {
                        "id": "6615057c.4bd74c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 711,
                "y": 115,
                "wires": [
                    {
                        "id": "55730290.cf5364",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "54915f73.5a2a28",
        "type": "subflow",
        "name": "mem-info",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "7e4a525b.85af74"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 200,
                "wires": [
                    {
                        "id": "f8a2de6a.649e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "5b0e2c63.3d26a4",
        "type": "inject",
        "z": "1864c0e1.2101e7",
        "name": "10 sec interval",
        "topic": "mem-info",
        "payload": "",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "f934dbdd.29479"
            ]
        ]
    },
    {
        "id": "2f8fd11c.15ed0e",
        "type": "debug",
        "z": "1864c0e1.2101e7",
        "name": "msg 2",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "a3804ccf.ed264",
        "type": "http in",
        "z": "653adf68.8f27f8",
        "name": "/getstatus",
        "url": "/getstatus",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "2ece9e04.db26c2"
            ]
        ]
    },
    {
        "id": "e382e1a8.d3cdc",
        "type": "http response",
        "z": "653adf68.8f27f8",
        "name": "http out",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "a11dcaef.2f5058",
        "type": "inject",
        "z": "1864c0e1.2101e7",
        "name": "Trello (10:00)",
        "topic": "trello/get",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 10 * * *",
        "once": false,
        "x": 131.3333282470703,
        "y": 208.33334350585938,
        "wires": [
            [
                "f6c162c0.4d08a",
                "8c2ece23.0991e8"
            ]
        ]
    },
    {
        "id": "ed57e25e.38e848",
        "type": "debug",
        "z": "1864c0e1.2101e7",
        "name": "trello deb 1",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "6e7fe686.d1fa8",
        "type": "http request",
        "z": "1864c0e1.2101e7",
        "name": "get_member",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "fa6d9d5d.469c"
            ]
        ]
    },
    {
        "id": "8c2ece23.0991e8",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "List_boards",
        "func": "\nmsg.trello_conf = global.get('trello_conf');\nmsg.url = msg.trello_conf.base_url;\nmsg.url += \"/1/members/me?fields=username&boards=all\";\nmsg.url += \"&board_fields=name,shortUrl&key=\";\n\nmsg.url += msg.trello_conf.key;\nmsg.url += \"&token=\";\nmsg.url += msg.trello_conf.token;\n\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 236.50001525878906,
        "y": 249.00003051757812,
        "wires": [
            [
                "6e7fe686.d1fa8"
            ]
        ]
    },
    {
        "id": "fa6d9d5d.469c",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "Filter_Spisok",
        "func": "var list_body = JSON.parse(msg.payload);\n\nvar filtered = list_body.boards.filter(function(el){\n    return el.name == 'Spisok';\n});\n\nmsg.url = msg.trello_conf.base_url;\nmsg.url += \"/1/boards/\";\nmsg.url += filtered[0].id;\nmsg.url += \"/lists?cards=open&card_fields=name&fields=name&key=\";\n\nmsg.url += msg.trello_conf.key;\nmsg.url += \"&token=\";\nmsg.url += msg.trello_conf.token;\n\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 437.5,
        "y": 245.00003051757812,
        "wires": [
            [
                "5736b7a3.abf038"
            ]
        ]
    },
    {
        "id": "5736b7a3.abf038",
        "type": "http request",
        "z": "1864c0e1.2101e7",
        "name": "get_boards",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "ed57e25e.38e848",
                "c21040a8.8827d"
            ]
        ]
    },
    {
        "id": "c21040a8.8827d",
        "type": "file",
        "z": "1864c0e1.2101e7",
        "name": "W cards",
        "filename": "/home/pi/red_db/trello_cards.json",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 720,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "48d49811.b9b8f8",
        "type": "http in",
        "z": "653adf68.8f27f8",
        "name": "/trello_cards",
        "url": "/trello_cards",
        "method": "get",
        "swaggerDoc": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "68fc1394.744dcc"
            ]
        ]
    },
    {
        "id": "37a581.dfcd8a8",
        "type": "http in",
        "z": "653adf68.8f27f8",
        "name": "P /notice",
        "url": "/notice",
        "method": "post",
        "swaggerDoc": "",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "7add0b9c.1eb72c",
                "b7518b68.42f14"
            ]
        ]
    },
    {
        "id": "779bdbaf.4cd424",
        "type": "http response",
        "z": "653adf68.8f27f8",
        "name": "http out",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "b7518b68.42f14",
        "type": "function",
        "z": "653adf68.8f27f8",
        "name": "parse Notice",
        "func": "try{\n    var input = JSON.parse(msg.payload);\n    \n    msg.entry = {\n        time: new Date(),\n        status: 'new',\n        topic: input.topic,\n        msg: input.msg,\n        id: msg._msgid\n    };\n    \n    msg.statusCode = 200;\n    \n    return [ msg, null ];\n} catch(e) {\n    msg.payload = 'Not valid JSON';\n    msg.statusCode = 403;\n    \n    return [ null, msg ];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "e80bb81.9c81848"
            ],
            [
                "779bdbaf.4cd424"
            ]
        ]
    },
    {
        "id": "3f7248c5.5d1bc8",
        "type": "file",
        "z": "653adf68.8f27f8",
        "name": "W notice",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 740,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e80bb81.9c81848",
        "type": "file in",
        "z": "653adf68.8f27f8",
        "name": "R notice",
        "filename": "/home/pi/red_db/notice_new.json",
        "format": "utf8",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "4b6a0603.f2048"
            ]
        ]
    },
    {
        "id": "4b6a0603.f2048",
        "type": "function",
        "z": "653adf68.8f27f8",
        "name": "save Notice",
        "func": "var noticeList = [];\ntry{\n    noticeList = JSON.parse(msg.payload);\n} catch(e) {\n    noticeList = [];\n}\n\nnoticeList.unshift(msg.entry);\n\nvar noticeStr = JSON.stringify(noticeList);\nmsg.payload = noticeStr\n    .split(\"},\").join(\"},\\n\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "3f7248c5.5d1bc8",
                "fabb2cb2.d7c258"
            ]
        ]
    },
    {
        "id": "fabb2cb2.d7c258",
        "type": "function",
        "z": "653adf68.8f27f8",
        "name": "clean payload",
        "func": "\nmsg.topic = msg.entry.topic;\n\nmsg.payload = 'OK';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "64fb78aa.c52218",
                "ef280f45.8039e"
            ]
        ]
    },
    {
        "id": "7add0b9c.1eb72c",
        "type": "debug",
        "z": "653adf68.8f27f8",
        "name": "notice http",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 250,
        "y": 200,
        "wires": []
    },
    {
        "id": "64905890.037d98",
        "type": "http in",
        "z": "653adf68.8f27f8",
        "name": "G /notice",
        "url": "/notice",
        "method": "get",
        "swaggerDoc": "",
        "x": 89,
        "y": 334,
        "wires": [
            [
                "513f670d.d55558"
            ]
        ]
    },
    {
        "id": "4977c8ef.05d998",
        "type": "function",
        "z": "653adf68.8f27f8",
        "name": "Format notice",
        "func": "if(msg.bag.limit){\n    var mylimit = parseInt(msg.bag.limit);\n    \n    var nList = JSON.parse(msg.payload);\n    \n    if(nList.length > mylimit){\n        msg.payload = nList.slice(0, mylimit);\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 360,
        "wires": [
            [
                "779bdbaf.4cd424"
            ]
        ]
    },
    {
        "id": "2393f9aa.8b15e6",
        "type": "file in",
        "z": "653adf68.8f27f8",
        "name": "R notice",
        "filename": "/home/pi/red_db/notice_new.json",
        "format": "utf8",
        "x": 296,
        "y": 324,
        "wires": [
            [
                "4977c8ef.05d998"
            ]
        ]
    },
    {
        "id": "513f670d.d55558",
        "type": "function",
        "z": "653adf68.8f27f8",
        "name": "bag Input",
        "func": "\nmsg.bag = {\n  limit: msg.payload.limit  \n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 198,
        "y": 374,
        "wires": [
            [
                "2393f9aa.8b15e6"
            ]
        ]
    },
    {
        "id": "6ce73666.bc8fa8",
        "type": "inject",
        "z": "1864c0e1.2101e7",
        "name": "Wunder (2h)",
        "topic": "wunder/get",
        "payload": "",
        "payloadType": "date",
        "repeat": "7200",
        "crontab": "",
        "once": false,
        "x": 131.5,
        "y": 334,
        "wires": [
            [
                "ff16cc48.f5cbd"
            ]
        ]
    },
    {
        "id": "ff16cc48.f5cbd",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "Get Lists",
        "func": "\nmsg.wunder_conf = global.get('wunder_conf');\nmsg.url = msg.wunder_conf.base_url;\nmsg.url += \"/api/v1/lists\";\n\nmsg.headers = {\n    'X-Client-ID': msg.wunder_conf.client_id,\n    'X-Access-Token': msg.wunder_conf.token\n};\n\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250.3333282470703,
        "y": 380.6666717529297,
        "wires": [
            [
                "bee8586d.81d9b"
            ]
        ]
    },
    {
        "id": "bee8586d.81d9b",
        "type": "http request",
        "z": "1864c0e1.2101e7",
        "name": "get_lists",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 330.3333282470703,
        "y": 329.66661071777344,
        "wires": [
            [
                "9b6cc004.84c698"
            ]
        ]
    },
    {
        "id": "9b6cc004.84c698",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "Filter_Spisok",
        "func": "\nvar list_body = JSON.parse(msg.payload);\n\nvar filtered = list_body.filter(function(el){\n    return el.title == 'Продукты';\n});\n\nmsg.url = msg.wunder_conf.base_url;\nmsg.url += \"/api/v1/tasks?list_id=\";\nmsg.url += filtered[0].id;\n\nmsg.headers = {\n    'X-Client-ID': msg.wunder_conf.client_id,\n    'X-Access-Token': msg.wunder_conf.token\n};\n\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 432.3333282470703,
        "y": 376.66673278808594,
        "wires": [
            [
                "8c7ac22c.fbc9",
                "da776e19.e3eab8"
            ]
        ]
    },
    {
        "id": "2428e79e.f162b8",
        "type": "debug",
        "z": "1864c0e1.2101e7",
        "name": "wunder deb",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 631.3333892822266,
        "y": 287.6666564941406,
        "wires": []
    },
    {
        "id": "8c7ac22c.fbc9",
        "type": "http request",
        "z": "1864c0e1.2101e7",
        "name": "get_lists",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 519,
        "y": 332.6666259765625,
        "wires": [
            [
                "b82bd1b8.ac3378",
                "2428e79e.f162b8"
            ]
        ]
    },
    {
        "id": "b82bd1b8.ac3378",
        "type": "file",
        "z": "1864c0e1.2101e7",
        "name": "W shop",
        "filename": "/home/pi/red_db/wunder_shop_list.json",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 665.3333740234375,
        "y": 359.66673278808594,
        "wires": [
            []
        ]
    },
    {
        "id": "c317f07c.9a06f8",
        "type": "http in",
        "z": "653adf68.8f27f8",
        "name": "/shop_list",
        "url": "/shop_list",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "d167879d.f09098"
            ]
        ]
    },
    {
        "id": "ccd5aa12.58e87",
        "type": "inject",
        "z": "397d6b16.c602a4",
        "name": "4 hrs",
        "topic": "rss/job",
        "payload": "",
        "payloadType": "date",
        "repeat": "14400",
        "crontab": "",
        "once": false,
        "x": 83,
        "y": 281,
        "wires": [
            [
                "daf3e94.3282018",
                "a8b44ef2.1addc",
                "54406cdb.de3c64",
                "855f351d.3684f8"
            ]
        ]
    },
    {
        "id": "c99bc7d9.117ce",
        "type": "exec",
        "z": "397d6b16.c602a4",
        "command": "curl http://www.lostfilm.tv/rss.xml -s",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Curl lostfilm",
        "x": 185.00001525878906,
        "y": 130.5,
        "wires": [
            [
                "36044e17.1485da"
            ],
            [],
            []
        ]
    },
    {
        "id": "36044e17.1485da",
        "type": "xml",
        "z": "397d6b16.c602a4",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 277,
        "y": 76.99999237060547,
        "wires": [
            [
                "b521e9ff.9be15",
                "d45e95cd.e1cc58"
            ]
        ]
    },
    {
        "id": "b521e9ff.9be15",
        "type": "function",
        "z": "397d6b16.c602a4",
        "name": "fmt",
        "func": "\nvar xml_set = msg.payload.rss.channel[0].item;\nvar fmt_set = [];\n\nfor(var i in xml_set){\n    fmt_set.push({\n        title: xml_set[i]['title'][0],\n        pubDate: xml_set[i]['pubDate'][0],\n        link: xml_set[i]['link'][0]\n    });\n}\n\nmsg.inbox = fmt_set;\nmsg.listname = 'lostfilm';\n//msg.detail = fmt_set.length + ' fetched';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 352,
        "y": 120.99999237060547,
        "wires": [
            [
                "fbf49d8e.1d72e",
                "9b3add03.63f148",
                "d055642c.973f2"
            ]
        ]
    },
    {
        "id": "5b3c1b20.d0b324",
        "type": "function",
        "z": "397d6b16.c602a4",
        "name": "notify",
        "func": "// For loop - Notice\n\nif (!msg.loop_notify)\n    msg.loop_notify = msg.found.slice();\nelse if (msg.loop_notify.length === 0)\n    return [null, msg];\n\nvar entry = msg.loop_notify.pop();\n\nvar req_body = {\n    topic: ('rss/available/' + entry.label),\n    msg: (\"Available: \" + entry.title)\n};\n\nmsg.headers = {};\nmsg.url = '127.0.0.1:1880/notice';\nmsg.method = 'POST';\nmsg.payload = JSON.stringify(req_body);\n\nreturn [msg, null];",
        "outputs": "2",
        "noerr": 0,
        "x": 1289,
        "y": 338,
        "wires": [
            [
                "4b9a7044.927f78"
            ],
            []
        ]
    },
    {
        "id": "4b9a7044.927f78",
        "type": "http request",
        "z": "397d6b16.c602a4",
        "name": "Invoke Notice",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1458,
        "y": 331,
        "wires": [
            [
                "8c595397.6caba8"
            ]
        ]
    },
    {
        "id": "f6c162c0.4d08a",
        "type": "subflow:b2184ca7.59e64",
        "z": "1864c0e1.2101e7",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "6d92da35.d3fa54",
        "type": "inject",
        "z": "1864c0e1.2101e7",
        "name": "(09:00) N_rotate",
        "topic": "notice/rotate",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 09 * * *",
        "once": false,
        "x": 134.5,
        "y": 487,
        "wires": [
            [
                "d62900d3.63c0c8",
                "1824ed1e.13e4bb"
            ]
        ]
    },
    {
        "id": "d62900d3.63c0c8",
        "type": "file in",
        "z": "1864c0e1.2101e7",
        "name": "R notice",
        "filename": "/home/pi/red_db/notice_new.json",
        "format": "utf8",
        "x": 267.3333282470703,
        "y": 451.3332824707031,
        "wires": [
            [
                "1ec19752.738801"
            ]
        ]
    },
    {
        "id": "1ec19752.738801",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "Rotate Notice",
        "func": "var DAYS_MAX = 7;\nvar dateNow = new Date();\nvar validityPeriod = 1000 * 60 * 60 * 24 * DAYS_MAX;\nvar dateLimit = new Date(dateNow - validityPeriod);\n\nvar noticeList = [];\ntry{\n    noticeList = JSON.parse(msg.payload);\n} catch(e) {\n    return [ null, msg];\n}\n\nvar validList = noticeList.filter(function(el){\n    //Filtering\n    var logD = new Date(el.time);\n    return (logD > dateLimit) && (el.status === 'new');\n});\n\nvar noticeStr = JSON.stringify(validList);\nmsg.payload = noticeStr\n    .split(\"},\").join(\"},\\n\");\n\nreturn [msg, null];",
        "outputs": "2",
        "noerr": 0,
        "x": 387.33331298828125,
        "y": 488.3332824707031,
        "wires": [
            [
                "9f37f8e6.227fb8",
                "2fd5c0ca.e4741"
            ],
            []
        ]
    },
    {
        "id": "9f37f8e6.227fb8",
        "type": "file",
        "z": "1864c0e1.2101e7",
        "name": "W notice",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 520.3333129882812,
        "y": 449.3332824707031,
        "wires": [
            []
        ]
    },
    {
        "id": "1824ed1e.13e4bb",
        "type": "subflow:b2184ca7.59e64",
        "z": "1864c0e1.2101e7",
        "x": 329.5,
        "y": 521.9999694824219,
        "wires": []
    },
    {
        "id": "2fd5c0ca.e4741",
        "type": "debug",
        "z": "1864c0e1.2101e7",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 565,
        "y": 492.9999694824219,
        "wires": []
    },
    {
        "id": "8c595397.6caba8",
        "type": "delay",
        "z": "397d6b16.c602a4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1458.5,
        "y": 273.00001525878906,
        "wires": [
            [
                "5b3c1b20.d0b324"
            ]
        ]
    },
    {
        "id": "9bc9a483.8ee658",
        "type": "function",
        "z": "397d6b16.c602a4",
        "name": "wunder_post",
        "func": "// For loop - Notice\nif (!msg.loop_feed){\n    msg.loop_feed = msg.found.slice();\n    msg.wunder_conf = global.get('wunder_conf');\n}\nelse if (msg.loop_feed.length === 0){\n    return [null, msg];\n}\n\nvar entry = msg.loop_feed.pop();\nvar t_title = (\"Available: \" + entry.title);\nif(t_title.length > 255)\n    t_title = t_title.substring(0, 255)\nmsg.payload = {\n    list_id: msg.wunder_conf.pi_feed,\n    title: t_title\n};\n\nmsg.headers = {};\nmsg.method = 'POST';\nmsg.url = 'http://127.0.0.1:1880';\nmsg.url += \"/wunder/task\";\nreturn [msg, null];",
        "outputs": "2",
        "noerr": 0,
        "x": 1290.333251953125,
        "y": 222.33334350585938,
        "wires": [
            [
                "6e7ed4fa.ae12fc"
            ],
            []
        ]
    },
    {
        "id": "6e7ed4fa.ae12fc",
        "type": "http request",
        "z": "397d6b16.c602a4",
        "name": "Call Wunder",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1462.333251953125,
        "y": 215.33334350585938,
        "wires": [
            [
                "ccbe8579.6fa84"
            ]
        ]
    },
    {
        "id": "ccbe8579.6fa84",
        "type": "delay",
        "z": "397d6b16.c602a4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1449.333251953125,
        "y": 153.33334350585938,
        "wires": [
            [
                "9bc9a483.8ee658"
            ]
        ]
    },
    {
        "id": "9775c47b.571998",
        "type": "http in",
        "z": "653adf68.8f27f8",
        "name": "P /wunder/task",
        "url": "/wunder/task",
        "method": "post",
        "swaggerDoc": "",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "e620b172.2bb1e8",
                "bbed04ef.39914"
            ]
        ]
    },
    {
        "id": "bbed04ef.39914",
        "type": "function",
        "z": "653adf68.8f27f8",
        "name": "parse Notice",
        "func": "msg.wunder_conf = global.get(\"wunder_conf\");\n\nmsg.payload.list_id = parseInt(msg.payload.list_id);\n    \nmsg.method = 'POST';\nmsg.url = msg.wunder_conf.base_url;\nmsg.url += \"/api/v1/tasks\";\nmsg.headers = {\n    'X-Client-ID': msg.wunder_conf.client_id,\n    'X-Access-Token': msg.wunder_conf.token\n};\n\nreturn [ msg, null ];",
        "outputs": "1",
        "noerr": 0,
        "x": 310,
        "y": 480,
        "wires": [
            [
                "98a5431c.632eb8",
                "65e3273a.242e58"
            ]
        ]
    },
    {
        "id": "65e3273a.242e58",
        "type": "http request",
        "z": "653adf68.8f27f8",
        "name": "http",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 530,
        "y": 480,
        "wires": [
            [
                "328c3481.c59bcc",
                "31551752.aad098"
            ]
        ]
    },
    {
        "id": "328c3481.c59bcc",
        "type": "http response",
        "z": "653adf68.8f27f8",
        "name": "http out",
        "x": 760,
        "y": 480,
        "wires": []
    },
    {
        "id": "e620b172.2bb1e8",
        "type": "debug",
        "z": "653adf68.8f27f8",
        "name": "wunder http",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 299.33331298828125,
        "y": 440.33331298828125,
        "wires": []
    },
    {
        "id": "6615057c.4bd74c",
        "type": "file in",
        "z": "129e492c.1ba82f",
        "name": "watch_list",
        "filename": "/home/pi/red_db/rss_list.json",
        "format": "utf8",
        "x": 116.33332824707031,
        "y": 110.33333587646484,
        "wires": [
            [
                "e5abc938.cc47f",
                "14a79db6.ab1752"
            ]
        ]
    },
    {
        "id": "ac2535f6.8f5588",
        "type": "function",
        "z": "129e492c.1ba82f",
        "name": "Filter wanted",
        "func": "\nvar wanted = msg.payload[msg.listname];\n\nmsg.found = msg.inbox.filter(function(el){\n    for(var k in wanted){\n        var reg_test = new RegExp(wanted[k], \"i\");\n        var titleMatch = el.title.match(reg_test);\n        var linkMatch = el.link.match(reg_test);\n        \n        if(linkMatch || titleMatch){\n            el.label = k;\n            return true;\n        }\n    }\n    return false;\n});\n\nmsg.inbox = '';\n\nif(msg.found.length > 0)\n    return [msg, null];\nelse\n    return [null, msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 333.33331298828125,
        "y": 123.33334350585938,
        "wires": [
            [
                "54eff5d.83a558c",
                "a1de4cb0.eb84b8"
            ],
            []
        ]
    },
    {
        "id": "54eff5d.83a558c",
        "type": "file in",
        "z": "129e492c.1ba82f",
        "name": "R ignore_list",
        "filename": "/home/pi/red_db/rss_inform.json",
        "format": "utf8",
        "x": 456.33331298828125,
        "y": 221.33334350585938,
        "wires": [
            [
                "55730290.cf5364",
                "a1d98289.520548"
            ]
        ]
    },
    {
        "id": "55730290.cf5364",
        "type": "function",
        "z": "129e492c.1ba82f",
        "name": "Filter ignore",
        "func": "\ntry {\n    msg.ignore = JSON.parse(msg.payload);\n} catch (e) {\n    msg.ignore = {};\n}\n\nif(!msg.ignore[msg.listname]){\n    msg.ignore[msg.listname] = [];\n}\nvar ignoreList = msg.ignore[msg.listname];\n\nmsg.found = msg.found.filter(function(el){\n    for(var k in ignoreList){\n        if(el.link === ignoreList[k].link &&\n            el.pubDate === ignoreList[k].pubDate){\n            return false;\n        }\n    }\n    //Update Ignore\n    ignoreList.push(el);\n    return true;\n});\n\n//Update Ignore\nmsg.payload = msg.ignore;\n\nif(msg.found.length > 0)\n    return [msg, null];\nelse\n    return [null, msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 569.3333129882812,
        "y": 121.33334350585938,
        "wires": [
            [
                "3f9c706d.3a9f38"
            ],
            []
        ]
    },
    {
        "id": "3f9c706d.3a9f38",
        "type": "file",
        "z": "129e492c.1ba82f",
        "name": "W ignore_list",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 691.3333129882812,
        "y": 222.33334350585938,
        "wires": [
            []
        ]
    },
    {
        "id": "2cac05c.906ea7a",
        "type": "exec",
        "z": "397d6b16.c602a4",
        "command": "curl http://feed.rutracker.cc/atom/f/842.atom -s",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Curl rutracker-tv-new",
        "x": 156.3333282470703,
        "y": 399.3333435058594,
        "wires": [
            [
                "2600035d.8068bc"
            ],
            [],
            []
        ]
    },
    {
        "id": "6fe31072.4567d8",
        "type": "function",
        "z": "397d6b16.c602a4",
        "name": "fmt",
        "func": "\nvar xml_set = msg.payload.feed.entry;\nvar fmt_set = [];\n\nfor(var i in xml_set){\n    fmt_set.push({\n        title: xml_set[i]['title'][0],\n        pubDate: xml_set[i]['updated'][0],\n        link: xml_set[i]['link'][0][\"$\"][\"href\"]\n    });\n}\n\nmsg.inbox = fmt_set;\n//logging\nmsg.listname = 'rutracker';\nmsg.detail = fmt_set.length + ' matched';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 423.33331298828125,
        "y": 366.3333435058594,
        "wires": [
            [
                "10f33fa4.99517",
                "d055642c.973f2",
                "3076f5e5.4884ba"
            ]
        ]
    },
    {
        "id": "2600035d.8068bc",
        "type": "xml",
        "z": "397d6b16.c602a4",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 362.33331298828125,
        "y": 418.3333435058594,
        "wires": [
            [
                "6fe31072.4567d8",
                "40e6e0f0.0afbf8"
            ]
        ]
    },
    {
        "id": "251c1ca4.db829c",
        "type": "exec",
        "z": "397d6b16.c602a4",
        "command": "curl http://feed.rutracker.cc/atom/f/2366.atom -s",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Curl rutracker-tv-hd",
        "x": 161.3333282470703,
        "y": 454.3333435058594,
        "wires": [
            [
                "2600035d.8068bc"
            ],
            [],
            []
        ]
    },
    {
        "id": "54406cdb.de3c64",
        "type": "delay",
        "z": "397d6b16.c602a4",
        "name": "delay 10-120 sec",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "10",
        "randomLast": "120",
        "randomUnits": "seconds",
        "drop": false,
        "x": 262.5,
        "y": 270.3333740234375,
        "wires": [
            [
                "251c1ca4.db829c"
            ]
        ]
    },
    {
        "id": "cbcb4a60.ed556",
        "type": "inject",
        "z": "397d6b16.c602a4",
        "name": "test",
        "topic": "rss/job",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 211,
        "y": 716.3333129882812,
        "wires": [
            [
                "2cac05c.906ea7a"
            ]
        ]
    },
    {
        "id": "a8b44ef2.1addc",
        "type": "delay",
        "z": "397d6b16.c602a4",
        "name": "delay 10-120 sec",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "10",
        "randomLast": "120",
        "randomUnits": "seconds",
        "drop": false,
        "x": 262.33331298828125,
        "y": 235.33334350585938,
        "wires": [
            [
                "2cac05c.906ea7a"
            ]
        ]
    },
    {
        "id": "daf3e94.3282018",
        "type": "delay",
        "z": "397d6b16.c602a4",
        "name": "delay 10-120 sec",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "10",
        "randomLast": "120",
        "randomUnits": "seconds",
        "drop": false,
        "x": 257.33331298828125,
        "y": 191.33331298828125,
        "wires": [
            [
                "c99bc7d9.117ce"
            ]
        ]
    },
    {
        "id": "1e1e7701.c4f781",
        "type": "function",
        "z": "b2184ca7.59e64",
        "name": "homepi.log",
        "func": "var date = new Date();\nmsg.payload = date.toISOString(); \n\nif(msg.topic)\n    msg.payload += \" >> \" + msg.topic;\n\nif(msg.listname)\n    msg.payload += \" :: \" + msg.listname;\n\nif(msg.detail)\n    msg.payload += \" = \" + msg.detail;\n\nmsg.filename = \"/home/pi/red_db/homepi.log\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 196.50001525878906,
        "y": 84.6666488647461,
        "wires": [
            [
                "6ba6470.aac15b8"
            ]
        ]
    },
    {
        "id": "6ba6470.aac15b8",
        "type": "file",
        "z": "b2184ca7.59e64",
        "name": "homepi.log",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 377.5,
        "y": 84.3333511352539,
        "wires": [
            []
        ]
    },
    {
        "id": "17eda9b9.34ac16",
        "type": "inject",
        "z": "1864c0e1.2101e7",
        "name": "ed 07:00",
        "topic": "log/rotate",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "00 07 * * *",
        "once": false,
        "onceDelay": "",
        "x": 125.5,
        "y": 592.3333740234375,
        "wires": [
            [
                "280d3417.1eee0c"
            ]
        ]
    },
    {
        "id": "280d3417.1eee0c",
        "type": "exec",
        "z": "1864c0e1.2101e7",
        "command": "du -m /home/pi/red_db/homepi.log",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "log size",
        "x": 211.50001525878906,
        "y": 643.5,
        "wires": [
            [
                "a312b00c.69f8d",
                "430dae7a.f37688"
            ],
            [],
            []
        ]
    },
    {
        "id": "a312b00c.69f8d",
        "type": "debug",
        "z": "1864c0e1.2101e7",
        "name": "log_size",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 352.33331298828125,
        "y": 663.3333740234375,
        "wires": []
    },
    {
        "id": "430dae7a.f37688",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "check log",
        "func": "var f_size = msg.payload.split(\"\\t\")[0];\n\nif(f_size > 1)\n    return [msg, null];\nelse\n    return [null, msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 323.5,
        "y": 584.6666259765625,
        "wires": [
            [
                "a68f974f.e3611"
            ],
            []
        ]
    },
    {
        "id": "a68f974f.e3611",
        "type": "exec",
        "z": "1864c0e1.2101e7",
        "command": "rm ~/red_db/homepi.log2 || mv ~/red_db/homepi.log ~/red_db/homepi.log2",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "log copy",
        "x": 451.33331298828125,
        "y": 618.3333740234375,
        "wires": [
            [
                "9c4292b1.e35128",
                "bad6f62e.716b5"
            ],
            [],
            []
        ]
    },
    {
        "id": "9c4292b1.e35128",
        "type": "subflow:b2184ca7.59e64",
        "z": "1864c0e1.2101e7",
        "x": 584.3333129882812,
        "y": 585.3333740234375,
        "wires": []
    },
    {
        "id": "fbf49d8e.1d72e",
        "type": "subflow:b2184ca7.59e64",
        "z": "397d6b16.c602a4",
        "x": 473.33331298828125,
        "y": 67.33334350585938,
        "wires": []
    },
    {
        "id": "aefee38a.d2a2b8",
        "type": "exec",
        "z": "397d6b16.c602a4",
        "command": "curl http://feed.rutracker.cc/atom/f/2200.atom -s",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "rutracker-2016",
        "x": 166.33331298828125,
        "y": 506.33331298828125,
        "wires": [
            [
                "2600035d.8068bc"
            ],
            [],
            []
        ]
    },
    {
        "id": "855f351d.3684f8",
        "type": "delay",
        "z": "397d6b16.c602a4",
        "name": "delay 10-120 sec",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "10",
        "randomLast": "120",
        "randomUnits": "seconds",
        "drop": false,
        "x": 262.33331298828125,
        "y": 303.3333435058594,
        "wires": [
            [
                "aefee38a.d2a2b8"
            ]
        ]
    },
    {
        "id": "31551752.aad098",
        "type": "debug",
        "z": "653adf68.8f27f8",
        "name": "wunder http 3",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "98a5431c.632eb8",
        "type": "debug",
        "z": "653adf68.8f27f8",
        "name": "wunder http 2",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "da776e19.e3eab8",
        "type": "debug",
        "z": "1864c0e1.2101e7",
        "name": "wunder url 2",
        "active": false,
        "console": "false",
        "complete": "url",
        "x": 652.3333129882812,
        "y": 394.33331298828125,
        "wires": []
    },
    {
        "id": "3b86b4c4.a6fd4c",
        "type": "exec",
        "z": "1864c0e1.2101e7",
        "command": "tar -zcf ",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "tar",
        "x": 339.5,
        "y": 717.1666259765625,
        "wires": [
            [
                "49d743de.845c4c"
            ],
            [],
            []
        ]
    },
    {
        "id": "eb3ac3d2.84fcc",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "BKP red_db",
        "func": "var s_dir = \"/home/pi/red_db\";\nvar d_dir = \"/mnt/mydrive/bkp/\";\nvar now = new Date();\nvar d_file = \"red_db_\"; \n\nd_file += now.toISOString().substring(0, 10);\nd_file += \".tar.gz\";\nvar d_path = d_dir + d_file;\n\nmsg.payload = d_path;\nmsg.payload += \" \";\nmsg.payload += s_dir;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 269.5,
        "y": 768.66650390625,
        "wires": [
            [
                "3b86b4c4.a6fd4c"
            ]
        ]
    },
    {
        "id": "4f040430.079f2c",
        "type": "inject",
        "z": "1864c0e1.2101e7",
        "name": "Thu 11:00",
        "topic": "wrk/bkp",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 11 * * 4",
        "once": false,
        "x": 110,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "3cb7417a.99ed9e",
        "type": "subflow:b2184ca7.59e64",
        "z": "1864c0e1.2101e7",
        "x": 223.3333282470703,
        "y": 803.3331909179688,
        "wires": []
    },
    {
        "id": "e5865e04.d2e2e",
        "type": "debug",
        "z": "1864c0e1.2101e7",
        "name": "tar_out",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 775.3333129882812,
        "y": 741.3333129882812,
        "wires": []
    },
    {
        "id": "10f33fa4.99517",
        "type": "subflow:b2184ca7.59e64",
        "z": "397d6b16.c602a4",
        "x": 537,
        "y": 439,
        "wires": []
    },
    {
        "id": "d45e95cd.e1cc58",
        "type": "debug",
        "z": "397d6b16.c602a4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload.rss",
        "x": 551,
        "y": 31,
        "wires": []
    },
    {
        "id": "9b3add03.63f148",
        "type": "debug",
        "z": "397d6b16.c602a4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "inbox",
        "x": 550,
        "y": 131,
        "wires": []
    },
    {
        "id": "ffd8e16.7526a2",
        "type": "inject",
        "z": "1864c0e1.2101e7",
        "name": "(08:00) Inform_rotate",
        "topic": "rss_inform/rotate",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "x": 151,
        "y": 873,
        "wires": [
            [
                "5880613f.65551",
                "4c2f1308.8ca65c"
            ]
        ]
    },
    {
        "id": "5880613f.65551",
        "type": "subflow:b2184ca7.59e64",
        "z": "1864c0e1.2101e7",
        "x": 340,
        "y": 860,
        "wires": []
    },
    {
        "id": "4c2f1308.8ca65c",
        "type": "file in",
        "z": "1864c0e1.2101e7",
        "name": "R inform",
        "filename": "/home/pi/red_db/rss_inform.json",
        "format": "utf8",
        "x": 340,
        "y": 900,
        "wires": [
            [
                "c90e2ac.2fd6fd8"
            ]
        ]
    },
    {
        "id": "d6aad85d.34915",
        "type": "debug",
        "z": "1864c0e1.2101e7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 710,
        "y": 860,
        "wires": []
    },
    {
        "id": "c90e2ac.2fd6fd8",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "One month Rem",
        "func": "var ago = new Date();\nago.setMonth(ago.getMonth() - 1 );\nvar cat = JSON.parse(msg.payload);\n\nfor (var chan in cat){\n    for (var en in cat[chan]){\n        var pubDate = new Date(\n            cat[chan][en].pubDate\n        );\n        \n        if(chan !== \"kinopoisk\" && pubDate < ago){\n            cat[chan].splice(en, 1);\n        }\n    }\n}\n\nmsg.payload = JSON.stringify(cat);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 900,
        "wires": [
            [
                "d6aad85d.34915",
                "f507ca51.f344f8"
            ]
        ]
    },
    {
        "id": "f507ca51.f344f8",
        "type": "file",
        "z": "1864c0e1.2101e7",
        "name": "W inform",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 700,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "20b3ba62.50e6a6",
        "type": "http in",
        "z": "653adf68.8f27f8",
        "name": "G /rss_info",
        "url": "/rss_info",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "d94011f.5b10ef"
            ]
        ]
    },
    {
        "id": "6e87f76d.d5a4e",
        "type": "http response",
        "z": "653adf68.8f27f8",
        "name": "http out",
        "x": 500,
        "y": 580,
        "wires": []
    },
    {
        "id": "f93917b.ddc64e8",
        "type": "http in",
        "z": "653adf68.8f27f8",
        "name": "G /rss_list",
        "url": "/rss_list",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "25ccb1f.f6cfe4e"
            ]
        ]
    },
    {
        "id": "49d743de.845c4c",
        "type": "exec",
        "z": "1864c0e1.2101e7",
        "command": "ls /mnt/mydrive/bkp/",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "ls bkp",
        "x": 469,
        "y": 770.5,
        "wires": [
            [
                "9aa4f56e.95d69"
            ],
            [],
            []
        ]
    },
    {
        "id": "9aa4f56e.95d69",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "File to del",
        "func": "\nvar d_dir = \"/mnt/mydrive/bkp/\";\nvar my_limit = 4;\n\nvar dirList = msg.payload.split(\"\\n\").sort();\ndirList.shift();\n\nif(dirList.length > my_limit){\n    \n    msg.payload = d_dir + dirList[0];\n    return [msg, null];\n}\nelse {\n    return [null, msg];\n}\n\n",
        "outputs": "2",
        "noerr": 0,
        "x": 611,
        "y": 785,
        "wires": [
            [
                "e5865e04.d2e2e",
                "22f45dfb.d6bafa"
            ],
            []
        ]
    },
    {
        "id": "22f45dfb.d6bafa",
        "type": "exec",
        "z": "1864c0e1.2101e7",
        "command": "rm ",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "rm bkp",
        "x": 591,
        "y": 709,
        "wires": [
            [
                "49d743de.845c4c"
            ],
            [],
            []
        ]
    },
    {
        "id": "64fb78aa.c52218",
        "type": "subflow:b2184ca7.59e64",
        "z": "653adf68.8f27f8",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "4ca20c15.73b3dc",
        "type": "inject",
        "z": "1864c0e1.2101e7",
        "name": "(12:00) Drop_bills",
        "topic": "drop/bills",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "x": 133,
        "y": 983,
        "wires": [
            [
                "37c6e5cb.e2ba62",
                "f48fa463.56dbf"
            ]
        ]
    },
    {
        "id": "37c6e5cb.e2ba62",
        "type": "subflow:b2184ca7.59e64",
        "z": "1864c0e1.2101e7",
        "x": 300,
        "y": 951,
        "wires": []
    },
    {
        "id": "f48fa463.56dbf",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "Get file List",
        "func": "\nmsg.drop_conf = global.get('drop_conf');\n\nmsg.url = msg.drop_conf.base_url;\nmsg.url += \"files/list_folder\"; //Get all\n\nvar auth = 'Bearer ' + msg.drop_conf.token;\n\nmsg.headers = {\n    'Authorization': auth,\n    'Content-Type': 'application/json'\n};\n\nvar my_path = '/' + msg.drop_conf.bills_folder;\n\nvar my_bag = {\n    \"path\": my_path,\n    \"recursive\": false,\n    \"include_media_info\": false,\n    \"include_deleted\": false,\n    \"include_has_explicit_shared_members\": false\n};\n\nmsg.payload = my_bag;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 291,
        "y": 1018,
        "wires": [
            [
                "ae1f137c.69fe68"
            ]
        ]
    },
    {
        "id": "ae1f137c.69fe68",
        "type": "http request",
        "z": "1864c0e1.2101e7",
        "name": "get_list",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 422,
        "y": 985,
        "wires": [
            [
                "f7c803e.218a8"
            ]
        ]
    },
    {
        "id": "ebc38336.c4a1e",
        "type": "debug",
        "z": "1864c0e1.2101e7",
        "name": "drop_out",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 712,
        "y": 1024,
        "wires": []
    },
    {
        "id": "f7c803e.218a8",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "filter b",
        "func": "\nvar obj_list = JSON.parse(msg.payload).entries;\nvar my_list = [];\n\nfor (var p in obj_list){\n  if(obj_list[p]['.tag'] === 'file'\n    && (\n        obj_list[p]['name'][0] === '0'\n        || obj_list[p]['name'][0] === '1'\n        || obj_list[p]['name'][0] === '2'\n        )\n    )\n    my_list.push(obj_list[p]['name']);\n}\n\nmsg.payload = my_list;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1033,
        "wires": [
            [
                "91fc35b1.4f239"
            ]
        ]
    },
    {
        "id": "91fc35b1.4f239",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "struct",
        "func": "\nvar my_list = msg.payload;\n\nif(my_list.length === 0)\n    return [null,msg];\n    \nvar parsed_list = [];\n\nfor (var p in my_list){\n    var f_name = my_list[p];\n    var f_name_sp = f_name.split('_');\n    \n    var obj_date_str = f_name_sp[0];\n    var obj_name = f_name_sp[1].split('.')[0];\n    \n    var off_y = obj_date_str.length == 8 ? 0 : -4;\n    var y = off_y < 0 ? \n        '' : obj_date_str.substring(0,4);\n    var m = obj_date_str.substring(4+off_y,6+off_y);\n    var d = obj_date_str.substring(6+off_y,8+off_y);\n    \n    parsed_list.push({\n        name: obj_name, \n        date_str: obj_date_str,\n        y: y, m:m, d:d\n    });\n}\n\nmsg.detail = parsed_list.length;\nmsg.payload = parsed_list;\nreturn [msg, null];",
        "outputs": "2",
        "noerr": 0,
        "x": 598,
        "y": 978,
        "wires": [
            [
                "ebc38336.c4a1e",
                "1d8dcc05.3e93ec"
            ],
            []
        ]
    },
    {
        "id": "1d8dcc05.3e93ec",
        "type": "subflow:b2184ca7.59e64",
        "z": "1864c0e1.2101e7",
        "x": 754,
        "y": 956,
        "wires": []
    },
    {
        "id": "7b3f1609.e1f458",
        "type": "debug",
        "z": "397d6b16.c602a4",
        "name": "filter ignore",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1173.0000610351562,
        "y": 375,
        "wires": []
    },
    {
        "id": "e5abc938.cc47f",
        "type": "json",
        "z": "129e492c.1ba82f",
        "name": "",
        "x": 219,
        "y": 220,
        "wires": [
            [
                "ac2535f6.8f5588",
                "814d0709.351a8"
            ]
        ]
    },
    {
        "id": "14a79db6.ab1752",
        "type": "debug",
        "z": "129e492c.1ba82f",
        "name": "watch_list",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 290,
        "y": 70,
        "wires": []
    },
    {
        "id": "814d0709.351a8",
        "type": "debug",
        "z": "129e492c.1ba82f",
        "name": "json",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 351,
        "y": 310,
        "wires": []
    },
    {
        "id": "a1de4cb0.eb84b8",
        "type": "debug",
        "z": "129e492c.1ba82f",
        "name": "filter wanted",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 540,
        "y": 65,
        "wires": []
    },
    {
        "id": "a1d98289.520548",
        "type": "debug",
        "z": "129e492c.1ba82f",
        "name": "R ignore",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 609,
        "y": 331,
        "wires": []
    },
    {
        "id": "35e8d0b4.e5cd28",
        "type": "debug",
        "z": "b2184ca7.59e64",
        "name": "log done",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 367,
        "y": 151,
        "wires": []
    },
    {
        "id": "d055642c.973f2",
        "type": "file in",
        "z": "397d6b16.c602a4",
        "name": "watch_list",
        "filename": "/home/pi/red_db/rss_list.json",
        "format": "utf8",
        "x": 447,
        "y": 210,
        "wires": [
            [
                "aaceb293.b6f72",
                "e04e677b.41199"
            ]
        ]
    },
    {
        "id": "fe1db134.5643a",
        "type": "function",
        "z": "397d6b16.c602a4",
        "name": "Filter wanted",
        "func": "\nvar wanted = msg.payload[msg.listname];\n\nmsg.found = msg.inbox.filter(function(el){\n    for(var k in wanted){\n        var reg_test = new RegExp(wanted[k], \"i\");\n        var titleMatch = el.title.match(reg_test);\n        var linkMatch = el.link.match(reg_test);\n        \n        if(linkMatch || titleMatch){\n            el.label = k;\n            return true;\n        }\n    }\n    return false;\n});\n\nmsg.inbox = '';\n\nif(msg.found.length > 0)\n    return [msg, null];\nelse\n    return [null, msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 663.9999847412109,
        "y": 223.00000762939453,
        "wires": [
            [
                "137b2897.febf67",
                "e059fb46.55d6c"
            ],
            []
        ]
    },
    {
        "id": "137b2897.febf67",
        "type": "file in",
        "z": "397d6b16.c602a4",
        "name": "R ignore_list",
        "filename": "/home/pi/red_db/rss_inform.json",
        "format": "utf8",
        "x": 783,
        "y": 279,
        "wires": [
            [
                "73459f5c.404598",
                "38278fe2.65f728"
            ]
        ]
    },
    {
        "id": "73459f5c.404598",
        "type": "function",
        "z": "397d6b16.c602a4",
        "name": "Filter ignore",
        "func": "\ntry {\n    msg.ignore = JSON.parse(msg.payload);\n} catch (e) {\n    msg.ignore = {};\n}\n\nif(!msg.ignore[msg.listname]){\n    msg.ignore[msg.listname] = [];\n}\nvar ignoreList = msg.ignore[msg.listname];\n\nmsg.found = msg.found.filter(function(el){\n    for(var k in ignoreList){\n        if(el.link === ignoreList[k].link &&\n            el.pubDate === ignoreList[k].pubDate){\n            return false;\n        }\n    }\n    //Update Ignore\n    ignoreList.push(el);\n    return true;\n});\n\n//Update Ignore\nmsg.payload = msg.ignore;\n\nif(msg.found.length > 0)\n    return [msg, null];\nelse\n    return [null, msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 899.9999847412109,
        "y": 221.00000762939453,
        "wires": [
            [
                "b5a2e14f.2c91f",
                "9bc9a483.8ee658",
                "5b3c1b20.d0b324",
                "7b3f1609.e1f458"
            ],
            []
        ]
    },
    {
        "id": "aaceb293.b6f72",
        "type": "json",
        "z": "397d6b16.c602a4",
        "name": "",
        "x": 549.6666870117188,
        "y": 272.6666564941406,
        "wires": [
            [
                "fe1db134.5643a",
                "7c9c16d6.5f9928",
                "207c367e.2e1f62"
            ]
        ]
    },
    {
        "id": "e04e677b.41199",
        "type": "debug",
        "z": "397d6b16.c602a4",
        "name": "watch_list",
        "active": false,
        "console": "true",
        "complete": "payload",
        "x": 650.6666870117188,
        "y": 187.66665649414062,
        "wires": []
    },
    {
        "id": "7c9c16d6.5f9928",
        "type": "debug",
        "z": "397d6b16.c602a4",
        "name": "json",
        "active": false,
        "console": "true",
        "complete": "payload",
        "x": 671.6666870117188,
        "y": 325.6666564941406,
        "wires": []
    },
    {
        "id": "e059fb46.55d6c",
        "type": "debug",
        "z": "397d6b16.c602a4",
        "name": "filter wanted",
        "active": true,
        "console": "true",
        "complete": "found",
        "x": 870.6666717529297,
        "y": 164.66666412353516,
        "wires": []
    },
    {
        "id": "38278fe2.65f728",
        "type": "debug",
        "z": "397d6b16.c602a4",
        "name": "R ignore",
        "active": false,
        "console": "true",
        "complete": "payload",
        "x": 921.6666870117188,
        "y": 336.6666564941406,
        "wires": []
    },
    {
        "id": "b5a2e14f.2c91f",
        "type": "file",
        "z": "397d6b16.c602a4",
        "name": "W ignore_list",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1095,
        "y": 144,
        "wires": [
            []
        ]
    },
    {
        "id": "3076f5e5.4884ba",
        "type": "debug",
        "z": "397d6b16.c602a4",
        "name": "msg.inbox",
        "active": false,
        "console": "true",
        "complete": "inbox",
        "x": 594,
        "y": 380,
        "wires": []
    },
    {
        "id": "40e6e0f0.0afbf8",
        "type": "debug",
        "z": "397d6b16.c602a4",
        "name": "xml result",
        "active": false,
        "console": "true",
        "complete": "payload.feed.entry",
        "x": 619,
        "y": 592,
        "wires": []
    },
    {
        "id": "207c367e.2e1f62",
        "type": "debug",
        "z": "397d6b16.c602a4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "inbox",
        "x": 757,
        "y": 379,
        "wires": []
    },
    {
        "id": "2adf48bb.5264d8",
        "type": "inject",
        "z": "397d6b16.c602a4",
        "name": "test",
        "topic": "rss/job",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 57,
        "wires": [
            [
                "c99bc7d9.117ce"
            ]
        ]
    },
    {
        "id": "8e42accb.7c696",
        "type": "inject",
        "z": "37b5d6e4.8096e2",
        "name": "on-start",
        "topic": "load/config",
        "payload": "config loaded",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 131,
        "y": 136,
        "wires": [
            [
                "c8be2488.5094f",
                "c59b8c63.753e2",
                "8939f469.817ac",
                "2d561e98.bbaf3a",
                "41443e42.61aa38"
            ]
        ]
    },
    {
        "id": "c8be2488.5094f",
        "type": "debug",
        "z": "37b5d6e4.8096e2",
        "name": "config",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "c59b8c63.753e2",
        "type": "file in",
        "z": "37b5d6e4.8096e2",
        "name": "wunder_config",
        "filename": "/home/pi/red_db/wunderlist_apikey.json",
        "format": "utf8",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "313791ff.d8d04e"
            ]
        ]
    },
    {
        "id": "313791ff.d8d04e",
        "type": "json",
        "z": "37b5d6e4.8096e2",
        "name": "parse",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "b885fe04.53bc6"
            ]
        ]
    },
    {
        "id": "b885fe04.53bc6",
        "type": "function",
        "z": "37b5d6e4.8096e2",
        "name": "wunder_conf",
        "func": "\nglobal.set('wunder_conf', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8939f469.817ac",
        "type": "file in",
        "z": "37b5d6e4.8096e2",
        "name": "trello_config",
        "filename": "/home/pi/red_db/trello_apikey.json",
        "format": "utf8",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "d1bb1955.48e898"
            ]
        ]
    },
    {
        "id": "d1bb1955.48e898",
        "type": "json",
        "z": "37b5d6e4.8096e2",
        "name": "parse",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "926ed9b3.41271"
            ]
        ]
    },
    {
        "id": "926ed9b3.41271",
        "type": "function",
        "z": "37b5d6e4.8096e2",
        "name": "trello_conf",
        "func": "\nglobal.set('trello_conf', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2d561e98.bbaf3a",
        "type": "file in",
        "z": "37b5d6e4.8096e2",
        "name": "drop_config",
        "filename": "/home/pi/red_db/dropbox_key.json",
        "format": "utf8",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "7d4109bd.bc745"
            ]
        ]
    },
    {
        "id": "7d4109bd.bc745",
        "type": "json",
        "z": "37b5d6e4.8096e2",
        "name": "parse",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "91ecc8.313c4b38"
            ]
        ]
    },
    {
        "id": "91ecc8.313c4b38",
        "type": "function",
        "z": "37b5d6e4.8096e2",
        "name": "drop_conf",
        "func": "\nglobal.set('drop_conf', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7e4a525b.85af74",
        "type": "exec",
        "z": "54915f73.5a2a28",
        "command": "/opt/vc/bin/vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "cpu_temp",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "4cb4ede4.be3afc"
            ],
            [],
            []
        ]
    },
    {
        "id": "4cb4ede4.be3afc",
        "type": "function",
        "z": "54915f73.5a2a28",
        "name": "fmt",
        "func": "var newDate = new Date();\nvar cputemp = \n    msg.payload.replace ( /[^\\d.]/g, '' );\n\nmsg.bag = {\n    cputemp:parseFloat(cputemp),\n    time:newDate\n};\nmsg.payload = '';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 242.99998474121094,
        "y": 104,
        "wires": [
            [
                "1a5ee774.f453d1"
            ]
        ]
    },
    {
        "id": "1a5ee774.f453d1",
        "type": "exec",
        "z": "54915f73.5a2a28",
        "command": "free -k",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "ram-use",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "cabcf596.dc5cf"
            ],
            [],
            []
        ]
    },
    {
        "id": "cabcf596.dc5cf",
        "type": "function",
        "z": "54915f73.5a2a28",
        "name": "fmt 2",
        "func": "//normal is 40 and below\n//40-60 warning\n//60-80 Red alert\n\nvar mymatch = msg.payload.match(/\\d+/g);\n\n//node.warn('ram nums = ' + JSON.stringify(mymatch));\n\nmsg.bag.ramtotal = parseInt(mymatch[0]);\nmsg.bag.ramused = parseInt(mymatch[1]);\nmsg.bag.ramfree = parseInt(mymatch[5]);\n    \n//msg.payload = JSON.stringify(msg.bag);\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 100,
        "wires": [
            [
                "7522cd21.78fb14"
            ]
        ]
    },
    {
        "id": "7522cd21.78fb14",
        "type": "exec",
        "z": "54915f73.5a2a28",
        "command": "df -m",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Space",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "f8a2de6a.649e"
            ],
            [],
            []
        ]
    },
    {
        "id": "f8a2de6a.649e",
        "type": "function",
        "z": "54915f73.5a2a28",
        "name": "fmt 3",
        "func": "//Get output into rows\nvar arr = msg.payload.split(\"\\n\");\n//Filter rows\nvar mymatch = arr.filter(function(line){\n    return line.match(/(\\/dev\\/root|\\/mnt\\/mydrive)/);\n});\n//split into cells\nvar rows = [];\nfor(var i in mymatch){\n    rows.push(mymatch[i].split(/\\s{1,}/));\n}\n\n// build an objects\nvar h = 1;\nif( rows[h] ){\n    msg.bag.hd = {\n        total: rows[h][1], \n        used: rows[h][2], \n        p:rows[h][4], \n        path:rows[h][5]\n    };\n}\nvar s = 0;\nmsg.bag.sd = {total: rows[s][1], used: rows[s][2], \n    p:rows[s][4], path:rows[s][5]};\n\nmsg.payload = JSON.stringify(msg.bag);\nmsg.bag = '';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f934dbdd.29479",
        "type": "subflow:54915f73.5a2a28",
        "z": "1864c0e1.2101e7",
        "name": "",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "129a8b55.f7d26d"
            ]
        ]
    },
    {
        "id": "129a8b55.f7d26d",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "save-glob",
        "func": "\nglobal.set('mem', msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "2f8fd11c.15ed0e"
            ]
        ]
    },
    {
        "id": "2ece9e04.db26c2",
        "type": "function",
        "z": "653adf68.8f27f8",
        "name": "get-glob",
        "func": "\nmsg.payload = global.get('mem');\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 40,
        "wires": [
            [
                "e46a5238.8e4a98"
            ]
        ]
    },
    {
        "id": "e46a5238.8e4a98",
        "type": "json",
        "z": "653adf68.8f27f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 40,
        "wires": [
            [
                "e382e1a8.d3cdc"
            ]
        ]
    },
    {
        "id": "bad6f62e.716b5",
        "type": "debug",
        "z": "1864c0e1.2101e7",
        "name": "log_copy",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "ceff4afa.1102d8",
        "type": "http in",
        "z": "d37a1d88.5e6d8",
        "name": "G /db/:db/:id",
        "url": "/db/:db/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "e6335302.ac92d8"
            ]
        ]
    },
    {
        "id": "26a4c21.47961be",
        "type": "file in",
        "z": "d37a1d88.5e6d8",
        "name": "R file",
        "filename": "",
        "format": "utf8",
        "sendError": false,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "af55fd49.ef058"
            ]
        ]
    },
    {
        "id": "af55fd49.ef058",
        "type": "http response",
        "z": "d37a1d88.5e6d8",
        "name": "http out",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "e6335302.ac92d8",
        "type": "function",
        "z": "d37a1d88.5e6d8",
        "name": "filename",
        "func": "\nvar dir = global.get('db_dir');\nvar db = dir + msg.req.params.db + '/';\nvar filepath = db + msg.req.params.id + '.json';\n\nmsg.filename = filepath;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "26a4c21.47961be"
            ]
        ]
    },
    {
        "id": "d94011f.5b10ef",
        "type": "http request",
        "z": "653adf68.8f27f8",
        "name": "R rss_inform",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "localhost:1880/db/red_db/rss_inform",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 270,
        "y": 540,
        "wires": [
            [
                "6e87f76d.d5a4e"
            ]
        ]
    },
    {
        "id": "25ccb1f.f6cfe4e",
        "type": "http request",
        "z": "653adf68.8f27f8",
        "name": "R rss_list",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "localhost:1880/db/red_db/rss_list",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 280,
        "y": 600,
        "wires": [
            [
                "6e87f76d.d5a4e"
            ]
        ]
    },
    {
        "id": "41443e42.61aa38",
        "type": "function",
        "z": "37b5d6e4.8096e2",
        "name": "db",
        "func": "\nvar dir = '/home/pi/';\n\nif( dir.length && dir[dir.length - 1] !== '/' ){\n    dir = dir + '/';\n}\n\nglobal.set('db_dir', dir);\nglobal.set('log_dir', '/home/pi/red_db/');\nglobal.set('db_url', 'localhost:1880/db/');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ef280f45.8039e",
        "type": "http response",
        "z": "653adf68.8f27f8",
        "name": "http out",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "68fc1394.744dcc",
        "type": "http request",
        "z": "653adf68.8f27f8",
        "name": "R trello_cards",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "localhost:1880/db/red_db/trello_cards",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "e382e1a8.d3cdc"
            ]
        ]
    },
    {
        "id": "d167879d.f09098",
        "type": "http request",
        "z": "653adf68.8f27f8",
        "name": "R shop_list",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "localhost:1880/db/red_db/wunder_shop_list",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "e382e1a8.d3cdc"
            ]
        ]
    },
    {
        "id": "252b1827.8c81f8",
        "type": "http in",
        "z": "d37a1d88.5e6d8",
        "name": "PUT /db/:db/:id",
        "url": "/db/:db/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "d74d2dc0.5027c"
            ]
        ]
    },
    {
        "id": "d74d2dc0.5027c",
        "type": "function",
        "z": "d37a1d88.5e6d8",
        "name": "filename",
        "func": "\nvar dir = global.get('db_dir');\nvar db = dir + msg.req.params.db + '/';\nvar filepath = db + msg.req.params.id + '.json';\n\nmsg.filename = filepath;\nmsg.payload = msg.req.body;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "488b50e5.9eca98"
            ]
        ]
    },
    {
        "id": "488b50e5.9eca98",
        "type": "file",
        "z": "d37a1d88.5e6d8",
        "name": "W file",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "e33d1593.589908"
            ]
        ]
    },
    {
        "id": "e33d1593.589908",
        "type": "http response",
        "z": "d37a1d88.5e6d8",
        "name": "http out",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "76f93f5c.38c228",
        "type": "catch",
        "z": "d37a1d88.5e6d8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "11abeb53.d5102d",
                "79719c1a.b4878c"
            ]
        ]
    },
    {
        "id": "11abeb53.d5102d",
        "type": "debug",
        "z": "d37a1d88.5e6d8",
        "name": "db.catch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 270,
        "y": 280,
        "wires": []
    },
    {
        "id": "79719c1a.b4878c",
        "type": "function",
        "z": "d37a1d88.5e6d8",
        "name": "handle",
        "func": "\nif( msg.error.message.includes(\"no such file\") ){\n    \n    msg.statusCode = 404;\n    msg.payload = 'NOT FOUND';\n    return [null, msg];\n}\n\nmsg.topic = 'db';\nmsg.listname = 'error';\nmsg.detail = msg.error.message;\n\nreturn [msg, null];\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 270,
        "y": 320,
        "wires": [
            [
                "d2ae398c.4dcfe8"
            ],
            [
                "657c8a6.9db5bf4"
            ]
        ]
    },
    {
        "id": "657c8a6.9db5bf4",
        "type": "http response",
        "z": "d37a1d88.5e6d8",
        "name": "http out",
        "statusCode": "",
        "headers": {},
        "x": 440,
        "y": 360,
        "wires": []
    },
    {
        "id": "d2ae398c.4dcfe8",
        "type": "subflow:b2184ca7.59e64",
        "z": "d37a1d88.5e6d8",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "7451e044.bff4e",
        "type": "inject",
        "z": "d37a1d88.5e6d8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "9c26d94d.a16f9"
            ]
        ]
    },
    {
        "id": "9c26d94d.a16f9",
        "type": "function",
        "z": "d37a1d88.5e6d8",
        "name": "mem",
        "func": "\n\nvar used = process.memoryUsage().heapUsed / 1024 / 1024;\nvar used_mb = Math.round(used * 100) / 100;\n\nmsg.payload = used_mb + ' MB';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 480,
        "wires": [
            [
                "8cb8596d.ed437"
            ]
        ]
    },
    {
        "id": "8cb8596d.ed437",
        "type": "debug",
        "z": "d37a1d88.5e6d8",
        "name": "db.mem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 400,
        "y": 480,
        "wires": []
    },
    {
        "id": "9864c5c2.9095c",
        "type": "inject",
        "z": "1864c0e1.2101e7",
        "name": "(12:00) Update_check",
        "topic": "sys/update",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 12 * * 6",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "6f7b2cd9.5d3f04",
                "192dd0c1.2bd877"
            ]
        ]
    },
    {
        "id": "192dd0c1.2bd877",
        "type": "subflow:b2184ca7.59e64",
        "z": "1864c0e1.2101e7",
        "x": 360,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6f7b2cd9.5d3f04",
        "type": "exec",
        "z": "1864c0e1.2101e7",
        "command": "apt list --upgradable",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "apt-update",
        "x": 370,
        "y": 1140,
        "wires": [
            [
                "170977ea.8abe98"
            ],
            [],
            []
        ]
    },
    {
        "id": "aab5cdc5.b3bcf",
        "type": "debug",
        "z": "1864c0e1.2101e7",
        "name": "apt-upd",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 660,
        "y": 1180,
        "wires": []
    },
    {
        "id": "170977ea.8abe98",
        "type": "function",
        "z": "1864c0e1.2101e7",
        "name": "parse-upg",
        "func": "\nvar list = msg.payload.split(\"\\n\");\nvar len = list.length - 1;\nmsg.payload = len;\n\nif( len < 20 ){\n    return [msg, null];\n}\n\nvar req_body = {\n    topic: ('sys/update'),\n    msg: (\"Apt upgradable: \" + len)\n};\n\nmsg.headers = {};\nmsg.url = '127.0.0.1:1880/notice';\nmsg.method = 'POST';\nmsg.payload = JSON.stringify(req_body);\n\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 540,
        "y": 1120,
        "wires": [
            [
                "aab5cdc5.b3bcf",
                "78de862.bf9eef8"
            ],
            []
        ]
    },
    {
        "id": "78de862.bf9eef8",
        "type": "http request",
        "z": "1864c0e1.2101e7",
        "name": "Invoke Notice",
        "method": "use",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 720,
        "y": 1100,
        "wires": [
            []
        ]
    }
]
