nodered/20210321-pi4-flow-hub.txt
[{"id":"b49b90bb.306d1","type":"tab","label":"config","disabled":false,"info":""},{"id":"21dad95f.8d08de","type":"tab","label":"hat","disabled":false,"info":""},{"id":"95c0351f.c8f748","type":"tab","label":"cron","disabled":false,"info":""},{"id":"5a09a613.e0de8","type":"tab","label":"hub","disabled":false,"info":""},{"id":"186d6189.93a90e","type":"subflow","name":"mem-info","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"ee243d7f.32724"}]}],"out":[{"x":760,"y":200,"wires":[{"id":"fb43cf17.30886","port":0}]}],"env":[]},{"id":"3ba9ed27.5b9922","type":"websocket-listener","path":"/ws/hub","wholemsg":"false"},{"id":"a5100c3d.f0a338","type":"rpi-sensehat in","z":"21dad95f.8d08de","name":"temp-in","motion":false,"env":true,"stick":false,"x":110,"y":120,"wires":[["c5469e1a.ec75e8"]]},{"id":"e215258c.756eb","type":"rpi-sensehat in","z":"21dad95f.8d08de","name":"stick-in","motion":false,"env":false,"stick":true,"x":110,"y":200,"wires":[["8ac1edae.d1a138","9a73283.ddb99d8"]]},{"id":"c66626d6.708d2","type":"rpi-sensehat in","z":"21dad95f.8d08de","name":"motion-in","motion":true,"env":false,"stick":false,"x":120,"y":540,"wires":[[]]},{"id":"8ac1edae.d1a138","type":"debug","z":"21dad95f.8d08de","name":"stick-in","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":320,"y":200,"wires":[]},{"id":"c5469e1a.ec75e8","type":"delay","z":"21dad95f.8d08de","name":"1-per-2-sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":270,"y":120,"wires":[["10dfb77f.4a3229"]]},{"id":"43fbfb1d.0665ec","type":"debug","z":"21dad95f.8d08de","name":"temp-in","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":120,"wires":[]},{"id":"10dfb77f.4a3229","type":"function","z":"21dad95f.8d08de","name":"save-glob","func":"\n// Higher - less to substract --> higher temp\nvar FACTOR = 1.20;\n\n// ## flow\nvar mem = global.get('mem') || {};\nvar prevTemp = global.get('temp') || {};\n\nvar date = new Date();\n\nvar temp = msg.payload;\ntemp.ts = date.toISOString();\nvar prev = prevTemp.cal || 0;\n\nvar cpu = mem.cputemp || 0;\nvar diff = cpu - temp.temperature;\nvar cal = temp.temperature - (diff/FACTOR);\n//node.warn('DEBUG - prev = ' + prev + ' | cal = ' + cal);\n\n// smooth transition\nvar change = 0;\nif( cal !== prev ){\n    var diffCalc = Math.abs(cal - prev);\n    var step = ( diffCalc < 2 ) ? 0.1 : diffCalc;\n    \n    change = ( cal > prev ) ? step : -step;\n}\n\ntemp.cal = Math.round((prev + change) * 10) / 10;\n\nglobal.set('temp', temp);\nmsg.payload = temp;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":120,"wires":[["43fbfb1d.0665ec","c72e9905.1bf288"]]},{"id":"c9054a1d.dce73","type":"inject","z":"95c0351f.c8f748","name":"10 sec interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["99c16a01.88ebb"]]},{"id":"ee243d7f.32724","type":"exec","z":"186d6189.93a90e","command":"/opt/vc/bin/vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"cpu_temp","x":140,"y":200,"wires":[["2e5a5672.62bce2"],[],[]]},{"id":"2e5a5672.62bce2","type":"function","z":"186d6189.93a90e","name":"fmt-cpu","func":"\nvar dev = global.get('device');\n\nvar newDate = new Date();\nvar cputemp = \n    msg.payload.replace ( /[^\\d.]/g, '' );\n\nmsg.bag = {\n    id: dev.id,\n    cputemp: parseFloat(cputemp),\n    time: newDate\n};\nmsg.payload = '';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":252.99998474121094,"y":104,"wires":[["8170e6ce.bbbf3"]]},{"id":"8170e6ce.bbbf3","type":"exec","z":"186d6189.93a90e","command":"free -k","addpay":false,"append":"","useSpawn":"","timer":"","name":"ram-use","x":360,"y":200,"wires":[["199137d9.e55ca"],[],[]]},{"id":"199137d9.e55ca","type":"function","z":"186d6189.93a90e","name":"fmt-ram","func":"//normal is 40 and below\n//40-60 warning\n//60-80 Red alert\n\nvar mymatch = msg.payload.match(/\\d+/g);\n\n//node.warn('ram nums = ' + JSON.stringify(mymatch));\n\nvar ramtotal = parseInt(mymatch[0]);\nvar ramused = parseInt(mymatch[1]);\nvar ramfree = parseInt(mymatch[5]);\n\nmsg.bag.ram = {\n  total: ramtotal,\n  used: ramused,\n  p: Math.round(ramused / ramtotal * 100) + '%'\n};\n    \n//msg.payload = JSON.stringify(msg.bag);\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["c893dd.bde8fc2"]]},{"id":"c893dd.bde8fc2","type":"exec","z":"186d6189.93a90e","command":"df -m","addpay":false,"append":"","useSpawn":"","timer":"","name":"Space","x":550,"y":200,"wires":[["fb43cf17.30886"],[],[]]},{"id":"fb43cf17.30886","type":"function","z":"186d6189.93a90e","name":"fmt-disk","func":"//Get output into rows\nvar arr = msg.payload.split(\"\\n\");\n//Filter rows\nvar mymatch = arr.filter(function(line){\n    return line.match(/(\\/dev\\/root|\\/mnt\\/mydrive)/);\n});\n//split into cells\nvar rows = [];\nfor(var i in mymatch){\n    rows.push(mymatch[i].split(/\\s{1,}/));\n}\n\n// build an objects\nvar h = 1;\nif( rows[h] ){\n    msg.bag.hd = {\n        total: rows[h][1], \n        used: rows[h][2], \n        p:rows[h][4], \n        path:rows[h][5]\n    };\n}\nvar s = 0;\nmsg.bag.sd = {total: rows[s][1], used: rows[s][2], \n    p:rows[s][4], path:rows[s][5]};\n\nmsg.payload = msg.bag;\ndelete msg.bag;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":100,"wires":[[]]},{"id":"99c16a01.88ebb","type":"subflow:186d6189.93a90e","z":"95c0351f.c8f748","name":"","x":320,"y":80,"wires":[["54f1ae9b.28f528"]]},{"id":"54f1ae9b.28f528","type":"function","z":"95c0351f.c8f748","name":"set-glob","func":"\nglobal.set('mem', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":80,"wires":[["678b4119.53b83","66b6c20c.ac1e2c"]]},{"id":"678b4119.53b83","type":"debug","z":"95c0351f.c8f748","name":"mem-debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":80,"wires":[]},{"id":"9a73283.ddb99d8","type":"function","z":"21dad95f.8d08de","name":"stick","func":"\nvar input = msg.payload;\n\nvar modes = global.get('hat-modes');\nvar defModeInd = modes.findIndex(x => x.def);\nvar modeLen = modes.length;\n\nvar hat = global.get('hat') || {\n    led: false,\n    mode: modes[defModeInd].id,\n};\nif( typeof(hat.ind) === 'undefined' ){\n    hat.ind = defModeInd;\n}\nvar save = false;\n\nif( input.key === \"ENTER\" && input.state === 0 ){\n    hat.led = !hat.led;\n    save = true;\n}\nif( input.key === \"RIGHT\" && input.state === 0 ){\n    hat.ind += 1;\n    if( hat.ind >= modeLen){\n        hat.ind = 0;\n    }\n    \n    hat.mode = modes[hat.ind].id;\n    modes[hat.ind].c = 0;\n    save = true;\n}\nif( input.key === \"LEFT\" && input.state === 0 ){\n    hat.ind += -1;\n    if( hat.ind < 0){\n        hat.ind = modeLen-1;\n    }\n    \n    hat.mode = modes[hat.ind].id;\n    modes[hat.ind].c = 0;\n    save = true;\n}\n\nif( save ){\n    msg.payload = hat;\n    global.set('hat', hat);\n    return [null, msg];\n}\nreturn [msg, null];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":320,"y":240,"wires":[[],["5eb43020.2eb7f","c12b4008.b4cac8"]]},{"id":"c1418ca6.c3395","type":"rpi-sensehat out","z":"21dad95f.8d08de","name":"led","x":830,"y":440,"wires":[]},{"id":"d1bdba30.b49d1","type":"inject","z":"21dad95f.8d08de","name":"led-test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":480,"wires":[["a01d6bc1.34199"]]},{"id":"a01d6bc1.34199","type":"function","z":"21dad95f.8d08de","name":"led-fmt-h","func":"\n/*\nFormat: <x>,<y>,<colour>\n\nx and y must either be a value from 0 to 7, \na * to indicate the entire row or column, \nor a range such as 3-6.\n*/\nvar hat = global.get('hat');\n\nvar ONE = '2,0-3,white';\nvar TWO = '1-3,0,white,3,1,white,2,2,white,1-3,3,white';\n\nmsg.payload = TWO;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["c1418ca6.c3395"]]},{"id":"b4384aea.6402f","type":"inject","z":"21dad95f.8d08de","name":"key-enter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"key\": \"ENTER\", \"state\": 0 }","payloadType":"json","x":120,"y":260,"wires":[["9a73283.ddb99d8"]]},{"id":"c12b4008.b4cac8","type":"debug","z":"21dad95f.8d08de","name":"stick","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":240,"wires":[]},{"id":"649c644a.6fbeb4","type":"comment","z":"21dad95f.8d08de","name":"TODO Alert - humidity","info":"","x":800,"y":120,"wires":[]},{"id":"918e2a64.1256","type":"inject","z":"21dad95f.8d08de","name":"led-inter","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":440,"wires":[["3984453d.affd7a"]]},{"id":"e7555c.868c0aa8","type":"function","z":"21dad95f.8d08de","name":"led-fmt","func":"\n/*\nFormat: <x>,<y>,<colour>\n\nx and y must either be a value from 0 to 7, \n* to indicate the entire row or column, \nor a range such as 3-6.\n*/\n// ## config\nvar BRIGHT = \"\\nD0\";\n\n// ## flow\nvar hat = global.get('hat') || {};\nvar showText = \"NONE\";\n\nif( !hat.led || msg.payload.reset ){\n    showText = '*,*,off';\n}\nelse {\n    var target = msg.payload;\n    showText = target.run();\n}\n\nmsg.payload = showText + BRIGHT;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":440,"wires":[["9f2f8183.72073","c1418ca6.c3395"]]},{"id":"b5c12780.34a738","type":"inject","z":"21dad95f.8d08de","name":"key-right","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"key\": \"RIGHT\", \"state\": 0 }","payloadType":"json","x":260,"y":340,"wires":[["9a73283.ddb99d8"]]},{"id":"5d6d3717.189e3","type":"inject","z":"21dad95f.8d08de","name":"key-left","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"key\": \"LEFT\", \"state\": 0 }","payloadType":"json","x":90,"y":340,"wires":[["9a73283.ddb99d8"]]},{"id":"9f2f8183.72073","type":"debug","z":"21dad95f.8d08de","name":"led-debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":400,"wires":[]},{"id":"5eb43020.2eb7f","type":"trigger","z":"21dad95f.8d08de","name":"","op1":"{\"reset\":true}","op2":"","op1type":"json","op2type":"pay","duration":"10","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":460,"y":320,"wires":[["e7555c.868c0aa8"],["3984453d.affd7a"]]},{"id":"d9c50c4b.cc1cc8","type":"inject","z":"21dad95f.8d08de","name":"key-up","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"key\": \"UP\", \"state\": 0 }","payloadType":"json","x":150,"y":300,"wires":[["9a73283.ddb99d8"]]},{"id":"d5767c3f.fbee1","type":"inject","z":"95c0351f.c8f748","name":"12:00","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"sys/update","payload":"","payloadType":"date","x":120,"y":200,"wires":[["45d7f77a.e64d18"]]},{"id":"fd5f6a5b.9eec48","type":"exec","z":"95c0351f.c8f748","command":"apt list --upgradable","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"apt-list","x":430,"y":240,"wires":[["46cb6933.f99668"],[],[]]},{"id":"46cb6933.f99668","type":"function","z":"95c0351f.c8f748","name":"parse-upg","func":"\n// ## conf\nvar LIMIT = 20;\n\n// ## flow\nvar list = msg.payload.split(\"\\n\");\nvar len = list.length - 1;\n\nif( len < LIMIT ){\n    msg.payload = \"ignore - \" + len;\n    return [msg, null];\n}\n\nvar dev = global.get('device');\nvar req_body = {\n    topic: ('sys/update'),\n    msg: (\n        `[${dev.id}]` \n        + \" Apt upgradable: \" + len\n    )\n};\n\nmsg.headers = {};\nmsg.method = 'POST';\nmsg.payload = req_body;\n\nreturn [null, msg];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":570,"y":200,"wires":[["c4edac6f.5a3ea8"],["c4edac6f.5a3ea8","da4ff837.feda6","19444b9a.e711f4"]]},{"id":"c4edac6f.5a3ea8","type":"debug","z":"95c0351f.c8f748","name":"apt-list","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":180,"wires":[]},{"id":"da4ff837.feda6","type":"http request","z":"95c0351f.c8f748","name":"notice","method":"use","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.3:1880/notice","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":220,"wires":[[]]},{"id":"2fe6936c.70c054","type":"inject","z":"b49b90bb.306d1","name":"on-start","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["899632f4.b9931"]]},{"id":"899632f4.b9931","type":"function","z":"b49b90bb.306d1","name":"confg","func":"\nvar dev = {\n    id: 'hub'\n};\nglobal.set('device', dev);\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":280,"y":100,"wires":[[]]},{"id":"19444b9a.e711f4","type":"http request","z":"95c0351f.c8f748","name":"hook","method":"use","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.3:1880/api/msg","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":260,"wires":[[]]},{"id":"9a155bff.ff996","type":"websocket in","z":"5a09a613.e0de8","name":"/ws/hub","server":"3ba9ed27.5b9922","client":"","x":130,"y":100,"wires":[["84dbed84.60afb"]]},{"id":"e2cdb80a.a7f088","type":"debug","z":"5a09a613.e0de8","name":"ws-hub","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":80,"wires":[]},{"id":"84dbed84.60afb","type":"json","z":"5a09a613.e0de8","name":"","property":"payload","action":"","pretty":false,"x":270,"y":100,"wires":[["e2cdb80a.a7f088","b957f058.cce4b"]]},{"id":"b957f058.cce4b","type":"function","z":"5a09a613.e0de8","name":"hub-handle","func":"\nvar input = msg.payload;\nif( input.topic === 'evt/ram' ){\n    \n    var id = input.data.id;\n    var mem = global.get('hub-mem') || {};\n    mem[id] = input.data;\n    \n    global.set('hub-mem', mem);\n    return [null, msg];\n}\n\n// unhandeled\nreturn [msg, null];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":450,"y":120,"wires":[["e7a178b4.a60c7"],["ef31e689.48af98"]]},{"id":"e7a178b4.a60c7","type":"debug","z":"5a09a613.e0de8","name":"ws-hub-2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":80,"wires":[]},{"id":"66b6c20c.ac1e2c","type":"function","z":"95c0351f.c8f748","name":"send-hub","func":"\nvar data = msg.payload;\n\nmsg.payload ={\n    topic: 'evt/ram',\n    data: data\n};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":120,"wires":[["9dd24e7d.d60c38"]]},{"id":"9dd24e7d.d60c38","type":"link out","z":"95c0351f.c8f748","name":"send-hub-1","links":["3ee85bee.347054"],"x":775,"y":120,"wires":[]},{"id":"3ee85bee.347054","type":"link in","z":"5a09a613.e0de8","name":"hub-in","links":["9dd24e7d.d60c38"],"x":235,"y":140,"wires":[["b957f058.cce4b"]]},{"id":"ef31e689.48af98","type":"debug","z":"5a09a613.e0de8","name":"ws-hub-3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":120,"wires":[]},{"id":"5cc367ac.c2a13","type":"http in","z":"5a09a613.e0de8","name":"G /api/status","url":"/api/status","method":"get","upload":false,"swaggerDoc":"","x":150,"y":260,"wires":[["bc49ed37.9a0378"]]},{"id":"bc49ed37.9a0378","type":"function","z":"5a09a613.e0de8","name":"get-glob","func":"\nvar mem = global.get('hub-mem');\nvar memList = Object.values(mem);\n\nmsg.payload = {\n    total: memList.length,\n    rows: memList\n};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["d6be2601.ba6e68"]]},{"id":"d6be2601.ba6e68","type":"http response","z":"5a09a613.e0de8","name":"","statusCode":"","headers":{},"x":510,"y":260,"wires":[]},{"id":"c72e9905.1bf288","type":"function","z":"21dad95f.8d08de","name":"alert-temp","func":"\n// ## config\nvar TEMP_UPPER = 27;\nvar TEMP_LOWER = 20;\n\n// ## flow\nvar temp = msg.payload;\nvar alObj = global.get('alert-state') || {\n    temp: {}\n};\nvar date = new Date();\nvar ts = date.toISOString();\n\nvar alertTempStart = (\n    alObj.temp.state !== 'alert'\n    && (\n        temp.cal >= TEMP_UPPER\n        || temp.cal <= TEMP_LOWER\n    )\n);\nif( alertTempStart ){\n    alObj.temp.state = 'alert';\n    alObj.temp.ts = ts;\n    global.set('alert-state', alObj);\n    \n    msg.payload = {\n        msg: 'Alert: temperature = ' + temp.cal\n    };\n    \n    return [null, msg];\n}\n\nvar alertTempStop = (\n    alObj.temp.state === 'alert'\n    && (\n        temp.cal < TEMP_UPPER\n        && temp.cal > TEMP_LOWER\n    )\n);\nif( alertTempStop ){\n    alObj.temp.state = 'ok';\n    alObj.temp.ts = ts;\n    global.set('alert-state', alObj);\n    \n    msg.payload = {\n        msg: 'Recovered: temperature = ' + temp.cal\n    };\n    \n    return [null, msg];\n}\n\nreturn [msg, null];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":580,"y":160,"wires":[[],["b1009990.2cad3"]]},{"id":"b1009990.2cad3","type":"function","z":"21dad95f.8d08de","name":"hook","func":"\nmsg.method = 'POST';\nmsg.url = 'http://192.168.1.3:1880/api/msg';\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":160,"wires":[[]]},{"id":"31d2266d.78d9da","type":"http request","z":"21dad95f.8d08de","name":"hook","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":160,"wires":[[]]},{"id":"8b86bf3.8679fc","type":"http in","z":"21dad95f.8d08de","name":"G /api/temp","url":"/api/temp","method":"get","upload":false,"swaggerDoc":"","x":130,"y":620,"wires":[["1e2726af.a1caa9"]]},{"id":"1e2726af.a1caa9","type":"function","z":"21dad95f.8d08de","name":"fmt-temp","func":"\nvar temp = global.get('temp');\nmsg.payload = {\n  rows: [temp]  \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":620,"wires":[["cafff6c2.74c058"]]},{"id":"cafff6c2.74c058","type":"http response","z":"21dad95f.8d08de","name":"","statusCode":"","headers":{},"x":450,"y":620,"wires":[]},{"id":"45d7f77a.e64d18","type":"exec","z":"95c0351f.c8f748","command":"sudo apt update","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"apt-update","x":270,"y":240,"wires":[["51b50148.bc35c8","fd5f6a5b.9eec48"],["51b50148.bc35c8"],[]]},{"id":"51b50148.bc35c8","type":"debug","z":"95c0351f.c8f748","name":"apt-1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":160,"wires":[]},{"id":"92c9eb20.a82e2","type":"comment","z":"95c0351f.c8f748","name":"TODO Log (Central)","info":"","x":290,"y":300,"wires":[]},{"id":"c88af63b.1dd358","type":"inject","z":"21dad95f.8d08de","name":"on-start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["db2793a4.1477a8"]]},{"id":"db2793a4.1477a8","type":"function","z":"21dad95f.8d08de","name":"hat-modes","func":"// ## func\nvar getRandom = function(min, max){\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n};\nvar randomColor = function(){\n    return '#' + getRandom(0, 16777215).toString(16);\n};\n\n// ## conf\nvar modes = [{\n    id: 'sparkle',\n    time: 0.5,\n    run: function(){\n        var r = Math.random();\n        if( r > 0.98 ){\n            return ['*', '*', 'black'];\n        }\n        var p = getRandom(0, 63);\n        \n        // 2 --> 0, 2\n        var y = Math.floor(p / 8);\n        var x = p % 8; \n        var c = randomColor();\n        return [x,y,c].join(',');\n    }\n},{\n    id: 'lamp',\n    time: 5,\n    run: function(){\n        var light = '#eedca5'; // day-white\n        return `*,*,${light}`;\n    }\n},{\n    id: 'rnd',\n    time: 2,\n    run: function(){\n        var colors = ['red', 'green', 'blue', 'purple', 'yellow'];\n        var rndList = [];\n    \n        for(var y=0;y<8;y++){\n            var colorToUse = colors[getRandom(0,colors.length-1)];\n            rndList.push( `0-7,${y},${colorToUse}` );\n        }\n    \n        return rndList.join(',');\n    }\n},{\n    id: 'temp',\n    time: 5,\n    def: true,\n    run: function(){\n        var temp = global.get('temp');\n        var tempStr = Math.floor(temp.cal).toString();\n        if( tempStr.length === 1 ){\n            tempStr = '0' + tempStr;\n        }\n        \n        var tempLen = tempStr.length;\n        var tempList = [];\n        var colorTemp = 'white';\n        \n        for(var i=0; i<tempLen; i++){\n            var digit = Number(tempStr[i]); // 0-9\n            \n            if( digit === 0 ){\n                //fill black\n                tempList.push( `0-7,${i},black` );\n            }\n            else if( digit >= 8 ){\n                //fill white\n                tempList.push( `0-7,${i},${colorTemp}` );\n            }\n            else {\n                // partial white\n                var pos = digit - 1;\n                tempList.push( `0-${pos},${i},${colorTemp}` );\n                \n                // rest black\n                if( pos === 6 ){\n                    tempList.push( `7,${i},black` );\n                }\n                if( pos < 6 ){\n                    tempList.push( `${digit}-7,${i},black` );\n                }\n            }\n        }\n        \n        tempList.push( `0-7,${tempLen}-7,black` );\n        return tempList.join(',');\n    }\n},{\n    id: 'heart',\n    run: function(){\n        var color = 'pink';\n        var list = [];\n        \n        list.push(`1-2,0,${color}`);list.push(`5-6,0,${color}`);\n        list.push(`*,1,${color}`);\n        list.push(`*,2,${color}`);\n        list.push(`*,3,${color}`);\n        list.push(`*,4,${color}`);\n        list.push(`1-6,5,${color}`);\n        list.push(`2-5,6,${color}`);\n        list.push(`3-4,7,${color}`);\n        \n        return list;\n    }\n}];\n\nglobal.set('hat-modes', modes);\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":60,"wires":[[]]},{"id":"56a8ac0f.620774","type":"inject","z":"21dad95f.8d08de","name":"key-d","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"key\": \"DOWN\", \"state\": 0 }","payloadType":"json","x":150,"y":380,"wires":[["9a73283.ddb99d8"]]},{"id":"3984453d.affd7a","type":"function","z":"21dad95f.8d08de","name":"find-mode","func":"\nvar INTER = 0.5;\n\n// ## flow\nvar modes = global.get('hat-modes');\nvar hat = global.get('hat');\n\nvar target = modes.find( x => x.id === hat.mode);\nif( !target ){\n    target = modes.find(x => x.def );\n}\nmsg.payload = target;\n\nif( !target.time ){\n    target.time = 5;\n}\nif( !target.cyc ){\n    target.cyc = Math.floor(target.time / INTER);\n}\nvar setZero = ( \n    typeof(target.c) === 'undefined'\n    || target.c / target.cyc > 100\n);\nif( setZero ){\n    target.c = 0;\n}\n\nvar lus = target.c % target.cyc;\ntarget.c += 1;\n\n//node.warn(`DEBUG - mode = ${target.id} | lus = ${lus}`);\nif( lus === 0 ){\n    return [null, msg];\n}\n\nreturn [msg, null];\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":340,"y":440,"wires":[[],["e7555c.868c0aa8"]]}]