nodered/20211130-pi4-flow-hub.txt
[{"id":"b49b90bb.306d1","type":"tab","label":"config","disabled":false,"info":""},{"id":"21dad95f.8d08de","type":"tab","label":"hat","disabled":false,"info":""},{"id":"95c0351f.c8f748","type":"tab","label":"cron","disabled":false,"info":""},{"id":"5a09a613.e0de8","type":"tab","label":"hub","disabled":false,"info":""},{"id":"e74f2b92.a31178","type":"tab","label":"serve","disabled":false,"info":""},{"id":"186d6189.93a90e","type":"subflow","name":"mem-info","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"ee243d7f.32724"}]}],"out":[{"x":760,"y":200,"wires":[{"id":"fb43cf17.30886","port":0}]}],"env":[]},{"id":"3ba9ed27.5b9922","type":"websocket-listener","path":"/ws/hub","wholemsg":"false"},{"id":"29411507.7decc2","type":"mqtt-broker","name":"local","broker":"localhost","port":"1883","clientid":"pi-hub","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69c4d57b.c5a4ec","type":"redis-config","name":"local","options":"{}","cluster":false,"optionsType":"json"},{"id":"a5100c3d.f0a338","type":"rpi-sensehat in","z":"21dad95f.8d08de","name":"temp-in","motion":false,"env":true,"stick":false,"x":110,"y":160,"wires":[["c5469e1a.ec75e8"]]},{"id":"e215258c.756eb","type":"rpi-sensehat in","z":"21dad95f.8d08de","name":"stick-in","motion":false,"env":false,"stick":true,"x":110,"y":280,"wires":[["8ac1edae.d1a138","1754f714.8f8a09"]]},{"id":"c66626d6.708d2","type":"rpi-sensehat in","z":"21dad95f.8d08de","name":"motion-in","motion":true,"env":false,"stick":false,"x":120,"y":720,"wires":[[]]},{"id":"8ac1edae.d1a138","type":"debug","z":"21dad95f.8d08de","name":"stick-in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":280,"y":260,"wires":[]},{"id":"c5469e1a.ec75e8","type":"delay","z":"21dad95f.8d08de","name":"1-per-2-sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":270,"y":160,"wires":[["10dfb77f.4a3229"]]},{"id":"43fbfb1d.0665ec","type":"debug","z":"21dad95f.8d08de","name":"temp-in","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":160,"wires":[]},{"id":"10dfb77f.4a3229","type":"function","z":"21dad95f.8d08de","name":"save-glob","func":"\n// Higher - less to substract --> higher temp\nvar FACTOR = 0.70;\n\n// ## flow\nvar mem = global.get('mem') || {};\nvar prevTemp = global.get('temp') || {};\n\nvar date = new Date();\n\nvar temp = msg.payload;\ntemp.ts = date.toISOString();\nvar prev = prevTemp.cal || 0;\n\nvar cpu = mem.cputemp || 0;\nvar diff = cpu - temp.temperature;\nvar cal = temp.temperature - (diff/FACTOR);\n//node.warn('DEBUG - prev = ' + prev + ' | cal = ' + cal);\n\n// smooth transition\nvar change = 0;\nif( cal !== prev ){\n    var diffCalc = Math.abs(cal - prev);\n    var step = ( diffCalc < 3 ) ? 0.2 : diffCalc;\n    \n    change = ( cal > prev ) ? step : -step;\n}\n\ntemp.cal = Math.round((prev + change) * 10) / 10;\n\nglobal.set('temp', temp);\nmsg.payload = temp;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":160,"wires":[["43fbfb1d.0665ec","c99b154a.f7f048","c72e9905.1bf288"]]},{"id":"c9054a1d.dce73","type":"inject","z":"95c0351f.c8f748","name":"10 sec interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["99c16a01.88ebb"]]},{"id":"ee243d7f.32724","type":"exec","z":"186d6189.93a90e","command":"/opt/vc/bin/vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"cpu_temp","x":140,"y":200,"wires":[["2e5a5672.62bce2"],[],[]]},{"id":"2e5a5672.62bce2","type":"function","z":"186d6189.93a90e","name":"fmt-cpu","func":"\nvar dev = global.get('device');\n\nvar newDate = new Date();\nvar cputemp = \n    msg.payload.replace ( /[^\\d.]/g, '' );\n\nmsg.bag = {\n    id: dev.id,\n    cputemp: parseFloat(cputemp),\n    time: newDate\n};\nmsg.payload = '';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":252.99998474121094,"y":104,"wires":[["8170e6ce.bbbf3"]]},{"id":"8170e6ce.bbbf3","type":"exec","z":"186d6189.93a90e","command":"free -k","addpay":false,"append":"","useSpawn":"","timer":"","name":"ram-use","x":360,"y":200,"wires":[["199137d9.e55ca"],[],[]]},{"id":"199137d9.e55ca","type":"function","z":"186d6189.93a90e","name":"fmt-ram","func":"//normal is 40 and below\n//40-60 warning\n//60-80 Red alert\n\nvar mymatch = msg.payload.match(/\\d+/g);\n\n//node.warn('ram nums = ' + JSON.stringify(mymatch));\n\nvar ramtotal = parseInt(mymatch[0]);\nvar ramused = parseInt(mymatch[1]);\nvar ramfree = parseInt(mymatch[5]);\n\nmsg.bag.ram = {\n  total: ramtotal,\n  used: ramused,\n  p: Math.round(ramused / ramtotal * 100) + '%'\n};\n    \n//msg.payload = JSON.stringify(msg.bag);\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["c893dd.bde8fc2"]]},{"id":"c893dd.bde8fc2","type":"exec","z":"186d6189.93a90e","command":"df -m","addpay":false,"append":"","useSpawn":"","timer":"","name":"Space","x":550,"y":200,"wires":[["fb43cf17.30886"],[],[]]},{"id":"fb43cf17.30886","type":"function","z":"186d6189.93a90e","name":"fmt-disk","func":"//Get output into rows\nvar arr = msg.payload.split(\"\\n\");\n//Filter rows\nvar mymatch = arr.filter(function(line){\n    return line.match(/(\\/dev\\/root|\\/mnt\\/mydrive)/);\n});\n//split into cells\nvar rows = [];\nfor(var i in mymatch){\n    rows.push(mymatch[i].split(/\\s{1,}/));\n}\n\n// build an objects\nvar h = 1;\nif( rows[h] ){\n    msg.bag.hd = {\n        total: rows[h][1], \n        used: rows[h][2], \n        p:rows[h][4], \n        path:rows[h][5]\n    };\n}\nvar s = 0;\nmsg.bag.sd = {total: rows[s][1], used: rows[s][2], \n    p:rows[s][4], path:rows[s][5]};\n\nmsg.payload = msg.bag;\ndelete msg.bag;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":100,"wires":[[]]},{"id":"99c16a01.88ebb","type":"subflow:186d6189.93a90e","z":"95c0351f.c8f748","name":"","x":320,"y":80,"wires":[["54f1ae9b.28f528"]]},{"id":"54f1ae9b.28f528","type":"function","z":"95c0351f.c8f748","name":"set-glob","func":"\nglobal.set('mem', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":80,"wires":[["678b4119.53b83","66b6c20c.ac1e2c"]]},{"id":"678b4119.53b83","type":"debug","z":"95c0351f.c8f748","name":"mem-debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":80,"wires":[]},{"id":"9a73283.ddb99d8","type":"function","z":"21dad95f.8d08de","name":"stick","func":"\nvar input = msg.payload;\nif( input.state === 0 ){\n    return [msg, null];\n}\n\nvar modes = global.get('hat-modes');\nvar defModeInd = modes.findIndex(x => x.def);\nvar modeLen = modes.length;\n\nvar hat = global.get('hat') || {\n    led: false,\n    mode: modes[defModeInd].id,\n};\nif( typeof(hat.ind) === 'undefined' ){\n    hat.ind = defModeInd;\n}\nvar save = false;\n\nif( input.key === \"ENTER\" && input.state === 1 ){\n    hat.led = !hat.led;\n    save = true;\n}\nif( input.key === \"RIGHT\" && input.state === 1 ){\n    hat.ind += 1;\n    if( hat.ind >= modeLen){\n        hat.ind = 0;\n    }\n    \n    hat.mode = modes[hat.ind].id;\n    save = true;\n}\nif( input.key === \"LEFT\" && input.state === 1 ){\n    hat.ind += -1;\n    if( hat.ind < 0){\n        hat.ind = modeLen-1;\n    }\n    \n    hat.mode = modes[hat.ind].id;\n    save = true;\n}\n\nvar upOrDown = (\n    [\"UP\", \"DOWN\"].includes(input.key) \n    && [1,2].includes(input.state)\n);\nif( upOrDown ){\n    \n    var activeObj = modes[hat.ind];\n    \n    if( activeObj.change ){\n        var action = input.key.toLowerCase();\n        activeObj.change(activeObj.bag, action);\n    }\n    \n    // reset loop, without blinking\n    modes[hat.ind].c = 0; \n}\n\nif( save ){\n    \n    modes[hat.ind].c = 0;\n    \n    msg.payload = hat;\n    global.set('hat', hat);\n    \n    return [null, msg];\n}\nreturn [msg, null];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":510,"y":340,"wires":[[],["5eb43020.2eb7f","c12b4008.b4cac8"]]},{"id":"c1418ca6.c3395","type":"rpi-sensehat out","z":"21dad95f.8d08de","name":"led","x":830,"y":580,"wires":[]},{"id":"d1bdba30.b49d1","type":"inject","z":"21dad95f.8d08de","name":"led-test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":640,"wires":[["a01d6bc1.34199"]]},{"id":"a01d6bc1.34199","type":"function","z":"21dad95f.8d08de","name":"led-fmt-h","func":"\nvar scalePerc = function(p, min, max){\n    return p * (max - min) + min;\n};\nvar displayFill = function(num, x, c){\n    var rev = Math.abs(num - 8);\n    if( rev === 7 ){\n        return (`${x},${rev},${c}`);\n    }\n    else {\n        return (`${x},${rev}-7,${c}`);\n    }\n};\n\nvar mem = global.get('hub-mem');\n\nvar hubMem = Number(mem.hub.ram.p.replace('%', ''));\nvar kodiMem = Number(mem.kodi.ram.p.replace('%', ''));\n\nvar sHub = Math.round(scalePerc(hubMem / 100, 0, 7));\nvar sKodi = Math.round(scalePerc(kodiMem / 100, 0, 7));\n\nvar txt = ['*,*,black'];\ntxt.push( displayFill(sHub, '0-3', '#277573') );\ntxt.push( displayFill(sKodi, '4-7', '#277573') );\n\nnode.warn(txt);\nmsg.payload = txt.join(',');\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":640,"wires":[["6ca6b73e.41a2a8","c1418ca6.c3395"]]},{"id":"b4384aea.6402f","type":"inject","z":"21dad95f.8d08de","name":"key-enter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"key\": \"ENTER\", \"state\": 1 }","payloadType":"json","x":120,"y":340,"wires":[["f31ddeb9.436d28"]]},{"id":"c12b4008.b4cac8","type":"debug","z":"21dad95f.8d08de","name":"stick","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":340,"wires":[]},{"id":"649c644a.6fbeb4","type":"comment","z":"21dad95f.8d08de","name":"TODO - Move Alerts to HUB","info":"","x":820,"y":160,"wires":[]},{"id":"918e2a64.1256","type":"inject","z":"21dad95f.8d08de","name":"led-inter","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":580,"wires":[["3984453d.affd7a"]]},{"id":"e7555c.868c0aa8","type":"function","z":"21dad95f.8d08de","name":"led-fmt","func":"\n/*\nFormat: <x>,<y>,<colour>\n\nx and y must either be a value from 0 to 7, \n* to indicate the entire row or column, \nor a range such as 3-6.\n*/\n// ## config\nvar BRIGHT = \"\\nD0\";\n\n// ## flow\nvar hat = global.get('hat') || {};\nvar showText = \"NONE\";\n\nif( !hat.led || msg.payload.reset ){\n    showText = '*,*,off';\n}\nelse {\n    var target = msg.payload;\n    showText = target.run(target.bag);\n}\n\nmsg.payload = showText + BRIGHT;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":580,"wires":[["9f2f8183.72073","c1418ca6.c3395"]]},{"id":"b5c12780.34a738","type":"inject","z":"21dad95f.8d08de","name":"key-right","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"key\": \"RIGHT\" }","payloadType":"json","x":260,"y":420,"wires":[["f31ddeb9.436d28"]]},{"id":"5d6d3717.189e3","type":"inject","z":"21dad95f.8d08de","name":"key-left","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"key\": \"LEFT\", \"state\": 1 }","payloadType":"json","x":90,"y":420,"wires":[["f31ddeb9.436d28"]]},{"id":"9f2f8183.72073","type":"debug","z":"21dad95f.8d08de","name":"led-debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":540,"wires":[]},{"id":"5eb43020.2eb7f","type":"trigger","z":"21dad95f.8d08de","name":"","op1":"{\"reset\":true}","op2":"","op1type":"json","op2type":"pay","duration":"10","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":630,"y":420,"wires":[["e7555c.868c0aa8"],["3984453d.affd7a"]]},{"id":"d9c50c4b.cc1cc8","type":"inject","z":"21dad95f.8d08de","name":"key-up","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"key\": \"UP\", \"state\": 1 }","payloadType":"json","x":150,"y":380,"wires":[["f31ddeb9.436d28"]]},{"id":"d5767c3f.fbee1","type":"inject","z":"95c0351f.c8f748","name":"12:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"sys/update","payload":"","payloadType":"date","x":120,"y":220,"wires":[["e2d5511f.6ea198","672580a0.7e8f9"]]},{"id":"fd5f6a5b.9eec48","type":"exec","z":"95c0351f.c8f748","command":"apt list --upgradable","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"apt-list","x":570,"y":220,"wires":[["46cb6933.f99668"],[],[]]},{"id":"46cb6933.f99668","type":"function","z":"95c0351f.c8f748","name":"parse-upg","func":"\n// ## conf\nvar LIMIT = 20;\n\n// ## flow\nvar list = msg.payload.split(\"\\n\");\nvar len = list.length - 2;\nmsg.found = len;\n\nif( len < LIMIT ){\n    msg.payload = \"ignore - \" + len;\n    return [msg, null];\n}\n\nvar dev = global.get('device');\nvar req_body = {\n    topic: ('sys/update'),\n    msg: (\n        `[${dev.id}]` \n        + \" Apt upgradable: \" + len\n    )\n};\n\nmsg.headers = {};\nmsg.method = 'POST';\nmsg.payload = req_body;\n\nreturn [null, msg];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":730,"y":220,"wires":[["c4edac6f.5a3ea8","e79b162.9f330e8"],["c4edac6f.5a3ea8","da4ff837.feda6","19444b9a.e711f4","e79b162.9f330e8"]]},{"id":"c4edac6f.5a3ea8","type":"debug","z":"95c0351f.c8f748","name":"apt-list","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":220,"wires":[]},{"id":"da4ff837.feda6","type":"http request","z":"95c0351f.c8f748","name":"notice","method":"use","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.3:1880/notice","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":260,"wires":[[]]},{"id":"2fe6936c.70c054","type":"inject","z":"b49b90bb.306d1","name":"on-start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"config loaded...","payloadType":"str","x":120,"y":100,"wires":[["899632f4.b9931","1a41e8f2.4b143f","7b54e687.70fd48"]]},{"id":"899632f4.b9931","type":"function","z":"b49b90bb.306d1","name":"confg","func":"\nvar dev = {\n    id: 'hub'\n};\nvar svc = {\n    kodi: {\n        url: 'http://192.168.1.3:1880'\n    }\n};\nvar flow_file = '/home/pi/.node-red/flows_toman-pi4b.json';\n\nglobal.set('device', dev);\nglobal.set('svc', svc);\nglobal.set('flow_file', flow_file);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":140,"wires":[[]]},{"id":"19444b9a.e711f4","type":"http request","z":"95c0351f.c8f748","name":"hook","method":"use","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.3:1880/api/msg","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":300,"wires":[[]]},{"id":"9a155bff.ff996","type":"websocket in","z":"5a09a613.e0de8","name":"/ws/hub","server":"3ba9ed27.5b9922","client":"","x":130,"y":100,"wires":[["84dbed84.60afb"]]},{"id":"e2cdb80a.a7f088","type":"debug","z":"5a09a613.e0de8","name":"ws-hub","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":80,"wires":[]},{"id":"84dbed84.60afb","type":"json","z":"5a09a613.e0de8","name":"","property":"payload","action":"","pretty":false,"x":270,"y":100,"wires":[["e2cdb80a.a7f088","b957f058.cce4b"]]},{"id":"b957f058.cce4b","type":"function","z":"5a09a613.e0de8","name":"hub-handle","func":"\n// ## conf\nvar evlist = [\n    { topic: 'evt/ram', mem: 'hub-mem', history: 'ram-history' },\n    { topic: 'evt/sys', mem: 'hub-os' },\n    { topic: 'evt/weather', mem: 'hub-weather' },\n    { topic: 'evt/log', mem: null },\n    { topic: 'evt/temp', mem: 'temp' }\n];\n\n// ## func\nvar save_mem = function(label, obj){\n    var id = obj.id;\n    var mem = global.get(label) || {};\n    \n    if( id ){\n        mem[id] = obj;\n    }\n    else{\n        mem = obj;\n    }\n    \n    global.set(label, mem);\n    return mem;\n};\n\n// ## flow\nvar topic = msg.payload.topic || msg.topic;\nvar data = msg.payload.data || msg.payload;\n\nvar found = evlist.find( x => x.topic === topic );\nif( !found ){\n    // unhandeled\n    msg.payload.topic = msg.topic;\n    return [msg, null];\n}\n\nif( found.mem ){\n    save_mem(found.mem, data);\n}\nif( found.history ){\n    \n    var db_host = \"http://localhost:1880\";\n    msg.url = db_host + '/api/db/' + found.history;\n    msg.payload = data;\n}\n\nreturn [null, msg];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":120,"wires":[["e7a178b4.a60c7"],["ef31e689.48af98","e3b93d57.f3b288"]]},{"id":"e7a178b4.a60c7","type":"debug","z":"5a09a613.e0de8","name":"ws-hub-ignore","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":80,"wires":[]},{"id":"66b6c20c.ac1e2c","type":"function","z":"95c0351f.c8f748","name":"send-hub","func":"\nvar data = msg.payload;\n\nmsg.payload ={\n    topic: 'evt/ram',\n    data: data\n};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":120,"wires":[["9dd24e7d.d60c38"]]},{"id":"9dd24e7d.d60c38","type":"link out","z":"95c0351f.c8f748","name":"send-hub-1","links":["3ee85bee.347054"],"x":775,"y":120,"wires":[]},{"id":"3ee85bee.347054","type":"link in","z":"5a09a613.e0de8","name":"hub-in","links":["9dd24e7d.d60c38"],"x":235,"y":140,"wires":[["b957f058.cce4b"]]},{"id":"ef31e689.48af98","type":"debug","z":"5a09a613.e0de8","name":"ws-hub-pass","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"5cc367ac.c2a13","type":"http in","z":"5a09a613.e0de8","name":"G /api/status","url":"/api/status","method":"get","upload":false,"swaggerDoc":"","x":150,"y":320,"wires":[["bc49ed37.9a0378"]]},{"id":"bc49ed37.9a0378","type":"function","z":"5a09a613.e0de8","name":"get-glob","func":"\n// ## config\nvar map = {\n    '/api/status': 'hub-mem',\n    '/api/sys': 'hub-os'\n};\n\n// ## flow\nvar url = msg.req.url;\nvar label = map[url];\n\nif( !label ){\n    msg.statusCode = 404;\n    msg.payload = 'Not found';\n}\nelse {\n    var mem = global.get(label) || {};\n    var memList = Object.values(mem);\n    \n    msg.payload = {\n        total: memList.length,\n        rows: memList\n    };\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":320,"wires":[["d6be2601.ba6e68"]]},{"id":"d6be2601.ba6e68","type":"http response","z":"5a09a613.e0de8","name":"","statusCode":"","headers":{},"x":510,"y":320,"wires":[]},{"id":"c72e9905.1bf288","type":"function","z":"21dad95f.8d08de","name":"alert-temp","func":"\n// ## config\nvar TEMP_UPPER = 28;\nvar TEMP_LOWER = 18;\n\n// ## flow\nvar temp = msg.payload;\nvar alObj = global.get('alert-state') || {\n    temp: {}\n};\nvar date = new Date();\nvar ts = date.toISOString();\n\nvar alertTempStart = (\n    alObj.temp.state !== 'alert'\n    && (\n        temp.cal > TEMP_UPPER\n        || temp.cal < TEMP_LOWER\n    )\n);\nif( alertTempStart ){\n    alObj.temp.state = 'alert';\n    alObj.temp.ts = ts;\n    global.set('alert-state', alObj);\n    \n    msg.payload = {\n        msg: 'Alert: temperature = ' + temp.cal\n    };\n    \n    return [null, msg];\n}\n\nvar alertTempStop = (\n    alObj.temp.state === 'alert'\n    && (\n        temp.cal < TEMP_UPPER - 1\n        && temp.cal > TEMP_LOWER + 1\n    )\n);\nif( alertTempStop ){\n    alObj.temp.state = 'ok';\n    alObj.temp.ts = ts;\n    global.set('alert-state', alObj);\n    \n    msg.payload = {\n        msg: 'Recovered: temperature = ' + temp.cal\n    };\n    \n    return [null, msg];\n}\n\nreturn [msg, null];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":600,"y":200,"wires":[[],["b1009990.2cad3"]]},{"id":"b1009990.2cad3","type":"function","z":"21dad95f.8d08de","name":"hook","func":"\nmsg.method = 'POST';\nmsg.url = 'http://192.168.1.3:1880/api/msg';\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":240,"wires":[[]]},{"id":"31d2266d.78d9da","type":"http request","z":"21dad95f.8d08de","name":"hook","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":200,"wires":[[]]},{"id":"8b86bf3.8679fc","type":"http in","z":"21dad95f.8d08de","name":"G /api/temp","url":"/api/temp","method":"get","upload":false,"swaggerDoc":"","x":130,"y":780,"wires":[["1e2726af.a1caa9"]]},{"id":"1e2726af.a1caa9","type":"function","z":"21dad95f.8d08de","name":"fmt-temp","func":"\nvar temp = global.get('temp');\nmsg.payload = {\n  rows: [temp]  \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":780,"wires":[["cafff6c2.74c058"]]},{"id":"cafff6c2.74c058","type":"http response","z":"21dad95f.8d08de","name":"","statusCode":"","headers":{},"x":490,"y":780,"wires":[]},{"id":"45d7f77a.e64d18","type":"exec","z":"95c0351f.c8f748","command":"sudo apt update","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"apt-update","x":530,"y":300,"wires":[["51b50148.bc35c8","fd5f6a5b.9eec48"],["51b50148.bc35c8"],[]]},{"id":"51b50148.bc35c8","type":"debug","z":"95c0351f.c8f748","name":"apt-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":320,"wires":[]},{"id":"c88af63b.1dd358","type":"inject","z":"21dad95f.8d08de","name":"on-start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["db2793a4.1477a8","ccc2a148.fa46"]]},{"id":"db2793a4.1477a8","type":"function","z":"21dad95f.8d08de","name":"hat-modes","func":"// ## func\nvar getRandom = function(min, max){\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n};\nvar randomColor = function(){\n    return '#' + getRandom(0, 16777215).toString(16);\n};\n\n// ## conf\nvar modes = [{\n    id: 'sparkle',\n    time: 0.5,\n    run: function(){\n        var r = Math.random();\n        if( r > 0.98 ){\n            return ['*', '*', 'black'];\n        }\n        var p = getRandom(0, 63);\n        \n        // 2 --> 0, 2\n        var y = Math.floor(p / 8);\n        var x = p % 8; \n        var c = randomColor();\n        return [x,y,c].join(',');\n    }\n},{\n    id: 'lamp',\n    time: 5,\n    bag: {\n        level: 8, // Full by default\n        light: '#eedca5' // day-white\n    },\n    change: function(arg, dir){\n        \n        var toadd = ( dir === 'up' ) ? 1 : -1;\n        arg.level += toadd;\n        // constrain min-max\n        arg.level = Math.max(1, arg.level);\n        arg.level = Math.min(8, arg.level);\n        return true;\n    },\n    run: function(arg){\n        \n        var rows = [];\n        \n        for(var y=7;y>=0;y--){\n            var color = ( y < arg.level ) ?\n                arg.light : 'black';\n            \n            rows.push(`*,${7-y},${color}`);\n        }\n        \n        return rows.join(',');\n    }\n},{\n    id: 'rnd',\n    time: 1,\n    run: function(){\n        var rndList = [];\n    \n        for(var y=0; y<8; y++){\n            var colorToUse = randomColor();\n            rndList.push( `0-7,${y},${colorToUse}` );\n        }\n    \n        return rndList.join(',');\n    }\n},{\n    id: 'temp-num',\n    time: 5,\n    def: true,\n    bag: {\n        //light: 'white'\n        light: '#18704a', // greenish\n        light2: '#b02121' // red\n    },\n    run: function(arg){\n        \n        var colorDisplay = flow.get('colorDisplay');\n        var numMatrix = flow.get('numMatrix');\n        var temp = global.get('temp') || {cal:10};\n        var outside = global.get('hub-weather') || {temp:10};\n        \n        var num = Math.floor(temp.cal);\n        var num2 = Math.round(outside.temp);\n        \n        var matrix = numMatrix(num, Math.abs(num2) );\n        \n        var outsideColor = (num2 > 0) ? arg.light2 : 'white';\n        return colorDisplay(matrix, arg.light, outsideColor);\n        \n    }\n},{\n    id: 'heart',\n    run: function(){\n        var color = 'purple';\n        var list = [];\n        \n        list.push(`1-2,0,${color}`);list.push(`5-6,0,${color}`);\n        list.push(`*,1,${color}`);\n        list.push(`*,2,${color}`);\n        list.push(`*,3,${color}`);\n        list.push(`*,4,${color}`);\n        list.push(`1-6,5,${color}`);\n        list.push(`2-5,6,${color}`);\n        list.push(`3-4,7,${color}`);\n        \n        return list;\n    }\n}];\n\nglobal.set('hat-modes', modes);\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":60,"wires":[["aa5b7c10.9d3918"]]},{"id":"56a8ac0f.620774","type":"inject","z":"21dad95f.8d08de","name":"key-d","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"key\": \"DOWN\", \"state\": 1 }","payloadType":"json","x":150,"y":460,"wires":[["f31ddeb9.436d28"]]},{"id":"3984453d.affd7a","type":"function","z":"21dad95f.8d08de","name":"find-mode","func":"\nvar INTER = 0.5;\n\n// ## flow\nvar modes = global.get('hat-modes');\nvar hat = global.get('hat') || {};\n\nvar target = modes.find( x => x.id === hat.mode);\nif( !target ){\n    target = modes.find(x => x.def );\n}\nmsg.payload = target;\n\nif( !target.time ){\n    target.time = 5;\n}\nif( !target.cyc ){\n    target.cyc = Math.floor(target.time / INTER);\n}\nvar setZero = ( \n    typeof(target.c) === 'undefined'\n    || target.c / target.cyc > 100\n);\nif( setZero ){\n    target.c = 0;\n}\n\nvar lus = target.c % target.cyc;\ntarget.c += 1;\n\n//node.warn(`DEBUG - mode = ${target.id} | lus = ${lus}`);\nif( lus === 0 ){\n    return [null, msg];\n}\n\nreturn [msg, null];\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":340,"y":580,"wires":[[],["e7555c.868c0aa8","77b3a559.f8d47c"]]},{"id":"580ea5f3.a32234","type":"inject","z":"95c0351f.c8f748","name":"05:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"bkp/flow","payload":"","payloadType":"date","x":120,"y":440,"wires":[["564c18f.ceb1e68"]]},{"id":"564c18f.ceb1e68","type":"function","z":"95c0351f.c8f748","name":"bkp-flow","func":"\nmsg.filename = global.get('flow_file');\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":440,"wires":[["1382d43e.814e1c"]]},{"id":"1382d43e.814e1c","type":"file in","z":"95c0351f.c8f748","name":"R file","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":410,"y":460,"wires":[["7f25e9d5.a893b8","a0a9023c.d45598"]]},{"id":"7f25e9d5.a893b8","type":"function","z":"95c0351f.c8f748","name":"bkp-send","func":"\nvar dev = global.get('device');\nvar svc = global.get('svc');\n\nmsg.method = 'POST';\nmsg.url = svc.kodi.url + '/db/bkp-flow/' + dev.id\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":440,"wires":[["265921fa.6b66a6"]]},{"id":"a0a9023c.d45598","type":"debug","z":"95c0351f.c8f748","name":"bkp-flow-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":400,"wires":[]},{"id":"265921fa.6b66a6","type":"http request","z":"95c0351f.c8f748","name":"db","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":440,"wires":[["39ede01e.bb302"]]},{"id":"88a318c0.a7234","type":"comment","z":"5a09a613.e0de8","name":"TODO save Temp readings / Link alerts","info":"","x":710,"y":260,"wires":[]},{"id":"c99b154a.f7f048","type":"function","z":"21dad95f.8d08de","name":"alert-hum","func":"\n// ## config\nvar LOWER = 15;\nvar UPPER = 50;\n\n// ## flow\nvar temp = msg.payload;\nvar alObj = global.get('alert-state') || {};\nif( !alObj.hum ){\n    alObj.hum = {};\n}\nvar date = new Date();\nvar ts = date.toISOString();\n\nvar alertTempStart = (\n    alObj.hum.state !== 'alert'\n    && (\n        temp.humidity > UPPER\n        || temp.humidity < LOWER\n    )\n);\nif( alertTempStart ){\n    alObj.hum.state = 'alert';\n    alObj.hum.ts = ts;\n    global.set('alert-state', alObj);\n    \n    msg.payload = {\n        msg: 'Alert: hum = ' + temp.humidity\n    };\n    \n    return [null, msg];\n}\n\nvar alertTempStop = (\n    alObj.hum.state === 'alert'\n    && (\n        temp.humidity < UPPER - 1\n        && temp.humidity > LOWER + 1\n    )\n);\nif( alertTempStop ){\n    alObj.hum.state = 'ok';\n    alObj.hum.ts = ts;\n    global.set('alert-state', alObj);\n    \n    msg.payload = {\n        msg: 'Recovered: humidity = ' + temp.humidity\n    };\n    \n    return [null, msg];\n}\n\nreturn [msg, null];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":580,"y":240,"wires":[[],["b1009990.2cad3"]]},{"id":"e2d5511f.6ea198","type":"function","z":"95c0351f.c8f748","name":"log","func":"\nvar dev = global.get('device');\n\nmsg.payload = {\n    id: dev.id,\n    level: 'debug',\n    action: msg.topic,\n    detail: 'start'\n};\nmsg.topic = 'evt/log';\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":180,"wires":[["85f81ef5.a4215"]]},{"id":"85f81ef5.a4215","type":"mqtt out","z":"95c0351f.c8f748","name":"","topic":"","qos":"0","retain":"false","broker":"29411507.7decc2","x":410,"y":160,"wires":[]},{"id":"e79b162.9f330e8","type":"function","z":"95c0351f.c8f748","name":"report","func":"\nvar dev = global.get('device');\n\nvar cronTopic = msg.topic;\nvar update = msg.found;\nvar date = new Date();\n\nvar log = {\n    topic: \"evt/log\",\n    payload: {\n        id: dev.id,\n        level: 'info',\n        action: cronTopic,\n        detail: update\n    }\n};\n\nvar sys = {\n  topic: \"evt/sys\",\n  payload: {\n      id: dev.id,\n      ts: date.toISOString(),\n      cron: cronTopic,\n      os: msg.os_name,\n      update: update\n  }\n};\n\nreturn [[log, sys]];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":160,"wires":[["edf91b7f.009f78"]]},{"id":"edf91b7f.009f78","type":"mqtt out","z":"95c0351f.c8f748","name":"","topic":"","qos":"1","retain":"false","broker":"29411507.7decc2","x":970,"y":160,"wires":[]},{"id":"39ede01e.bb302","type":"debug","z":"95c0351f.c8f748","name":"bkp-flow-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":440,"wires":[]},{"id":"f31ddeb9.436d28","type":"function","z":"21dad95f.8d08de","name":"key-sim","func":"\nmsg.payload.state = 1;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["9a73283.ddb99d8"]]},{"id":"1754f714.8f8a09","type":"delay","z":"21dad95f.8d08de","name":"2-per-sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":280,"y":300,"wires":[["9a73283.ddb99d8"]]},{"id":"672580a0.7e8f9","type":"exec","z":"95c0351f.c8f748","command":"cat /etc/os-release","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"os-release","x":230,"y":280,"wires":[["2d89d3b2.436274","fa857518.1cc51"],["2d89d3b2.436274"],[]]},{"id":"2d89d3b2.436274","type":"debug","z":"95c0351f.c8f748","name":"os-rel","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":220,"wires":[]},{"id":"fa857518.1cc51","type":"function","z":"95c0351f.c8f748","name":"fmt-os","func":"\nvar print = msg.payload;\nvar lines = print.split(\"\\n\");\nvar name_tuple = lines.find(x => x.includes(\"PRETTY_NAME\"));\nvar name = name_tuple.split('=')[1].replace(/\\\"/g, '');\n\nmsg.os_name = name;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":260,"wires":[["45d7f77a.e64d18"]]},{"id":"38022445.53559c","type":"mqtt in","z":"5a09a613.e0de8","name":"","topic":"evt/+","qos":"2","datatype":"json","broker":"29411507.7decc2","x":130,"y":220,"wires":[["8668a009.c07588","b957f058.cce4b"]]},{"id":"8668a009.c07588","type":"debug","z":"5a09a613.e0de8","name":"mqtt-evt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":240,"wires":[]},{"id":"eb978b1f.2bf828","type":"http in","z":"5a09a613.e0de8","name":"G /api/sys","url":"/api/sys","method":"get","upload":false,"swaggerDoc":"","x":140,"y":380,"wires":[["bc49ed37.9a0378"]]},{"id":"6ca6b73e.41a2a8","type":"debug","z":"21dad95f.8d08de","name":"led-test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":660,"wires":[]},{"id":"ccc2a148.fa46","type":"function","z":"21dad95f.8d08de","name":"hat-numbers","func":"\nvar number = [\n0,1,1,1, //# Zero\n0,1,0,1,\n0,1,0,1,\n0,1,1,1,\n\n0,0,1,0, //# One\n0,1,1,0,\n0,0,1,0,\n0,1,1,1,\n\n0,1,1,1, //# Two\n0,0,1,1,\n0,1,1,0,\n0,1,1,1,\n\n0,1,1,1, //# Three\n0,0,1,1,\n0,0,1,1,\n0,1,1,1,\n\n0,1,0,1, //# Four\n0,1,1,1,\n0,0,0,1,\n0,0,0,1,\n\n0,1,1,1, //# Five\n0,1,1,0,\n0,0,1,1,\n0,1,1,1,\n\n0,1,0,0, //# Six\n0,1,1,1,\n0,1,0,1,\n0,1,1,1,\n\n0,1,1,1, //# Seven\n0,0,0,1,\n0,0,1,0,\n0,1,0,0,\n\n0,1,1,1, //# Eight\n0,1,1,1,\n0,1,1,1,\n0,1,1,1,\n\n0,1,1,1, //# Nine\n0,1,0,1,\n0,1,1,1,\n0,0,0,1\n];\n\nflow.set('led_number', number);\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":100,"wires":[[]]},{"id":"aa5b7c10.9d3918","type":"function","z":"21dad95f.8d08de","name":"hat-display","func":"\nvar number = flow.get('led_number');\nvar display = [\n0,0,0,0,0,0,0,0,\n0,0,0,0,0,0,0,0,\n0,0,0,0,0,0,0,0,\n0,0,0,0,0,0,0,0,\n0,0,0,0,0,0,0,0,\n0,0,0,0,0,0,0,0,\n0,0,0,0,0,0,0,0,\n0,0,0,0,0,0,0,0\n];\n\nvar colorDisplay = function(matrix, color1, color2){\n    var colored = [];\n    for(var z=0; z < matrix.length; z++){\n        var x = z % 8;\n        var y = Math.floor(z / 8);\n        \n        var kon = (z < 32 ) ? color1 : color2;\n        var k = (matrix[z]) ? kon : 'black';\n        \n        colored.push(`${x},${y},${k}`);\n    }\n    \n    return colored.join(',');\n};\n\nvar numMatrix = function(num, num2){\n    \n    var digits = 4;\n    var pixel_offset = 0;\n    var index = 0;\n    \n    for(var i=0; i < digits; i++){\n        for(var c=0; c < digits; c++){\n            var f1 = Math.floor(num / 10);\n            var s1 = (num % 10);\n            \n            var f2 = Math.floor(num2 / 10);\n            var s2 = (num2 % 10);\n            \n            display[index] = number[f1 * 16 + pixel_offset];\n            display[index+4] = number[s1 * 16 + pixel_offset];\n            display[index+32] = number[f2 * 16 + pixel_offset];\n            display[index+36] = number[s2 * 16 + pixel_offset];\n            /*\n            node.warn('f2 = ' + f2 \n                + ' | num = ' + (f2 * 16 + pixel_offset)\n                + ' | num = '+ number[f2 * 16 + pixel_offset]\n            );\n            */\n            pixel_offset += 1;\n            index += 1;\n        }\n        index += 4;\n    }\n    return display;\n};\n\n\nflow.set('led_display', display);\nflow.set('colorDisplay', colorDisplay);\nflow.set('numMatrix', numMatrix);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":60,"wires":[[]]},{"id":"1a41e8f2.4b143f","type":"function","z":"b49b90bb.306d1","name":"weather-file","func":"\nmsg.filename = '/home/pi/db/weather_creds.json';\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":180,"wires":[["57dadd5a.1e4274"]]},{"id":"7b54e687.70fd48","type":"debug","z":"b49b90bb.306d1","name":"on-start","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":100,"wires":[]},{"id":"8df7aaff.2b8de","type":"inject","z":"95c0351f.c8f748","name":"15-min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"feed/weather","payload":"","payloadType":"date","x":120,"y":540,"wires":[["927eb17f.2183d"]]},{"id":"927eb17f.2183d","type":"function","z":"95c0351f.c8f748","name":"weather-req","func":"\nvar w_creds = global.get('weather_config');\nvar host = w_creds.host;\nvar key = w_creds.key;\nvar city = w_creds.city;\n\n\nmsg.url = `https://${host}/data/2.5/weather`;\nmsg.url += `?q=${city}&appid=${key}&units=metric`;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":580,"wires":[["98003770.446928"]]},{"id":"98003770.446928","type":"http request","z":"95c0351f.c8f748","name":"weather","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":540,"wires":[["14022748.83a571","ccae1980.327a3"]]},{"id":"ccae1980.327a3","type":"debug","z":"95c0351f.c8f748","name":"weather","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":520,"wires":[]},{"id":"14022748.83a571","type":"function","z":"95c0351f.c8f748","name":"weather-fmt","func":"\nvar got = msg.payload;\nvar date = new Date();\n\nvar sunrise = new Date(got.sys.sunrise * 1000);\nvar sunset = new Date(got.sys.sunset * 1000);\n\nvar obj = {\n    temp: got.main.temp,\n    humidity: got.main.humidity,\n    pressure: got.main.pressure,\n    sun: {\n        sunrise: sunrise,\n        sunset: sunset,\n    },\n    other: {\n        sky: got.weather[0].main.toLowerCase(),\n        wind: got.wind,\n        clouds: got.clouds\n    },\n    ts: date.toISOString()\n};\n\nmsg.topic = 'evt/weather';\nmsg.payload = obj;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":580,"wires":[["50fb9a86.c259ec","840f0b14.58b9c"]]},{"id":"50fb9a86.c259ec","type":"mqtt out","z":"95c0351f.c8f748","name":"","topic":"","qos":"1","retain":"false","broker":"29411507.7decc2","x":730,"y":580,"wires":[]},{"id":"840f0b14.58b9c","type":"debug","z":"95c0351f.c8f748","name":"w-fmt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":540,"wires":[]},{"id":"57dadd5a.1e4274","type":"file in","z":"b49b90bb.306d1","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":450,"y":180,"wires":[["3fb74ea1.71471a"]]},{"id":"3fb74ea1.71471a","type":"json","z":"b49b90bb.306d1","name":"","property":"payload","action":"","pretty":false,"x":590,"y":180,"wires":[["20664543.f7ba6a"]]},{"id":"20664543.f7ba6a","type":"function","z":"b49b90bb.306d1","name":"weather-conf","func":"\nvar weather = msg.payload;\n\nglobal.set('weather_config', weather);\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":180,"wires":[[]]},{"id":"11f88b0.d8869f5","type":"http in","z":"e74f2b92.a31178","name":"G /api/cache/:key?","url":"/api/cache/:key?","method":"get","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["f526f70c.5996a"]]},{"id":"f526f70c.5996a","type":"function","z":"e74f2b92.a31178","name":"get-cache","func":"\nvar redis = global.get('redis');\n\nvar key = msg.req.params.key;\nvar result = null;\n\nif( key ){\n    result = await redis.get(key);\n}\nelse{\n    var q = msg.req.query;\n    var pattern = q.keys || '*';\n    result = await redis.keys(pattern);\n}\n\ntry{\n    result = JSON.parse(result);\n}\ncatch(err){\n    \n}\n\nmsg.payload = result;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[["dea72691.9a583"]]},{"id":"dea72691.9a583","type":"http response","z":"e74f2b92.a31178","name":"","statusCode":"","headers":{},"x":510,"y":80,"wires":[]},{"id":"b762469a.1f4fd8","type":"redis-instance","z":"b49b90bb.306d1","server":"69c4d57b.c5a4ec","name":"","topic":"redis","location":"global","x":160,"y":280,"wires":[]},{"id":"34462640.5a21ba","type":"comment","z":"5a09a613.e0de8","name":"TODO save RAM readings","info":"","x":670,"y":220,"wires":[]},{"id":"8d0199b3.0f7f4","type":"http request","z":"5a09a613.e0de8","name":"history","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":160,"wires":[["b9fd3835.28de08"]]},{"id":"e3b93d57.f3b288","type":"function","z":"5a09a613.e0de8","name":"hub-history","func":"\nif( msg.url ){\n    return [null, msg];\n}\n\nreturn [msg, null];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":160,"wires":[[],[]]},{"id":"b9fd3835.28de08","type":"debug","z":"5a09a613.e0de8","name":"hub-history","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":100,"wires":[]},{"id":"d515cedf.287a58","type":"http in","z":"e74f2b92.a31178","name":"G /api/db","url":"/api/db","method":"get","upload":false,"swaggerDoc":"","x":120,"y":180,"wires":[["3331db63.25aecc"]]},{"id":"eaf2e59d.a8b418","type":"http response","z":"e74f2b92.a31178","name":"","statusCode":"","headers":{},"x":530,"y":180,"wires":[]},{"id":"8de69fc6.19c84","type":"http in","z":"21dad95f.8d08de","name":"P /api/hat","url":"/api/hat","method":"get","upload":false,"swaggerDoc":"","x":120,"y":520,"wires":[["f31ddeb9.436d28"]]},{"id":"48d78a07.647dcc","type":"http in","z":"21dad95f.8d08de","name":"P /api/hat/off","url":"/api/hat/off","method":"post","upload":false,"swaggerDoc":"","x":130,"y":840,"wires":[["edf90747.0e977"]]},{"id":"edf90747.0e977","type":"function","z":"21dad95f.8d08de","name":"hat-off","func":"\nvar hat = global.get('hat') || {};\n\nhat.led = false;\nglobal.set('hat', hat);\n\nmsg.payload = hat;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":840,"wires":[["cafff6c2.74c058"]]},{"id":"83a67887.89d138","type":"inject","z":"95c0351f.c8f748","name":"23:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"topic":"hat/off","payload":"","payloadType":"date","x":120,"y":660,"wires":[["d8229502.fa5758"]]},{"id":"d8229502.fa5758","type":"http request","z":"95c0351f.c8f748","name":"hat-off","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/api/hat/off","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":660,"wires":[["366694b1.5e4b6c"]]},{"id":"366694b1.5e4b6c","type":"debug","z":"95c0351f.c8f748","name":"hat-off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":680,"wires":[]},{"id":"3331db63.25aecc","type":"http request","z":"e74f2b92.a31178","name":"pouch-db-list","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.1.2:5984/_all_dbs","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":180,"wires":[["eaf2e59d.a8b418"]]},{"id":"349a890a.bec506","type":"http in","z":"e74f2b92.a31178","name":"P /api/db/:db_name","url":"/api/db/:db_name","method":"post","upload":false,"swaggerDoc":"","x":150,"y":260,"wires":[["21bd5619.fe27ea"]]},{"id":"21bd5619.fe27ea","type":"function","z":"e74f2b92.a31178","name":"pouch-put","func":"\n\nvar dbName = msg.req.params.db_name;\nvar body = msg.payload;\n\nif( !body._id ){\n    var date = new Date();\n    var ts = date.toISOString();\n    var fmt = ts;\n    \n    fmt = fmt.replace(/\\-/g, '').replace(/\\:/g, '');\n    fmt = fmt.replace('T', '-');\n    fmt = fmt.replace('Z', '');\n    fmt = fmt.replace('.', '-');\n    body._id = fmt;\n}\n\n\nmsg.url = \"http://localhost:5984/\" + dbName + \"/\" + body._id;\nmsg.method = \"PUT\";\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":260,"wires":[["314ed33f.635634"]]},{"id":"314ed33f.635634","type":"http request","z":"e74f2b92.a31178","name":"pouch-db-put","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":260,"wires":[["fb41a1c0.7c33b","5e4df4d4.dbd674"]]},{"id":"fb41a1c0.7c33b","type":"http response","z":"e74f2b92.a31178","name":"","statusCode":"","headers":{},"x":750,"y":260,"wires":[]},{"id":"5e4df4d4.dbd674","type":"debug","z":"e74f2b92.a31178","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"53ed1b9c.c9bcbc","type":"http in","z":"21dad95f.8d08de","name":"P /api/hat/on","url":"/api/hat/on","method":"post","upload":false,"swaggerDoc":"","x":130,"y":900,"wires":[["b764533e.9dd278"]]},{"id":"b764533e.9dd278","type":"function","z":"21dad95f.8d08de","name":"hat-on","func":"\nvar hat = global.get('hat') || {};\n\nhat.led = true;\nglobal.set('hat', hat);\n\nmsg.payload = hat;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":900,"wires":[["cafff6c2.74c058"]]},{"id":"31e183b7.999ca4","type":"inject","z":"95c0351f.c8f748","name":"08:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 08 * * *","once":false,"onceDelay":0.1,"topic":"hat/on","payload":"","payloadType":"date","x":120,"y":720,"wires":[["6567d660.bde57"]]},{"id":"6567d660.bde57","type":"http request","z":"95c0351f.c8f748","name":"hat-on","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/api/hat/on","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":720,"wires":[["366694b1.5e4b6c"]]},{"id":"bcddd166.64b5f","type":"inject","z":"95c0351f.c8f748","name":"06:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":820,"wires":[["f33e799a.19b6f8"]]},{"id":"f33e799a.19b6f8","type":"function","z":"95c0351f.c8f748","name":"db-ttl-map","func":"\nvar config = [{\n    table: 'ram-history',\n    att: 'time',\n    days: 7 // days\n}];\n\nmsg.db_host = 'http://192.168.1.2:5984';\n\nfor(var p of config){\n    msg.payload = p;\n    node.send(msg);\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":860,"wires":[["b1a0bc02.0fab"]]},{"id":"b1a0bc02.0fab","type":"delay","z":"95c0351f.c8f748","name":"1-per-sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":820,"wires":[["d694c237.fb3c78"]]},{"id":"d694c237.fb3c78","type":"function","z":"95c0351f.c8f748","name":"prep-search","func":"\nvar obj = msg.payload;\nvar date = new Date();\ndate.setDate(date.getDate() - obj.days);\nvar ts = date.toISOString();\n\nvar sorter = {};\nsorter[obj.att] = \"acs\";\n\nvar query = {};\nquery[obj.att] = {\n    \"$lt\": ts\n};\n\nmsg.obj = obj;\nmsg.db_url = msg.db_host + '/' + obj.table;\nmsg.url = msg.db_url + '/_find';\nmsg.reqBody = {\n    limit: 100,\n    //sort: [sorter],\n    selector: query,\n    execution_stats: true,\n    update: false,\n    use_index: \"_design/idx-997aa4865c5953cce74334959a82c02b\"\n};\n\nmsg.payload = msg.reqBody;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":780,"wires":[[]]},{"id":"362a75f9.af6f92","type":"debug","z":"95c0351f.c8f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":760,"wires":[]},{"id":"3a4019d3.f91636","type":"http request","z":"95c0351f.c8f748","name":"db-search","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":820,"wires":[["362a75f9.af6f92"]]},{"id":"77b3a559.f8d47c","type":"debug","z":"21dad95f.8d08de","name":"led-debug-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":500,"wires":[]}]