nodered/20220118-pi2-flow-full.txt
[{"id":"37b5d6e4.8096e2","type":"tab","label":"Config"},{"id":"d37a1d88.5e6d8","type":"tab","label":"db","disabled":false,"info":""},{"id":"1864c0e1.2101e7","type":"tab","label":"Worker","disabled":false},{"id":"653adf68.8f27f8","type":"tab","label":"Serve","disabled":false,"info":""},{"id":"397d6b16.c602a4","type":"tab","label":"Feed","disabled":false},{"id":"d3d6fb46.cf998","type":"tab","label":"Bot","disabled":false,"info":""},{"id":"b2184ca7.59e64","type":"subflow","name":"Log.info","info":"","in":[{"x":41,"y":85,"wires":[{"id":"1e1e7701.c4f781"}]}],"out":[]},{"id":"129e492c.1ba82f","type":"subflow","name":"watchlist","info":"","in":[{"x":25,"y":154.00000762939453,"wires":[{"id":"6615057c.4bd74c"}]}],"out":[{"x":711,"y":115,"wires":[{"id":"55730290.cf5364","port":0}]}]},{"id":"54915f73.5a2a28","type":"subflow","name":"mem-info","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"7e4a525b.85af74"}]}],"out":[{"x":760,"y":200,"wires":[{"id":"f8a2de6a.649e","port":0}]}],"env":[]},{"id":"ed33f784.71e7f8","type":"subflow","name":"bot.talk","info":"","category":"","in":[{"x":120,"y":120,"wires":[{"id":"f75830d3.412aa8"}]}],"out":[{"x":740,"y":120,"wires":[{"id":"3acc82fc.de660e","port":0},{"id":"f75830d3.412aa8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ee9dcae.a7b76b8","type":"subflow","name":"bot.core","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"8e4210cd.f7d2b"}]}],"out":[{"x":960,"y":120,"wires":[{"id":"64672f8b.cf3768","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"86fd5977.af92","type":"subflow","name":"bot.nlp","info":"","category":"","in":[{"x":100,"y":160,"wires":[{"id":"77036421.08b9b4"}]}],"out":[{"x":520,"y":160,"wires":[{"id":"d06a3b50.dbf898","port":0}]},{"x":520,"y":220,"wires":[{"id":"d06a3b50.dbf898","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"58c27b2a.f2d284","type":"subflow","name":"db.file","info":"","category":"","in":[{"x":120,"y":120,"wires":[{"id":"865fe167.7fe76"}]}],"out":[{"x":620,"y":120,"wires":[{"id":"865fe167.7fe76","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"6dc2bbf3.6757fc","type":"discord-token","name":"homepi"},{"id":"762bd415.12c714","type":"websocket-listener","path":"/ws/bot/audio","wholemsg":"false"},{"id":"11f6e989.83fb8e","type":"websocket-listener","path":"/ws/bot/core","wholemsg":"false"},{"id":"8d6bf186.e0a6e8","type":"websocket-client","path":"ws://192.168.1.2:1880/ws/hub","tls":"","wholemsg":"false"},{"id":"ce04685a.5a68d8","type":"mqtt-broker","name":"pi-hub","broker":"192.168.1.2","port":"1883","clientid":"pi-kodi","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d8b0caa6.b09218","type":"redis-config","name":"hub-redis","options":"{\"host\":\"192.168.1.2\",\"db\":\"0\"}","cluster":false,"optionsType":"json"},{"id":"4f3cc4de.4b553c","type":"websocket-client","path":"ws://192.168.1.52:9091","tls":"","wholemsg":"false"},{"id":"5b0e2c63.3d26a4","type":"inject","z":"1864c0e1.2101e7","name":"10 sec interval","props":[{"p":"payload","v":"","vt":"str"},{"p":"topic","v":"mem-info","vt":"string"}],"repeat":"10","crontab":"","once":false,"onceDelay":"1","topic":"mem-info","payload":"","payloadType":"str","x":140,"y":820,"wires":[["f934dbdd.29479"]]},{"id":"2f8fd11c.15ed0e","type":"debug","z":"1864c0e1.2101e7","name":"mem","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":820,"wires":[]},{"id":"e382e1a8.d3cdc","type":"http response","z":"653adf68.8f27f8","name":"http out","x":500,"y":80,"wires":[]},{"id":"48d49811.b9b8f8","type":"http in","z":"653adf68.8f27f8","name":"/trello_cards","url":"/trello_cards","method":"get","swaggerDoc":"","x":110,"y":80,"wires":[["68fc1394.744dcc"]]},{"id":"37a581.dfcd8a8","type":"http in","z":"653adf68.8f27f8","name":"P /notice","url":"/notice","method":"post","swaggerDoc":"","x":100,"y":200,"wires":[["7add0b9c.1eb72c","b7518b68.42f14"]]},{"id":"779bdbaf.4cd424","type":"http response","z":"653adf68.8f27f8","name":"http out","x":740,"y":300,"wires":[]},{"id":"b7518b68.42f14","type":"function","z":"653adf68.8f27f8","name":"parse Notice","func":"\nvar input = msg.payload;\nif( typeof(input) === 'string' ){\n    try{\n        input = JSON.parse(input);\n    } catch(e) {\n        msg.payload = 'Not valid JSON';\n        msg.statusCode = 403;\n        \n        return [ null, msg ];\n    }\n}\n\nmsg.entry = {\n    time: new Date(),\n    status: 'new',\n    topic: input.topic,\n    msg: input.msg\n};\n\nmsg.statusCode = 200;\nreturn [ msg, null ];\n\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":270,"y":200,"wires":[["e80bb81.9c81848"],["779bdbaf.4cd424"]]},{"id":"3f7248c5.5d1bc8","type":"file","z":"653adf68.8f27f8","name":"W notice","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":740,"y":140,"wires":[[]]},{"id":"e80bb81.9c81848","type":"file in","z":"653adf68.8f27f8","name":"R notice","filename":"/home/pi/red_db/notice_new.json","format":"utf8","x":420,"y":160,"wires":[["4b6a0603.f2048"]]},{"id":"4b6a0603.f2048","type":"function","z":"653adf68.8f27f8","name":"save Notice","func":"\nvar noticeList = [];\ntry{\n    noticeList = JSON.parse(msg.payload);\n} catch(e) {\n    noticeList = [];\n}\n\nnoticeList.unshift(msg.entry);\n\nvar noticeStr = JSON.stringify(noticeList);\nmsg.payload = noticeStr\n    .split(\"},\").join(\"},\\n\");\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":200,"wires":[["3f7248c5.5d1bc8","fabb2cb2.d7c258"]]},{"id":"fabb2cb2.d7c258","type":"function","z":"653adf68.8f27f8","name":"clean payload","func":"\nmsg.topic = msg.entry.topic;\n\nmsg.payload = 'OK';\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":200,"wires":[["64fb78aa.c52218","ef280f45.8039e"]]},{"id":"7add0b9c.1eb72c","type":"debug","z":"653adf68.8f27f8","name":"notice http","active":true,"console":"false","complete":"payload","x":250,"y":140,"wires":[]},{"id":"64905890.037d98","type":"http in","z":"653adf68.8f27f8","name":"G /notice","url":"/notice","method":"get","swaggerDoc":"","x":100,"y":280,"wires":[["513f670d.d55558"]]},{"id":"4977c8ef.05d998","type":"function","z":"653adf68.8f27f8","name":"Format notice","func":"if(msg.bag.limit){\n    var mylimit = parseInt(msg.bag.limit);\n    \n    var nList = JSON.parse(msg.payload);\n    \n    if(nList.length > mylimit){\n        msg.payload = nList.slice(0, mylimit);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":320,"wires":[["779bdbaf.4cd424"]]},{"id":"2393f9aa.8b15e6","type":"file in","z":"653adf68.8f27f8","name":"R notice","filename":"/home/pi/red_db/notice_new.json","format":"utf8","x":380,"y":280,"wires":[["4977c8ef.05d998"]]},{"id":"513f670d.d55558","type":"function","z":"653adf68.8f27f8","name":"bag Input","func":"\nmsg.bag = {\n  limit: msg.payload.limit  \n};\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":320,"wires":[["2393f9aa.8b15e6"]]},{"id":"5b3c1b20.d0b324","type":"function","z":"397d6b16.c602a4","name":"notify-local","func":"\n// multiple\nvar arr = msg.found.map(function(x){\n    var obj = {};\n    \n    var req_body = {\n        topic: ('rss/available/' + x.label),\n        msg: (\"Available: \" + x.title)\n    };\n    \n    obj.headers = {};\n    obj.url = '127.0.0.1:1880/notice';\n    obj.method = 'POST';\n    obj.payload = JSON.stringify(req_body);\n    \n    return obj;\n});\n\nreturn arr;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":180,"wires":[["8b1421ed.baaa98"]]},{"id":"6d92da35.d3fa54","type":"inject","z":"1864c0e1.2101e7","name":"(09:00) N_rotate","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"notice/rotate","vt":"string"}],"repeat":"","crontab":"00 09 * * *","once":false,"topic":"notice/rotate","payload":"","payloadType":"date","x":170,"y":100,"wires":[["d62900d3.63c0c8","1824ed1e.13e4bb"]]},{"id":"d62900d3.63c0c8","type":"file in","z":"1864c0e1.2101e7","name":"R notice","filename":"/home/pi/red_db/notice_new.json","format":"utf8","x":360,"y":100,"wires":[["1ec19752.738801"]]},{"id":"1ec19752.738801","type":"function","z":"1864c0e1.2101e7","name":"Rotate Notice","func":"\nvar DAYS_MAX = 7;\nvar dateNow = new Date();\nvar validityPeriod = 1000 * 60 * 60 * 24 * DAYS_MAX;\nvar dateLimit = new Date(dateNow - validityPeriod);\n\nvar noticeList = [];\ntry{\n    noticeList = JSON.parse(msg.payload);\n} catch(e) {\n    return [ null, msg];\n}\n\nvar validList = noticeList.filter(function(el){\n    //Filtering\n    var logD = new Date(el.time);\n    return (logD > dateLimit) && (el.status === 'new');\n});\n\nvar noticeStr = JSON.stringify(validList);\nmsg.payload = noticeStr\n    .split(\"},\").join(\"},\\n\");\n\nreturn [msg, null];\n\n\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":540,"y":100,"wires":[["9f37f8e6.227fb8","2fd5c0ca.e4741"],[]]},{"id":"9f37f8e6.227fb8","type":"file","z":"1864c0e1.2101e7","name":"W notice","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":720,"y":120,"wires":[[]]},{"id":"1824ed1e.13e4bb","type":"subflow:b2184ca7.59e64","z":"1864c0e1.2101e7","x":360,"y":60,"wires":[]},{"id":"2fd5c0ca.e4741","type":"debug","z":"1864c0e1.2101e7","name":"","active":true,"console":"false","complete":"payload","x":730,"y":80,"wires":[]},{"id":"6615057c.4bd74c","type":"file in","z":"129e492c.1ba82f","name":"watch_list","filename":"/home/pi/red_db/rss_list.json","format":"utf8","x":116.33332824707031,"y":110.33333587646484,"wires":[["e5abc938.cc47f","14a79db6.ab1752"]]},{"id":"ac2535f6.8f5588","type":"function","z":"129e492c.1ba82f","name":"Filter wanted","func":"\nvar wanted = msg.payload[msg.listname];\n\nmsg.found = msg.inbox.filter(function(el){\n    for(var k in wanted){\n        var reg_test = new RegExp(wanted[k], \"i\");\n        var titleMatch = el.title.match(reg_test);\n        var linkMatch = el.link.match(reg_test);\n        \n        if(linkMatch || titleMatch){\n            el.label = k;\n            return true;\n        }\n    }\n    return false;\n});\n\nmsg.inbox = '';\n\nif(msg.found.length > 0)\n    return [msg, null];\nelse\n    return [null, msg];","outputs":"2","noerr":0,"x":333.33331298828125,"y":123.33334350585938,"wires":[["54eff5d.83a558c","a1de4cb0.eb84b8"],[]]},{"id":"54eff5d.83a558c","type":"file in","z":"129e492c.1ba82f","name":"R ignore_list","filename":"/home/pi/red_db/rss_inform.json","format":"utf8","x":456.33331298828125,"y":221.33334350585938,"wires":[["55730290.cf5364","a1d98289.520548"]]},{"id":"55730290.cf5364","type":"function","z":"129e492c.1ba82f","name":"Filter ignore","func":"\ntry {\n    msg.ignore = JSON.parse(msg.payload);\n} catch (e) {\n    msg.ignore = {};\n}\n\nif(!msg.ignore[msg.listname]){\n    msg.ignore[msg.listname] = [];\n}\nvar ignoreList = msg.ignore[msg.listname];\n\nmsg.found = msg.found.filter(function(el){\n    for(var k in ignoreList){\n        if(el.link === ignoreList[k].link &&\n            el.pubDate === ignoreList[k].pubDate){\n            return false;\n        }\n    }\n    //Update Ignore\n    ignoreList.push(el);\n    return true;\n});\n\n//Update Ignore\nmsg.payload = msg.ignore;\n\nif(msg.found.length > 0)\n    return [msg, null];\nelse\n    return [null, msg];","outputs":"2","noerr":0,"x":569.3333129882812,"y":121.33334350585938,"wires":[["3f9c706d.3a9f38"],[]]},{"id":"3f9c706d.3a9f38","type":"file","z":"129e492c.1ba82f","name":"W ignore_list","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":691.3333129882812,"y":222.33334350585938,"wires":[[]]},{"id":"1e1e7701.c4f781","type":"function","z":"b2184ca7.59e64","name":"homepi.log","func":"\nvar log_file = \"homepi.log\";\nvar log_dir = global.get('log_dir');\n\nvar date = new Date();\nmsg.payload = date.toISOString(); \n\nif(msg.level)\n    msg.payload += ` [${msg.level}]`;\n\nif(msg.topic)\n    msg.payload += \" >> \" + msg.topic;\n\nif(msg.listname)\n    msg.payload += \" :: \" + msg.listname;\n\nif(msg.device)\n    msg.payload += \" (\" + msg.device + \")\";\n\nif(msg.detail)\n    msg.payload += \" = \" + msg.detail;\n\nmsg.filename = log_dir + log_file;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":196.50001525878906,"y":84.6666488647461,"wires":[["6ba6470.aac15b8"]]},{"id":"6ba6470.aac15b8","type":"file","z":"b2184ca7.59e64","name":"homepi.log","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":377.5,"y":84.3333511352539,"wires":[[]]},{"id":"17eda9b9.34ac16","type":"inject","z":"1864c0e1.2101e7","name":"ed 07:00","props":[{"p":"payload","v":"","vt":"str"},{"p":"topic","v":"log/rotate","vt":"string"}],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":"","topic":"log/rotate","payload":"","payloadType":"str","x":160,"y":220,"wires":[["280d3417.1eee0c"]]},{"id":"280d3417.1eee0c","type":"exec","z":"1864c0e1.2101e7","command":"du -m /home/pi/red_db/homepi.log","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"log size","x":246.00001525878906,"y":271.1666259765625,"wires":[["a312b00c.69f8d","430dae7a.f37688"],[],[]]},{"id":"a312b00c.69f8d","type":"debug","z":"1864c0e1.2101e7","name":"log_size","active":true,"console":"false","complete":"true","x":386.83331298828125,"y":291,"wires":[]},{"id":"430dae7a.f37688","type":"function","z":"1864c0e1.2101e7","name":"check log","func":"\nvar f_size = msg.payload.split(\"\\t\")[0];\n\nif(f_size > 1){\n    return [msg, null];\n}\nelse{\n    return [null, msg];\n}\n\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":358,"y":212.333251953125,"wires":[["a68f974f.e3611"],[]]},{"id":"a68f974f.e3611","type":"exec","z":"1864c0e1.2101e7","command":"rm ~/red_db/homepi.log2 || mv ~/red_db/homepi.log ~/red_db/homepi.log2","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"log copy","x":500,"y":240,"wires":[["9c4292b1.e35128","bad6f62e.716b5"],[],[]]},{"id":"9c4292b1.e35128","type":"subflow:b2184ca7.59e64","z":"1864c0e1.2101e7","x":660,"y":200,"wires":[]},{"id":"3b86b4c4.a6fd4c","type":"exec","z":"1864c0e1.2101e7","command":"tar -zcf ","addpay":true,"append":"","useSpawn":"","timer":"","name":"tar","x":450,"y":1440,"wires":[[],["55c3972d.005888"],[]]},{"id":"eb3ac3d2.84fcc","type":"function","z":"1864c0e1.2101e7","name":"BKP red_db","func":"\nvar S_DIR = \"/home/pi/red_db\";\nvar ARC_PREFIX = \"red_db\";\n\n// ## flow\nvar bkp_dir = global.get('backup_dir');\n\nvar now = new Date();\nvar dateStr = now.toISOString();\nvar ts = dateStr.substring(0, 19).replace(/\\:/g, '');\nts = ts.replace(/\\-/g, '').replace('T', '-');\n\nvar d_file = `${ARC_PREFIX}_${ts}.tar.gz`; \nvar d_path = bkp_dir + d_file;\n\nmsg.payload = `${d_path} -C ${S_DIR} ./`; // C = changeDir\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1420,"wires":[["ea098386.a7d7","3b86b4c4.a6fd4c"]]},{"id":"4f040430.079f2c","type":"inject","z":"1864c0e1.2101e7","name":"(11:00)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":"","topic":"wrk/bkp","payload":"","payloadType":"date","x":130.5,"y":1442.8333740234375,"wires":[["eb3ac3d2.84fcc","3cb7417a.99ed9e"]]},{"id":"3cb7417a.99ed9e","type":"subflow:b2184ca7.59e64","z":"1864c0e1.2101e7","x":280,"y":1460,"wires":[]},{"id":"e5865e04.d2e2e","type":"debug","z":"1864c0e1.2101e7","name":"bkp-rotate","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":660,"wires":[]},{"id":"10f33fa4.99517","type":"subflow:b2184ca7.59e64","z":"397d6b16.c602a4","x":260,"y":220,"wires":[]},{"id":"ffd8e16.7526a2","type":"inject","z":"1864c0e1.2101e7","name":"(08:00) Inform_rotate","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"rss_inform/rotate","vt":"string"}],"repeat":"","crontab":"00 08 * * *","once":false,"topic":"rss_inform/rotate","payload":"","payloadType":"date","x":180,"y":380,"wires":[["5880613f.65551","4c2f1308.8ca65c"]]},{"id":"5880613f.65551","type":"subflow:b2184ca7.59e64","z":"1864c0e1.2101e7","x":369,"y":367,"wires":[]},{"id":"4c2f1308.8ca65c","type":"file in","z":"1864c0e1.2101e7","name":"R inform","filename":"/home/pi/red_db/rss_inform.json","format":"utf8","x":369,"y":407,"wires":[["c90e2ac.2fd6fd8"]]},{"id":"d6aad85d.34915","type":"debug","z":"1864c0e1.2101e7","name":"","active":true,"console":"false","complete":"payload","x":739,"y":367,"wires":[]},{"id":"c90e2ac.2fd6fd8","type":"function","z":"1864c0e1.2101e7","name":"One month Rem","func":"\nvar ago = new Date();\nago.setMonth(ago.getMonth() - 1 );\nvar cat = JSON.parse(msg.payload);\n\nfor(var chan in cat){\n    for (var en in cat[chan]){\n        var pubDate = new Date(\n            cat[chan][en].pubDate\n        );\n        \n        if(pubDate < ago){\n            cat[chan].splice(en, 1);\n        }\n    }\n}\n\nmsg.payload = JSON.stringify(cat);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":549,"y":407,"wires":[["d6aad85d.34915","f507ca51.f344f8"]]},{"id":"f507ca51.f344f8","type":"file","z":"1864c0e1.2101e7","name":"W inform","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":729,"y":407,"wires":[[]]},{"id":"20b3ba62.50e6a6","type":"http in","z":"653adf68.8f27f8","name":"G /rss_info","url":"/rss_info","method":"get","swaggerDoc":"","x":100,"y":380,"wires":[["d94011f.5b10ef"]]},{"id":"6e87f76d.d5a4e","type":"http response","z":"653adf68.8f27f8","name":"http out","x":500,"y":380,"wires":[]},{"id":"f93917b.ddc64e8","type":"http in","z":"653adf68.8f27f8","name":"G /rss_list","url":"/rss_list","method":"get","swaggerDoc":"","x":100,"y":440,"wires":[["25ccb1f.f6cfe4e"]]},{"id":"49d743de.845c4c","type":"exec","z":"1864c0e1.2101e7","command":"ls -1tr","addpay":true,"append":"","useSpawn":"false","timer":"","name":"ls bkp","x":390,"y":620,"wires":[["4d69bab7.1588e4"],[],[]]},{"id":"9aa4f56e.95d69","type":"function","z":"1864c0e1.2101e7","name":"rotate-bkp","func":"\nvar BKP_LIMIT = 50;\n\nvar bkp_dir = global.get('backup_dir');\nvar dirList = msg.payload;\nvar newfile = dirList.pop();\n\nvar diff = dirList.length - BKP_LIMIT;\n\nif( diff > 0 ){\n    var todelete = dirList.slice(0, diff);\n    msg = todelete.map(function(x){\n        return {payload: (bkp_dir + x) };\n    });\n    \n    return [msg];\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":640,"wires":[["e5865e04.d2e2e","22f45dfb.d6bafa"]]},{"id":"22f45dfb.d6bafa","type":"exec","z":"1864c0e1.2101e7","command":"rm ","addpay":true,"append":"","useSpawn":"","timer":"","name":"rm bkp","x":810,"y":620,"wires":[[],["186fef73.1076c9"],[]]},{"id":"64fb78aa.c52218","type":"subflow:b2184ca7.59e64","z":"653adf68.8f27f8","x":920,"y":200,"wires":[]},{"id":"4ca20c15.73b3dc","type":"inject","z":"1864c0e1.2101e7","name":"(12:00) Drop_bills","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"detail","v":"start","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":"","topic":"drop/bills","payload":"","payloadType":"date","x":162,"y":490,"wires":[["37c6e5cb.e2ba62","f48fa463.56dbf"]]},{"id":"37c6e5cb.e2ba62","type":"subflow:b2184ca7.59e64","z":"1864c0e1.2101e7","x":329,"y":458,"wires":[]},{"id":"f48fa463.56dbf","type":"function","z":"1864c0e1.2101e7","name":"Get file List","func":"\nmsg.drop_conf = global.get('drop_conf');\n\nmsg.url = msg.drop_conf.base_url;\nmsg.url += \"files/list_folder\"; //Get all\n\nvar auth = 'Bearer ' + msg.drop_conf.token;\n\nmsg.headers = {\n    'Authorization': auth,\n    'Content-Type': 'application/json'\n};\n\nvar my_path = '/' + msg.drop_conf.bills_folder;\n\nvar my_bag = {\n    \"path\": my_path,\n    \"recursive\": false,\n    \"include_media_info\": false,\n    \"include_deleted\": false,\n    \"include_has_explicit_shared_members\": false\n};\n\nmsg.payload = my_bag;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":540,"wires":[["ae1f137c.69fe68"]]},{"id":"ae1f137c.69fe68","type":"http request","z":"1864c0e1.2101e7","name":"get_list","method":"POST","ret":"txt","url":"","tls":"","x":451,"y":492,"wires":[["f7c803e.218a8"]]},{"id":"ebc38336.c4a1e","type":"debug","z":"1864c0e1.2101e7","name":"drop_out","active":true,"tosidebar":true,"console":false,"complete":"payload","statusVal":"","statusType":"auto","x":840,"y":500,"wires":[]},{"id":"f7c803e.218a8","type":"function","z":"1864c0e1.2101e7","name":"filter b","func":"\nvar obj_list = JSON.parse(msg.payload).entries;\nvar my_list = [];\n\nfor (var p in obj_list){\n  if(obj_list[p]['.tag'] === 'file'\n    && (\n        obj_list[p]['name'][0] === '0'\n        || obj_list[p]['name'][0] === '1'\n        || obj_list[p]['name'][0] === '2'\n        )\n    )\n    my_list.push(obj_list[p]['name']);\n}\n\nmsg.payload = my_list;\nreturn msg;","outputs":1,"noerr":0,"x":549,"y":540,"wires":[["91fc35b1.4f239","7ce60de4.90ac1c"]]},{"id":"91fc35b1.4f239","type":"function","z":"1864c0e1.2101e7","name":"struct","func":"\nvar DELIM = '-';\nvar my_list = msg.payload;\n\nif(my_list.length === 0)\n    return [null, msg];\n    \nvar parsed_list = [];\n\nfor (var p in my_list){\n    var f_name = my_list[p];\n    var f_name_sp = f_name.split('.')[0].split(DELIM);\n    \n    var obj_date_str = f_name_sp[0];\n    var obj_name = f_name_sp.slice(1).join(DELIM);\n    \n    var off_y = obj_date_str.length == 8 ? 0 : -4;\n    var y = off_y < 0 ? \n        '' : obj_date_str.substring(0,4);\n    var m = obj_date_str.substring(4+off_y,6+off_y);\n    var d = obj_date_str.substring(6+off_y,8+off_y);\n    \n    parsed_list.push({\n        name: obj_name, \n        date_str: obj_date_str,\n        y: y, m:m, d:d\n    });\n}\n\nparsed_list = parsed_list.sort((a,b) => a.date_str.localeCompare(b.date_str) );\nvar date = new Date();\n\nmsg.detail = parsed_list.length;\nmsg.method = 'PUT';\nmsg.url = global.get('db_url') + '/red_db/bills';\nmsg.payload = {\n    run: date.toISOString(),\n    total_rows: parsed_list.length,\n    rows: parsed_list\n};\nreturn [msg, null];\n\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":627,"y":485,"wires":[["ebc38336.c4a1e","1d8dcc05.3e93ec","ab67fd8b.7609a8"],[]]},{"id":"1d8dcc05.3e93ec","type":"subflow:b2184ca7.59e64","z":"1864c0e1.2101e7","x":840,"y":460,"wires":[]},{"id":"7b3f1609.e1f458","type":"debug","z":"397d6b16.c602a4","name":"filter ignore","active":true,"console":"false","complete":"payload","x":710,"y":100,"wires":[]},{"id":"e5abc938.cc47f","type":"json","z":"129e492c.1ba82f","name":"","x":219,"y":220,"wires":[["ac2535f6.8f5588","814d0709.351a8"]]},{"id":"14a79db6.ab1752","type":"debug","z":"129e492c.1ba82f","name":"watch_list","active":true,"console":"true","complete":"payload","x":290,"y":70,"wires":[]},{"id":"814d0709.351a8","type":"debug","z":"129e492c.1ba82f","name":"json","active":true,"console":"true","complete":"payload","x":351,"y":310,"wires":[]},{"id":"a1de4cb0.eb84b8","type":"debug","z":"129e492c.1ba82f","name":"filter wanted","active":true,"console":"true","complete":"payload","x":540,"y":65,"wires":[]},{"id":"a1d98289.520548","type":"debug","z":"129e492c.1ba82f","name":"R ignore","active":true,"console":"true","complete":"payload","x":609,"y":331,"wires":[]},{"id":"d055642c.973f2","type":"file in","z":"397d6b16.c602a4","name":"watch_list","filename":"/home/pi/red_db/rss_list.json","format":"utf8","x":100,"y":220,"wires":[["aaceb293.b6f72","10f33fa4.99517"]]},{"id":"fe1db134.5643a","type":"function","z":"397d6b16.c602a4","name":"Filter wanted","func":"\nvar wanted = msg.payload[msg.listname];\n\nmsg.found = msg.inbox.filter(function(el){\n    for(var k in wanted){\n        var reg_test = new RegExp(wanted[k], \"i\");\n        var titleMatch = el.title.match(reg_test);\n        var linkMatch = el.link.match(reg_test);\n        \n        if(linkMatch || titleMatch){\n            el.label = k;\n            return true;\n        }\n    }\n    return false;\n});\n\ndelete msg.inbox;\n\nif( msg.found.length > 0 ){\n    return [msg, null];\n}\nelse {\n    return [null, msg];\n}\n\n\n\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":370,"y":300,"wires":[["137b2897.febf67"],[]]},{"id":"137b2897.febf67","type":"file in","z":"397d6b16.c602a4","name":"R ignore_list","filename":"/home/pi/red_db/rss_inform.json","format":"utf8","x":370,"y":120,"wires":[["73459f5c.404598"]]},{"id":"73459f5c.404598","type":"function","z":"397d6b16.c602a4","name":"Filter ignore","func":"\ntry {\n    msg.ignore = JSON.parse(msg.payload);\n} catch (e) {\n    msg.ignore = {};\n}\n\nif(!msg.ignore[msg.listname]){\n    msg.ignore[msg.listname] = [];\n}\nvar ignoreList = msg.ignore[msg.listname];\n\nmsg.found = msg.found.filter(function(el){\n    for(var k in ignoreList){\n        var alreadyReported = (\n            el.link === ignoreList[k].link\n            && el.pubDate === ignoreList[k].pubDate\n        );\n        if(alreadyReported){\n            return false;\n        }\n    }\n    //Update Ignore\n    el.tag = msg.listname;\n    ignoreList.push(el);\n    return true;\n});\n\n//Update Ignore\nmsg.payload = msg.ignore;\n\nif(msg.found.length > 0){\n    return [msg, null];\n}\nelse {\n    return [null, msg];\n}\n\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":530,"y":140,"wires":[["b5a2e14f.2c91f","5b3c1b20.d0b324","7b3f1609.e1f458","12ffed80.77254b"],[]]},{"id":"aaceb293.b6f72","type":"json","z":"397d6b16.c602a4","name":"","x":230,"y":260,"wires":[["fe1db134.5643a"]]},{"id":"b5a2e14f.2c91f","type":"file","z":"397d6b16.c602a4","name":"W ignore_list","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":730,"y":140,"wires":[[]]},{"id":"8e42accb.7c696","type":"inject","z":"37b5d6e4.8096e2","name":"on-start","props":[{"p":"payload","v":"config loaded","vt":"str"},{"p":"topic","v":"load/config","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"load/config","payload":"config loaded","payloadType":"str","x":120,"y":140,"wires":[["41443e42.61aa38","c8be2488.5094f","f1820590.09179"]]},{"id":"c8be2488.5094f","type":"debug","z":"37b5d6e4.8096e2","name":"config","active":true,"console":"false","complete":"true","x":290,"y":80,"wires":[]},{"id":"926ed9b3.41271","type":"function","z":"37b5d6e4.8096e2","name":"trello_conf","func":"\nglobal.set('trello_conf', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":140,"wires":[[]]},{"id":"91ecc8.313c4b38","type":"function","z":"37b5d6e4.8096e2","name":"drop_conf","func":"\nglobal.set('drop_conf', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":180,"wires":[[]]},{"id":"7e4a525b.85af74","type":"exec","z":"54915f73.5a2a28","command":"/opt/vc/bin/vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"cpu_temp","x":140,"y":200,"wires":[["4cb4ede4.be3afc"],[],[]]},{"id":"4cb4ede4.be3afc","type":"function","z":"54915f73.5a2a28","name":"fmt-cpu","func":"var dev = global.get('device');\n\nvar newDate = new Date();\nvar cputemp = \n    msg.payload.replace ( /[^\\d.]/g, '' );\n\nmsg.bag = {\n    id: dev.id,\n    cputemp: parseFloat(cputemp),\n    time: newDate\n};\nmsg.payload = '';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":252.99998474121094,"y":104,"wires":[["1a5ee774.f453d1"]]},{"id":"1a5ee774.f453d1","type":"exec","z":"54915f73.5a2a28","command":"free -k","addpay":false,"append":"","useSpawn":"","timer":"","name":"ram-use","x":360,"y":200,"wires":[["cabcf596.dc5cf"],[],[]]},{"id":"cabcf596.dc5cf","type":"function","z":"54915f73.5a2a28","name":"fmt-ram","func":"//normal is 40 and below\n//40-60 warning\n//60-80 Red alert\n\nvar mymatch = msg.payload.match(/\\d+/g);\n\n//node.warn('ram nums = ' + JSON.stringify(mymatch));\n\nvar ramtotal = parseInt(mymatch[0]);\nvar ramused = parseInt(mymatch[1]);\nvar ramfree = parseInt(mymatch[5]);\n\nmsg.bag.ram = {\n  total: ramtotal,\n  used: ramused,\n  p: Math.round(ramused / ramtotal * 100) + '%'\n};\n    \n//msg.payload = JSON.stringify(msg.bag);\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":100,"wires":[["7522cd21.78fb14"]]},{"id":"7522cd21.78fb14","type":"exec","z":"54915f73.5a2a28","command":"df -m","addpay":false,"append":"","useSpawn":"","timer":"","name":"Space","x":550,"y":200,"wires":[["f8a2de6a.649e"],[],[]]},{"id":"f8a2de6a.649e","type":"function","z":"54915f73.5a2a28","name":"fmt-disk","func":"\n//Get output into rows\nvar arr = msg.payload.split(\"\\n\");\n\n//Filter rows\nvar mymatch = arr.filter(function(line){\n    var pat = /(\\/dev\\/root|\\/mnt\\/mydrive|^\\/dev\\/sda.*\\/media\\/)/;\n    return line.match(pat);\n});\n//node.warn(mymatch);\n/*\n[\n\"/dev/root 14607 11075  2768  81% /\",\n\"/dev/sda1 7360  4      7357   1% /media/pi/usb\"]\n*/\n\n//split into cells\nvar rows = [];\nfor(var i in mymatch){\n    rows.push(mymatch[i].split(/\\s{1,}/));\n}\n\n// build an objects\nvar sd = 0;\nmsg.bag.sd = {total: rows[sd][1], used: rows[sd][2], \n    p:rows[sd][4], path:rows[sd][5]};\n\nfor(var z=1; z<rows.length; z++){\n    var key = \"ext_\" + z;\n    var total = rows[z][1]; // 8GB ~ 7360\n    var kind = ( total < 30000 ) ? 'usb' : 'hd';\n    \n    msg.bag[key] = {\n        total: rows[z][1],\n        used: rows[z][2],\n        p: rows[z][4],\n        path: rows[z][5],\n        kind: kind\n    };\n}\n\nmsg.payload = msg.bag;\ndelete msg.bag;\ndelete msg.rc;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":100,"wires":[[]]},{"id":"f934dbdd.29479","type":"subflow:54915f73.5a2a28","z":"1864c0e1.2101e7","name":"","x":320,"y":820,"wires":[["129a8b55.f7d26d"]]},{"id":"129a8b55.f7d26d","type":"function","z":"1864c0e1.2101e7","name":"save-glob","func":"\n\nglobal.set('mem', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":820,"wires":[["2f8fd11c.15ed0e","2dc3ebfa.464c24"]]},{"id":"bad6f62e.716b5","type":"debug","z":"1864c0e1.2101e7","name":"log_copy","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":240,"wires":[]},{"id":"ceff4afa.1102d8","type":"http in","z":"d37a1d88.5e6d8","name":"G /db/:db/:id","url":"/db/:db/:id","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["8ea4fd5f.1ef35","953b3d1c.093298"]]},{"id":"26a4c21.47961be","type":"file in","z":"d37a1d88.5e6d8","name":"R file","filename":"","format":"utf8","sendError":false,"x":610,"y":120,"wires":[["63758321.86d5dc"]]},{"id":"d94011f.5b10ef","type":"http request","z":"653adf68.8f27f8","name":"R rss_inform","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:1880/db/red_db/rss_inform","tls":"","proxy":"","authType":"","x":270,"y":380,"wires":[["6e87f76d.d5a4e"]]},{"id":"25ccb1f.f6cfe4e","type":"http request","z":"653adf68.8f27f8","name":"R rss_list","method":"GET","ret":"txt","paytoqs":false,"url":"localhost:1880/db/red_db/rss_list","tls":"","proxy":"","authType":"","x":280,"y":440,"wires":[["6e87f76d.d5a4e"]]},{"id":"41443e42.61aa38","type":"function","z":"37b5d6e4.8096e2","name":"db","func":"\n// ## Manual\nvar dir = '/home/pi/';\nvar backup = '/media/pi/TOMAN-8-USB/bkp/';\nvar dev = {\n    id: 'kodi'\n};\nvar flow_file = '/home/pi/.node-red/flows_toman-pi2b.json';\n\n\n/// ###\nif( dir.length && dir[dir.length - 1] !== '/' ){\n    dir = dir + '/';\n}\n\nglobal.set('db_dir', (dir + '/red_db/') );\nglobal.set('log_dir', (dir + '/red_db/') );\nglobal.set('backup_dir', backup);\n\nglobal.set('db_url', 'localhost:1880/db' );\nglobal.set('device', dev);\nglobal.set('flow_file', flow_file);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":140,"wires":[["18803bd4.93e264","a7c4748f.fec29"]]},{"id":"ef280f45.8039e","type":"http response","z":"653adf68.8f27f8","name":"http out","x":920,"y":240,"wires":[]},{"id":"68fc1394.744dcc","type":"http request","z":"653adf68.8f27f8","name":"R trello_cards","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.1.2:1880/api/db/portal/trello_cards","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":80,"wires":[["e382e1a8.d3cdc"]]},{"id":"252b1827.8c81f8","type":"http in","z":"d37a1d88.5e6d8","name":"PUT /db/:db/:id","url":"/db/:db/:id","method":"put","upload":false,"swaggerDoc":"","x":120,"y":180,"wires":[["2ae2c88b.9f04f"]]},{"id":"488b50e5.9eca98","type":"file","z":"d37a1d88.5e6d8","name":"W file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":610,"y":180,"wires":[["e33d1593.589908"]]},{"id":"e33d1593.589908","type":"http response","z":"d37a1d88.5e6d8","name":"http out","statusCode":"","headers":{},"x":880,"y":180,"wires":[]},{"id":"76f93f5c.38c228","type":"catch","z":"d37a1d88.5e6d8","name":"","scope":null,"uncaught":false,"x":100,"y":420,"wires":[["11abeb53.d5102d","79719c1a.b4878c"]]},{"id":"11abeb53.d5102d","type":"debug","z":"d37a1d88.5e6d8","name":"db.catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":380,"wires":[]},{"id":"79719c1a.b4878c","type":"function","z":"d37a1d88.5e6d8","name":"handle","func":"\nif( msg.error.message.includes(\"no such file\") ){\n    \n    msg.statusCode = 404;\n    msg.payload = 'NOT FOUND';\n    return [null, msg];\n}\n\nmsg.topic = 'db';\nmsg.listname = 'error';\nmsg.detail = msg.error.message;\n\nreturn [msg, null];\n\n","outputs":2,"noerr":0,"x":270,"y":420,"wires":[["d2ae398c.4dcfe8"],["657c8a6.9db5bf4"]]},{"id":"657c8a6.9db5bf4","type":"http response","z":"d37a1d88.5e6d8","name":"http out","statusCode":"","headers":{},"x":440,"y":460,"wires":[]},{"id":"d2ae398c.4dcfe8","type":"subflow:b2184ca7.59e64","z":"d37a1d88.5e6d8","x":440,"y":400,"wires":[]},{"id":"9864c5c2.9095c","type":"inject","z":"1864c0e1.2101e7","name":"(12:00) Update_check","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":"","topic":"sys/update","payload":"","payloadType":"date","x":170,"y":920,"wires":[["c1c9ee17.f6a838","b1978b41.a105e8"]]},{"id":"6f7b2cd9.5d3f04","type":"exec","z":"1864c0e1.2101e7","command":"apt list --upgradable","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"apt-list","x":690,"y":960,"wires":[["170977ea.8abe98","46020b15.3a81bc"],[],[]]},{"id":"aab5cdc5.b3bcf","type":"debug","z":"1864c0e1.2101e7","name":"apt-upd","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1080,"y":880,"wires":[]},{"id":"170977ea.8abe98","type":"function","z":"1864c0e1.2101e7","name":"parse-upg","func":"\nvar LIMIT = 20;\nvar list = msg.payload.split(\"\\n\");\nvar len = list.length - 2;\nmsg.found = len;\n\nif( len < LIMIT ){\n    msg.payload = \"ignore - \" + len;\n    return [msg, null];\n}\n\nvar dev = global.get('device');\nvar req_body = {\n    topic: ('sys/update'),\n    msg: (\n        `[${dev.id}]`\n        + \" Apt upgradable: \" + len\n    )\n};\n\nmsg.headers = {};\nmsg.method = 'POST';\nmsg.payload = req_body;\n\nreturn [null, msg];\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":860,"y":980,"wires":[["aab5cdc5.b3bcf","95bd10f5.b3ba6"],["aab5cdc5.b3bcf","78de862.bf9eef8","61073d70.0312fc","95bd10f5.b3ba6"]]},{"id":"78de862.bf9eef8","type":"http request","z":"1864c0e1.2101e7","name":"notice","method":"use","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:1880/notice","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":920,"wires":[[]]},{"id":"12ffed80.77254b","type":"function","z":"397d6b16.c602a4","name":"notify-mobile","func":"\n// multiple\nvar arr = msg.found.map(function(x){\n    var obj = {};\n    \n    var req_body = {\n        msg: (\"New: \" + x.title)\n    };\n    \n    obj.headers = {};\n    obj.url = '127.0.0.1:1880/api/msg';\n    obj.method = 'POST';\n    obj.payload = JSON.stringify(req_body);\n    \n    return obj;\n});\n\nreturn arr;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":220,"wires":[["8b1421ed.baaa98"]]},{"id":"abb0ceb4.acfe28","type":"http request","z":"397d6b16.c602a4","name":"invoke","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":300,"wires":[[]]},{"id":"8b1421ed.baaa98","type":"delay","z":"397d6b16.c602a4","name":"rate-1-per-2-sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":300,"wires":[["abb0ceb4.acfe28"]]},{"id":"7ce60de4.90ac1c","type":"debug","z":"1864c0e1.2101e7","name":"drop 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":560,"wires":[]},{"id":"86fa2f0.1ef52d","type":"inject","z":"d3d6fb46.cf998","name":"on-start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"load/bot","payload":"bot loaded","payloadType":"str","x":120,"y":80,"wires":[["9abc3023.5876b8"]]},{"id":"9abc3023.5876b8","type":"function","z":"d3d6fb46.cf998","name":"dict","func":"var actionMap = [{\n    name: 'ssh',\n    terms: ['cmd', 'exec', 'ssh'],\n    words: ['ls', 'cat', 'pwd', 'tail'],\n    target: 'exec',\n    pre: function(arg){\n        arg.payload = arg.input.replace('cmd ', '');\n        arg.payload = arg.payload.replace('exec ', '');\n        arg.payload = arg.payload.replace('ssh ', '');\n    }\n    // post - optional formatting\n},{\n    name: 'rsswatch',\n    terms: ['rss', 'get watch', 'watchlist', 'rss watch'],\n    target: 'http',\n    opts: {\n        url: '127.0.0.1:1880/db/red_db/rss_list'\n    },\n    post: function(arg){\n        var raw = arg.payload;\n        var lines = [];\n        \n        for(var p in raw){\n            lines.push('==' + p + '==');\n            for(var s in raw[p]){\n                lines.push(s + ' - ' + raw[p][s]);\n            }\n        }\n        \n        arg.payload = lines.join(\"\\n\");\n        return arg;\n    }\n},{\n    name: 'rssinform',\n    terms: ['rss last', 'get inform', 'rss inform'],\n    target: 'http',\n    opts: {\n        url: '127.0.0.1:1880/db/red_db/rss_inform'\n    }\n    // pre - optional\n    // post - optional formatting\n},{\n    name: 'ownstatus',\n    terms: ['status', 'diagnostics', 'ram'],\n    target: 'http',\n    opts: {\n        url: 'http://192.168.1.2:1880/api/status'\n    },\n    post: function(arg){\n        var body = arg.payload;\n        var arr = body.rows.map(function(x){\n            x.ram = x.ram.p;\n            x.sd = x.sd.p;\n            return x;\n        });\n        \n        arg.payload = arr;\n        return arg;\n    }\n},{\n    name: 'greet',\n    terms: ['hi', 'are you there', 'hello'],\n    answer: ['Hello', 'At your service']\n},{\n    name: 'howareyou',\n    terms: ['whats up', 'how are you', 'what up', 'how is it going'],\n    answer: ['Fine', 'Good']\n},{\n    name: 'dropbills',\n    terms: ['bills', 'next bill'],\n    target: 'http',\n    opts: {\n        url: '127.0.0.1:1880/db/red_db/bills'\n    },\n    post: function(arg){\n        arg.payload.rows.map(function(x){\n            x.date = x.d + '/' + x.m;\n            if( x.y ){\n                x.date += '/' + x.y;\n            }\n            \n            ['date_str', 'm', 'd', 'y'].forEach(function(a){\n               delete x[a]; \n            });\n            \n            return x;\n        });\n        \n        return arg;\n    }\n},{\n    name: 'pilog',\n    terms: ['log', 'logs', 'last run', 'last events'],\n    target: 'exec',\n    pre: function(arg){\n        var filePath = global.get('log_dir') + 'homepi.log';\n        var limit = 10;\n        \n        var inputWords = arg.input.split(' ');\n        var lastWord = inputWords[inputWords.length-1]\n        if( inputWords.length > 1 && !isNaN(lastWord) ){\n            var num = Number(lastWord);\n            if( num > 1 && num < 50 ){\n                limit = num;\n            }\n        }\n        \n        arg.payload = ['tail -n', limit, filePath].join(' ');\n        return arg;\n    }\n    // post - optional formatting\n},{\n    name: 'help',\n    terms: ['help', 'commands'],\n    // words - optional keywords\n    target: 'none',\n    post: function(arg){\n        var list = global.get('botActions');\n        arg.payload = list.map(function(x){\n            return (\n                x.name \n                + ' (' + x.target + \") - \"\n                + x.terms.join(' / ')\n            ); \n        }).join(\"\\n\");\n        return arg;\n    }\n    // post - optional formatting\n},{\n    name: 'network',\n    terms: ['network', 'devices'],\n    words: ['device'],\n    target: 'http',\n    opts: {\n        url: '192.168.1.2:1880/api/cache/cron:net'\n    }\n    // post - optional formatting\n},{\n    name: 'tvon',\n    terms: ['tv on', 'switch tv on'],\n    target: 'http',\n    opts: {\n        method: 'POST',\n        url: '127.0.0.1:1880/api/tv',\n        body: {cmd: 'on'}\n    },\n    words: ['watch'],\n    answer: ['Ok', 'Will do', 'Turning On']\n},{\n    name: 'tvoff',\n    terms: ['tv off', 'switch tv off'],\n    target: 'http',\n    opts: {\n        method: 'POST',\n        url: '127.0.0.1:1880/api/tv',\n        body: {cmd: 'off'}\n    },\n    words: ['shut', 'shutdown'],\n    answer: ['Ok', 'Will do', 'Turning Off']\n},{\n    name: 'tvstate',\n    terms: ['tv status', 'tv state'],\n    target: 'http',\n    opts: {\n        method: 'GET',\n        url: '127.0.0.1:1880/api/tv'\n    },\n    post: function(arg){\n        /*devices: array\n        physical: \"0.0.0.0\"\n        power: \"STANDBY\"\n        osdname: \"Digital TV\"\n        */\n        arg.payload.devices = arg.payload.devices.map(function(x){\n            return (\n                x.osdname + ' - ' + x.power \n                + ' (' + x.physical + ')'\n            );\n        });\n        return arg;\n    },\n    words: ['is', 'does']\n},{\n    name: 'tvchangeinput',\n    terms: ['change tv to <1>', 'switch to <1>'],\n    args: [{\n        ind: 1,\n        'enum': ['tv', 'cast', 'kodi'] \n    }],\n    pre: function(arg){\n        var source = arg.action.inputArgs[0];\n        arg.action.opts.body.cmd += ' ' + source;\n        return arg;\n    },\n    target: 'http',\n    opts: {\n        method: 'POST',\n        url: '127.0.0.1:1880/api/tv',\n        body: {cmd: 'source'}\n    },\n    words: ['input', 'source', 'cast', 'kodi'],\n    answer: ['Ok', 'Will do', 'Switching']\n},{\n    name: 'tvoffdelay',\n    terms: ['tv off after <1> <2>', 'switch tv off in <1> <2>'],\n    target: 'http',\n    args: [1, 2],\n    pre: function(arg){\n        var num = arg.action.inputArgs[0];\n        var units = arg.action.inputArgs[1];\n        var result = num * 1000;\n        \n        if( units.includes('hour') ){\n            result = result * 60 * 60;\n        }\n        if( units.includes('minute') ){\n            result = result * 60;\n        }\n        \n        arg.action.opts.body.cmd += ' ' + result;\n        return arg;\n    },\n    opts: {\n        method: 'POST',\n        url: '127.0.0.1:1880/api/tv',\n        body: {cmd: 'off'}\n    },\n    words: ['shut', 'shutdown', 'minutes', 'hours', 'seconds'],\n    answer: ['Ok', 'Will do', 'Scheduled']\n},{\n    name: 'tvondelay',\n    terms: ['tv on after <1> <2>', 'switch tv on in <1> <2>', 'start tv in <1> <2>'],\n    target: 'http',\n    args: [1, 2],\n    pre: function(arg){\n        var num = arg.action.inputArgs[0];\n        var units = arg.action.inputArgs[1];\n        var result = num * 1000;\n        \n        if( units.includes('hour') ){\n            result = result * 60 * 60;\n        }\n        if( units.includes('minute') ){\n            result = result * 60;\n        }\n        \n        arg.action.opts.body.cmd += ' ' + result;\n        return arg;\n    },\n    opts: {\n        method: 'POST',\n        url: '127.0.0.1:1880/api/tv',\n        body: {cmd: 'on'}\n    },\n    words: ['watch', 'minutes', 'hours', 'seconds'],\n    answer: ['Ok', 'Will do', 'Scheduled']\n},{\n    name: 'covidstat',\n    terms: ['covid stats', 'corona state'],\n    pre: function(arg){\n        arg.payload = global.get('cov-latest');\n        return arg;\n    }\n},{\n    name: 'reminder',\n    terms: ['remind me <1> in <2> <3>'],\n    words: [\n        'reminder', 'after', \n        \"hours\", 'minutes', 'seconds',\n        'tomorrow'\n    ],\n    args: [1, 2, 3],\n    answer: ['Ok', 'Will do', 'Scheduled'],\n    target: 'http',\n    opts: {\n        method: 'POST',\n        url: '192.168.1.2:1880/api/reminder',\n        body: {}\n    },\n    pre: function(arg){\n        \n\t\tvar del = arg.action.inputArgs[0]; // in,after\n        var num = arg.action.inputArgs[1]; // 10\n        var units = arg.action.inputArgs[2]; // hours, tomorrow\n        \n        var result = num;\n        var input = arg.input;\n\t\tvar timeObj = {};\n\t\t\n\t\tvar getFutureDate = function(d, f){\n\t\t\tvar date = new Date();\n\t\t\tvar fut = new Date();\n\t\t\t\n\t\t\tfut.setHours(9);\n            fut.setMinutes(0);\n            fut.setSeconds(0);\n\t\t\t\n\t\t\tfut.setDate(fut.getDate() + d);\n\t\t\t\n            return {\n\t\t\t\ttarget: fut,\n\t\t\t\tdelay: fut - date\n\t\t\t};\n\t\t};\n        \n        if( units === 'tomorrow' ){\n            timeObj = getFutureDate(1);\n            result = timeObj.delay;\n\t\t\t\n            input = input.replace('tomorrow', '');\n        }\n\t\telse if( units === 'week' && num === 'next' ){\n\t\t\ttimeObj = getFutureDate(7);\n            result = timeObj.delay;\n\t\t\t\n\t\t\tinput = input.replace('next week', '');\n\t\t}\n        else {\n            if( units.includes('hour') ){\n                result = result * 60 * 60;\n            }\n            if( units.includes('minute') ){\n                result = result * 60;\n            }\n            \n\t\t\ttimeObj.delay = result;\n\t\t\ttimeObj.target = ( (new Date()) + timeObj.delay );\n\t\t\t\n            var sp = input.split(' ' + del + ' ');\n            input = sp[0];\n        }\n\n        if( input.includes('reminder') ){\n            input = input.split('reminder')[1];\n        }\n        if( input.includes('remind me') ){\n            input = input.split('remind me')[1];\n        }\n        if( input.includes('remind') ){\n            input = input.split('remind')[1];\n        }\n        \n        arg.action.target = timeObj.target;\n        arg.action.opts.body.delay = result;\n        arg.action.opts.body.payload = input.trim();\n        return arg;\n    }\n},{\n    name: 'indoor',\n    terms: [],\n    words: ['indoor', 'room', 'temperature'],\n    target: 'http',\n    opts: {\n        url: 'http://192.168.1.2:1880/api/temp'\n    },\n    post: function(arg){\n        var body = arg.payload;\n        arg.payload = body.rows[0];\n        arg.payload.temperature = arg.payload.cal;\n        delete arg.payload.cal;\n        \n        return arg;\n    }\n},{\n    name: 'delay',\n    terms: ['delay <1>'],\n    delay: true,\n    target: 'talk',\n    args: ['1'],\n    answer: ['delay debug']\n}];\n\nmsg.payload = actionMap;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":80,"wires":[["6bdfbf2e.48d8d"]]},{"id":"36963c24.309d14","type":"debug","z":"d3d6fb46.cf998","name":"bot-load","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":80,"wires":[]},{"id":"6bdfbf2e.48d8d","type":"function","z":"d3d6fb46.cf998","name":"bot-index","func":"\nvar map = msg.payload;\nvar ind = {};\nvar kind = {};\nvar nameUnique = {};\nvar stopWords = [\n    'a', 'are', 'an', 'the', '<1>', '<2>', '<3>'\n];\n\nvar wordsCount = 0;\n\nmap.forEach(function(a){\n    \n    if( !a.target ){\n        a.target = 'none';\n    }\n    if( typeof(kind[a.target]) === 'undefined' ){\n        kind[a.target] = 0;\n    }\n    kind[a.target] += 1;\n    \n    if( !nameUnique[a.name] ){\n        nameUnique[a.name] = 1;\n    }\n    else{\n        node.warn('name Duplicate = ' + a.name);\n    } \n    \n    if( !a.words ){\n        a.words = [];\n    }\n    \n    a.terms.forEach(function(t){\n        if( ind[t] ){\n            node.warn(\"Bot.index - duplicate term = \" + t);\n        }\n        ind[t] = a;\n        \n        var tokens = t.split(' ').filter(function(tok){\n           return !stopWords.includes(tok); \n        });\n        a.words = a.words.concat( tokens );\n    });\n    \n    a.words = a.words.filter(function(item, pos) {\n        return a.words.indexOf(item) === pos;\n    });\n    wordsCount += a.words.length;\n});\n\nglobal.set('botActions', map);\nglobal.set('botIndex', ind);\n\nmsg.payload = 'Bot actions = ' + map.length;\nmsg.payload += \" / Terms = \" + Object.keys(ind).length;\nmsg.payload += \" / Words = \" + wordsCount;\nmsg.payload += \" / Kind = \" + JSON.stringify(kind);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":80,"wires":[["36963c24.309d14"]]},{"id":"90df0fb7.00af2","type":"http in","z":"d3d6fb46.cf998","name":"P /api/bot","url":"/api/bot","method":"post","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["c4e6b867.6a5b88","443eeb9b.74364c"]]},{"id":"c4e6b867.6a5b88","type":"debug","z":"d3d6fb46.cf998","name":"bot-req","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":220,"wires":[]},{"id":"f75830d3.412aa8","type":"function","z":"ed33f784.71e7f8","name":"prepare rnd","func":"\nvar action = msg.action;\n\nif( !action.answer ){\n    return [msg, null];\n}\n\nmsg.from = 1;\nmsg.to = action.answer.length;\n\nreturn [null, msg];\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":250,"y":120,"wires":[[],["2030abb.fc367d4"]]},{"id":"2030abb.fc367d4","type":"random","z":"ed33f784.71e7f8","name":"","low":"","high":"","inte":"true","property":"rnd","x":420,"y":180,"wires":[["3acc82fc.de660e"]]},{"id":"3acc82fc.de660e","type":"function","z":"ed33f784.71e7f8","name":"respond","func":"\nvar action = msg.action;\nvar num = msg.rnd - 1;\n\nmsg.payload = action.answer[num];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":180,"wires":[[]]},{"id":"f49484dd.f10fe","type":"http response","z":"d3d6fb46.cf998","name":"","statusCode":"","headers":{},"x":690,"y":180,"wires":[]},{"id":"c4ffa0e4.127cb","type":"subflow:ed33f784.71e7f8","z":"ee9dcae.a7b76b8","name":"","env":[],"x":640,"y":120,"wires":[["64672f8b.cf3768"]]},{"id":"64672f8b.cf3768","type":"function","z":"ee9dcae.a7b76b8","name":"res-fmt","func":"\nvar result = msg.payload;\nvar end = new Date();\nvar diff = end - msg.startTime;\n\nmsg.payload = {\n    input: msg.input,\n    intent:  msg.intent,\n    kind: msg.kind,\n    confidence: msg.per,\n    result: result,\n    timer: diff\n};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":120,"wires":[["4f6826aa.c73f3"]]},{"id":"18a044e7.4a1013","type":"subflow:ee9dcae.a7b76b8","z":"d3d6fb46.cf998","name":"","env":[],"x":480,"y":220,"wires":[["f49484dd.f10fe"]]},{"id":"816f8329.a10ca","type":"debug","z":"d3d6fb46.cf998","name":"discord-in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":260,"y":320,"wires":[]},{"id":"ac29c058.e584f8","type":"function","z":"d3d6fb46.cf998","name":"req-fmt","func":"\nif( msg.channel.name !== 'homepi' ){\n    return false;\n}\n\n\nmsg.method = 'POST';\nmsg.url = 'http://192.168.1.3:1880/api/bot';\nmsg.payload = {\n    cmd: msg.payload\n};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":360,"wires":[["499cc30d.5bca7c"]]},{"id":"be7b3b74.44684","type":"discordMessage","z":"d3d6fb46.cf998","name":"in","token":"6dc2bbf3.6757fc","x":90,"y":320,"wires":[["816f8329.a10ca","ac29c058.e584f8"]]},{"id":"e748aba6.b5a878","type":"discordSendMessage","z":"d3d6fb46.cf998","name":"out","channel":"","token":"6dc2bbf3.6757fc","x":730,"y":360,"wires":[]},{"id":"9e21daed.2a09f","type":"function","z":"d3d6fb46.cf998","name":"res-fmt","func":"\n// ## config\nvar lenLimit = 1500;\n// ## func\nvar replacer = function(key, value){\n    \n    var isPrimitiveArray = (\n        Array.isArray(value)\n        && value[0]\n        && ( !isNaN(value[0]) )\n    );\n    \n    if( isPrimitiveArray  ){\n        return value.join(' / '); // in same line\n    }\n    return value;\n};\n\n// ## flow\nvar result = (msg.payload.result || msg.payload);\nvar isObj = ( typeof(result) === 'object' && result !== null );\n\n//node.warn('isObj = ' + isObj);\n\nif( isObj ){\n    result = JSON.stringify(result, replacer, 2);\n}\nif( !result || !result.length ){\n    result = 'empty';\n}\nif( result.length > lenLimit ){\n    result = result.substring(0, lenLimit);\n}\n\nif( !isObj ){\n    try {\n        var parsed = JSON.parse(result);\n        result = JSON.stringify(parsed, replacer, 2);\n    } catch (e) {\n            \n    }\n}\n\nmsg.payload = result;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":360,"wires":[["e748aba6.b5a878"]]},{"id":"6ace90aa.1a9308","type":"http in","z":"d3d6fb46.cf998","name":"P /api/msg","url":"/api/msg","method":"post","upload":false,"swaggerDoc":"","x":100,"y":440,"wires":[["5552585.f99c428","27089503.f2948a"]]},{"id":"44676d42.e90734","type":"discordSendMessage","z":"d3d6fb46.cf998","name":"out","channel":"809671972581408778","token":"6dc2bbf3.6757fc","x":430,"y":440,"wires":[]},{"id":"5552585.f99c428","type":"debug","z":"d3d6fb46.cf998","name":"/api/msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":240,"y":500,"wires":[]},{"id":"27089503.f2948a","type":"function","z":"d3d6fb46.cf998","name":"post-fmt","func":"\n// ## config\nvar replacer = function(key, value){\n    \n    var isPrimitiveArray = (\n        Array.isArray(value)\n        && value[0]\n        && (typeof(value[0]) === 'string'\n            || !isNaN(value[0])\n        )\n    );\n    \n    if( isPrimitiveArray  ){\n        return value.join(' / '); // in same line\n    }\n    return value;\n};\n\n// ## flow\nvar input = msg.payload;\nif(typeof(input) === 'string'){\n    input = JSON.parse(msg.payload);\n}\n\nvar out = input.msg;\nvar isObj = ( typeof(out) === 'object' );\nif( isObj ){\n    out = JSON.stringify(out, replacer, 2);\n}\n\nmsg.payload = out;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":440,"wires":[["44676d42.e90734","3e888db7.dfbf9a"]]},{"id":"e492c427.bcd79","type":"http response","z":"d3d6fb46.cf998","name":"","statusCode":"","headers":{},"x":570,"y":500,"wires":[]},{"id":"3e888db7.dfbf9a","type":"function","z":"d3d6fb46.cf998","name":"post-res","func":"\nmsg.payload = {ok: true};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":500,"wires":[["e492c427.bcd79"]]},{"id":"499cc30d.5bca7c","type":"http request","z":"d3d6fb46.cf998","name":"req","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":360,"wires":[["9e21daed.2a09f","b0fbacd1.c7f48"]]},{"id":"b0fbacd1.c7f48","type":"debug","z":"d3d6fb46.cf998","name":"bot-got","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":320,"wires":[]},{"id":"4f6826aa.c73f3","type":"debug","z":"ee9dcae.a7b76b8","name":"bot-core-res","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":160,"wires":[]},{"id":"ab67fd8b.7609a8","type":"http request","z":"1864c0e1.2101e7","name":"http","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":540,"wires":[[]]},{"id":"b26b85fc.73aad8","type":"http in","z":"d37a1d88.5e6d8","name":"POST /db/:db/:id?","url":"/db/:db/:id?","method":"post","upload":false,"swaggerDoc":"","x":130,"y":220,"wires":[["103d7ace.85e5a5"]]},{"id":"d06a3b50.dbf898","type":"function","z":"86fd5977.af92","name":"detect","func":"\n// ## config\nvar dict = global.get('botIndex');\nvar original = global.get('botActions');\n\n// ## flow\nvar input = msg.payload;\n\n// common - full match\nmsg.input = input;\nmsg.payload = input;\n\nif( dict[input] ){\n    msg.intent = dict[input].name;\n    msg.kind = dict[input].target;\n    msg.action = dict[input];\n    msg.per = 100;\n\n    return [null, msg];\n}\n\n// partial word\nvar tokens = input.split(' ').map(x => x.trim());\nvar tokenChart = [];\nvar tokensLen = tokens.length;\n\nnode.warn(\"DEBUG - tokensLen = \" + tokensLen);\n\nfor(var i=0; i<original.length; i++){\n    var a = original[i];\n    var obj = {name: a.name, i: i, cnt: 0};\n    \n    tokens.forEach(function(t){\n        a.words.forEach(function(w){\n            if( t === w ){\n                obj.cnt += 1;\n            }\n        });\n    });\n    \n    tokenChart.push(obj);\n}\n\ntokenChart = tokenChart.map(function(x){\n    x.score = Math.round(x.cnt / tokensLen * 100);\n    return x;\n}).filter(function(x){\n    return x.score > 1;\n}).sort((a,b) => b.score - a.score); // DESC\n\nif( tokenChart.length === 0 ){\n    msg.payload = { result: 'Unknown command' };\n    return [msg, null];\n}\n\nvar topMatch = tokenChart[0];\nnode.warn(\"Top 1 = \" + JSON.stringify(topMatch));\nif( tokenChart[1] ){\n    node.warn(\"Top 2 = \" + JSON.stringify(tokenChart[1]));\n}\n\nvar targetAction = JSON.parse(JSON.stringify(original[topMatch.i]));\ntargetAction.pre = original[topMatch.i].pre;\ntargetAction.post = original[topMatch.i].post;\n    \nmsg.intent = targetAction.name;\nmsg.kind = targetAction.target;\nmsg.action = targetAction;\nmsg.per = topMatch.score;\n\nif( targetAction.args && targetAction.args.length > 0 ){\n    targetAction.inputArgs = [];\n    \n    for(var z=targetAction.args.length; z>=1; z--){\n        targetAction.inputArgs.push(tokens[tokensLen-z]);\n    }\n}\n\nreturn [null, msg];\n\n\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n/*\n\n// partial term match\n\nvar keyList = Object.keys(dict);\nvar found = keyList.find(function(k){\n   return input.includes(k);\n});\nif( found && dict[found] ){\n    msg.intent = dict[found].name;\n    msg.kind = dict[found].target;\n    msg.action = dict[found];\n    msg.per = 75;\n\n    return [null, msg];\n}\n*/","finalize":"","x":370,"y":160,"wires":[["4e8f3d2c.daf504"],["4e8f3d2c.daf504"]]},{"id":"4e8f3d2c.daf504","type":"debug","z":"86fd5977.af92","name":"bot-nlp-detect","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":100,"wires":[]},{"id":"c4415b25.2d615","type":"http in","z":"d3d6fb46.cf998","name":"P /api/nlp","url":"/api/nlp","method":"post","upload":false,"swaggerDoc":"","x":120,"y":600,"wires":[["a3652c6.10bbbd","c437c135.5b423"]]},{"id":"a3652c6.10bbbd","type":"debug","z":"d3d6fb46.cf998","name":"nlp-req","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":660,"wires":[]},{"id":"b1501eec.4bed1","type":"http response","z":"d3d6fb46.cf998","name":"","statusCode":"","headers":{},"x":670,"y":600,"wires":[]},{"id":"c437c135.5b423","type":"subflow:86fd5977.af92","z":"d3d6fb46.cf998","name":"","x":300,"y":600,"wires":[["b1501eec.4bed1"],["6af4cd05.c26a4c"]]},{"id":"60d9b703.c9d0e","type":"debug","z":"d3d6fb46.cf998","name":"nlp-res","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":640,"wires":[]},{"id":"6af4cd05.c26a4c","type":"function","z":"d3d6fb46.cf998","name":"nlp-res","func":"\nmsg.payload = {\n    input: msg.input,\n    intent:  msg.intent,\n    kind: msg.kind,\n    confidence: msg.per,\n    action: msg.action\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":640,"wires":[["b1501eec.4bed1","60d9b703.c9d0e"]]},{"id":"170efd72.c299bb","type":"comment","z":"86fd5977.af92","name":"FALSE","info":"","x":630,"y":160,"wires":[]},{"id":"a619c9d0.2e9a8","type":"comment","z":"86fd5977.af92","name":"GOOD","info":"","x":630,"y":220,"wires":[]},{"id":"61073d70.0312fc","type":"http request","z":"1864c0e1.2101e7","name":"hook","method":"use","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:1880/api/msg","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":960,"wires":[[]]},{"id":"443eeb9b.74364c","type":"subflow:86fd5977.af92","z":"d3d6fb46.cf998","name":"","x":290,"y":180,"wires":[["f49484dd.f10fe"],["18a044e7.4a1013"]]},{"id":"a9321aaa.cc34d","type":"http request","z":"d3d6fb46.cf998","name":"ibm-stt","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/57bf6729-6c20-4423-b6bd-47e53f5a0716/v1/recognize","tls":"","persist":false,"proxy":"","authType":"basic","x":510,"y":980,"wires":[["e366ba48.7999a8","4b8641b.64d1e4"]]},{"id":"817a5e61.c254f8","type":"function","z":"d3d6fb46.cf998","name":"prep-stt","func":"\nmsg.headers = {\n    \"Content-Type\": \"audio/wav\"\n};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":980,"wires":[["a9321aaa.cc34d"]]},{"id":"e366ba48.7999a8","type":"debug","z":"d3d6fb46.cf998","name":"ibm-stt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":980,"wires":[]},{"id":"b3d735ee.3d2fa","type":"websocket in","z":"d3d6fb46.cf998","name":"/ws/bot/audio","server":"762bd415.12c714","client":"","x":130,"y":980,"wires":[["d11a867d.0f3578"]]},{"id":"9cb6214c.50a6f8","type":"websocket out","z":"d3d6fb46.cf998","name":"/ws/bot/audio","server":"762bd415.12c714","client":"","x":750,"y":1100,"wires":[]},{"id":"4b8641b.64d1e4","type":"function","z":"d3d6fb46.cf998","name":"stt-fmt","func":"\n/*\n{\n    \"result_index\": 0,\n    \"results\": [{\n            \"final\": true,\n            \"alternatives\": [{\n                    \"transcript\": \"one two three four five \",\n                    \"confidence\": 0.96\n                }\n            ]\n        }\n    ]\n}\n*/\nif( msg.statusCode !== 200 ){\n    return [msg, null];\n}\nvar result = msg.payload;\nif( result.results.length === 0 ){\n    msg.payload = 'no results';\n    return [msg, null];\n}\n\n// to Broadcast\n//delete msg._session;\n\nvar replacement = {\n  'five': '5',\n  'ten': '10',\n  'looks': 'logs',\n  'comments': 'commands',\n  'come months': 'commands',\n  '%HESITATION': '',\n  'deal': 'bill',\n  'TV owned': 'TV on',\n  'turned TV': 'turn TV',\n  'Q. do you': 'Could you',\n  \"what's least\": 'watchlist',\n  'a device': 'devices',\n  'off to': 'after',\n  'Stevie': 'TV',\n  'lost events': 'last events'\n};\n\nvar res = result.results[0].alternatives[0].transcript;\nObject.keys(replacement).forEach(function(k){\n    res = res.replace(k, replacement[k]);\n});\n\nvar out = res.split(' ').map(function(x){\n    return x.trim();\n}).filter(function(x){\n    return !['%HESITATION'].includes(x);\n}).join(' ').trim();\n\nmsg.payload = {\n    text: out\n};\n\nreturn [null, msg];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":510,"y":1040,"wires":[["8c4f1401.b9a128"],["9cb6214c.50a6f8","add2f9f4.f49a58"]]},{"id":"bf5f4093.99da","type":"inject","z":"d3d6fb46.cf998","name":"stt-text","props":[{"p":"payload"},{"p":"statusCode","v":"200","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"results\":[{\"alternatives\":[{\"transcript\":\"hello\",\"confidence\":0.96}]}]}","payloadType":"json","x":130,"y":1040,"wires":[["4b8641b.64d1e4"]]},{"id":"add2f9f4.f49a58","type":"debug","z":"d3d6fb46.cf998","name":"stt-text","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1060,"wires":[]},{"id":"8c4f1401.b9a128","type":"debug","z":"d3d6fb46.cf998","name":"stt-err","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1020,"wires":[]},{"id":"77036421.08b9b4","type":"function","z":"86fd5977.af92","name":"req-fmt","func":"\n\n// ## input\nvar reqBody = msg.payload;\nvar input = reqBody;\nif( typeof(reqBody.cmd) !== 'undefined' ){\n    input = reqBody.cmd;\n}\n\ninput = input.trim().toLowerCase();\ninput = input.replace(\"'s\", \" is\");\n\ninput = input.replace(\" five\", \" 5\");\ninput = input.replace(\" ten\", \" 10\");\ninput = input.replace(\" twenty\", \" 20\");\ninput = input.replace(\" thirty\", \" 30\");\n\nmsg.payload = input;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n/*\n\n// partial term match\n\nvar keyList = Object.keys(dict);\nvar found = keyList.find(function(k){\n   return input.includes(k);\n});\nif( found && dict[found] ){\n    msg.intent = dict[found].name;\n    msg.kind = dict[found].target;\n    msg.action = dict[found];\n    msg.per = 75;\n\n    return [null, msg];\n}\n*/","finalize":"","x":220,"y":160,"wires":[["d06a3b50.dbf898"]]},{"id":"9d5bb528.7068c8","type":"subflow:ee9dcae.a7b76b8","z":"d3d6fb46.cf998","name":"","env":[],"x":580,"y":880,"wires":[["ba39ea00.1ee6d","3e82687e.1ee36"]]},{"id":"171c969d.990711","type":"debug","z":"d3d6fb46.cf998","name":"ws-bot-req","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":800,"wires":[]},{"id":"c5e8b0c0.0c492","type":"subflow:86fd5977.af92","z":"d3d6fb46.cf998","name":"","x":430,"y":840,"wires":[["e7141720.909d08"],["9d5bb528.7068c8"]]},{"id":"4f9ccf09.5af9f","type":"websocket in","z":"d3d6fb46.cf998","name":"/ws/bot/core","server":"11f6e989.83fb8e","client":"","x":130,"y":840,"wires":[["171c969d.990711","818da655.8a77c8"]]},{"id":"3e82687e.1ee36","type":"websocket out","z":"d3d6fb46.cf998","name":"ws-out","server":"11f6e989.83fb8e","client":"","x":850,"y":840,"wires":[]},{"id":"7cb01c1e.51b7dc","type":"function","z":"d3d6fb46.cf998","name":"stt-stub","func":"\nmsg.payload = {'text': 'hello'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1100,"wires":[["ff563787.2452d8"]]},{"id":"818da655.8a77c8","type":"json","z":"d3d6fb46.cf998","name":"","property":"payload","action":"","pretty":false,"x":290,"y":840,"wires":[["c5e8b0c0.0c492"]]},{"id":"ba39ea00.1ee6d","type":"debug","z":"d3d6fb46.cf998","name":"ws-bot-res","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":900,"wires":[]},{"id":"e7141720.909d08","type":"function","z":"d3d6fb46.cf998","name":"ws-res","func":"\nmsg.payload = {\n    input: msg.input,\n    intent:  msg.intent,\n    kind: msg.kind,\n    confidence: msg.per,\n    action: msg.action\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":820,"wires":[["3e82687e.1ee36"]]},{"id":"8d189c97.3c8688","type":"play audio","z":"d3d6fb46.cf998","name":"","voice":"","x":510,"y":1140,"wires":[]},{"id":"ff563787.2452d8","type":"delay","z":"d3d6fb46.cf998","name":"1-sec","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":1100,"wires":[["9cb6214c.50a6f8"]]},{"id":"30e1643.d50f81c","type":"delay","z":"d3d6fb46.cf998","name":"1-per-6-sec","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"6","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":1140,"wires":[["8d189c97.3c8688"]]},{"id":"717508a6.475e4","type":"websocket out","z":"1864c0e1.2101e7","name":"ws-hub","server":"","client":"8d6bf186.e0a6e8","x":780,"y":860,"wires":[]},{"id":"2dc3ebfa.464c24","type":"function","z":"1864c0e1.2101e7","name":"send-hub","func":"\nvar data = msg.payload;\n\nmsg.payload ={\n    topic: 'evt/ram',\n    data: data\n};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":860,"wires":[["717508a6.475e4"]]},{"id":"90843bb1.a924c","type":"exec","z":"1864c0e1.2101e7","command":"sudo apt update","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"apt-update","x":530,"y":960,"wires":[["6f7b2cd9.5d3f04"],[],[]]},{"id":"8ea4fd5f.1ef35","type":"debug","z":"d37a1d88.5e6d8","name":"db.get","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"63758321.86d5dc","type":"json","z":"d37a1d88.5e6d8","name":"","property":"payload","action":"","pretty":false,"x":750,"y":120,"wires":[["e33d1593.589908"]]},{"id":"f164eda2.de645","type":"file","z":"d37a1d88.5e6d8","name":"A file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":610,"y":280,"wires":[["54685ec5.fb086"]]},{"id":"5a5e3c52.56ec34","type":"http in","z":"d37a1d88.5e6d8","name":"PATCH /db/:db/:id","url":"/db/:db/:id","method":"patch","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["57afbcf2.99d71c"]]},{"id":"54685ec5.fb086","type":"http response","z":"d37a1d88.5e6d8","name":"http out","statusCode":"","headers":{},"x":880,"y":280,"wires":[]},{"id":"bc5ffb58.b7127","type":"file","z":"d37a1d88.5e6d8","name":"D file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"utf8","x":610,"y":320,"wires":[["54685ec5.fb086"]]},{"id":"18803bd4.93e264","type":"http request","z":"37b5d6e4.8096e2","name":"trello-creds","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/db/root/trello_apikey","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":140,"wires":[["926ed9b3.41271"]]},{"id":"a7c4748f.fec29","type":"http request","z":"37b5d6e4.8096e2","name":"drop-creds","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/db/root/dropbox_key","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["91ecc8.313c4b38"]]},{"id":"358603a4.3a78d4","type":"debug","z":"1864c0e1.2101e7","name":"ls-bkp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":600,"wires":[]},{"id":"bf44d88a.db1e38","type":"function","z":"1864c0e1.2101e7","name":"ls-bkp","func":"\nvar bkp_dir = global.get('backup_dir');\n\nmsg.payload = bkp_dir;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":640,"wires":[["49d743de.845c4c"]]},{"id":"55c3972d.005888","type":"debug","z":"1864c0e1.2101e7","name":"tar-err","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":1440,"wires":[]},{"id":"103d7ace.85e5a5","type":"function","z":"d37a1d88.5e6d8","name":"gen-id","func":"\nvar utils = global.get('utils');\nvar getRandom = utils.randomNumber;\n\n// ## flow\nvar docId = msg.req.params.id;\nif( !docId ){\n    docId = utils.makeId();\n}\n\nmsg.docId = docId;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":220,"wires":[["2ae2c88b.9f04f","d9fe9b2f.c1569"]]},{"id":"865fe167.7fe76","type":"function","z":"58c27b2a.f2d284","name":"db-file","func":"\n// ## flow\nvar dbParam = msg.req.params.db;\nvar docId = msg.docId || msg.req.params.id;\n\nvar dir = global.get('db_dir');\nvar dbpath = dir;\nif( !['root', 'red_db'].includes(dbParam) ){\n    dbpath += dbParam;\n}\n\nmsg.filename = dbpath + '/' + docId + '.json';\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[[]]},{"id":"953b3d1c.093298","type":"subflow:58c27b2a.f2d284","z":"d37a1d88.5e6d8","name":"","x":430,"y":120,"wires":[["26a4c21.47961be"]]},{"id":"2ae2c88b.9f04f","type":"subflow:58c27b2a.f2d284","z":"d37a1d88.5e6d8","name":"","x":430,"y":180,"wires":[["488b50e5.9eca98"]]},{"id":"57afbcf2.99d71c","type":"subflow:58c27b2a.f2d284","z":"d37a1d88.5e6d8","name":"","x":430,"y":280,"wires":[["f164eda2.de645"]]},{"id":"d9fe9b2f.c1569","type":"debug","z":"d37a1d88.5e6d8","name":"gen-id","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"docId","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":220,"wires":[]},{"id":"4d69bab7.1588e4","type":"function","z":"1864c0e1.2101e7","name":"str-arr","func":"\nvar dirList = msg.payload.split(\"\\n\");\nmsg.payload = dirList.filter(function(x){\n    return x.length && x.length > 0;\n});\n\n// for logging\nmsg.detail = msg.payload.length;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":620,"wires":[["9aa4f56e.95d69","358603a4.3a78d4","d936abb3.a9fff8"]]},{"id":"ea098386.a7d7","type":"debug","z":"1864c0e1.2101e7","name":"tar-cmd","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":1480,"wires":[]},{"id":"186fef73.1076c9","type":"debug","z":"1864c0e1.2101e7","name":"rm-bkp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":620,"wires":[]},{"id":"5585881a.0cf6e8","type":"inject","z":"1864c0e1.2101e7","name":"(11:30)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":"","topic":"wrk/bkp/rotate","payload":"","payloadType":"date","x":140,"y":620,"wires":[["bf44d88a.db1e38"]]},{"id":"d936abb3.a9fff8","type":"subflow:b2184ca7.59e64","z":"1864c0e1.2101e7","x":640,"y":680,"wires":[]},{"id":"683fb39a.b129f4","type":"inject","z":"1864c0e1.2101e7","name":"05:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"bkp/flow","payload":"","payloadType":"date","x":140,"y":1080,"wires":[["aee973d.d2b279"]]},{"id":"aee973d.d2b279","type":"function","z":"1864c0e1.2101e7","name":"bkp-flow","func":"\nmsg.filename = global.get('flow_file');\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1120,"wires":[["73e1fabe.4740f4"]]},{"id":"73e1fabe.4740f4","type":"file in","z":"1864c0e1.2101e7","name":"R file","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":430,"y":1140,"wires":[["c613f788.c353b8","72cfe6fb.f6f708"]]},{"id":"c613f788.c353b8","type":"function","z":"1864c0e1.2101e7","name":"bkp-send","func":"\nvar dev = global.get('device');\nvar db_url = global.get('db_url');\n\nmsg.method = 'POST';\nmsg.url = db_url + '/bkp-flow/' + dev.id\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1120,"wires":[["ee666b80.5095b"]]},{"id":"72cfe6fb.f6f708","type":"debug","z":"1864c0e1.2101e7","name":"bkp-flow-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1080,"wires":[]},{"id":"ee666b80.5095b","type":"http request","z":"1864c0e1.2101e7","name":"db","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":1120,"wires":[[]]},{"id":"ce96b417.6a9a8","type":"subflow:b2184ca7.59e64","z":"653adf68.8f27f8","name":"","x":460,"y":540,"wires":[]},{"id":"9e632a63.a021b8","type":"mqtt in","z":"653adf68.8f27f8","name":"evt/log","topic":"evt/log","qos":"2","datatype":"json","broker":"ce04685a.5a68d8","x":90,"y":500,"wires":[["f3cd73b2.4356e8","feeed8af.e49978"]]},{"id":"f3cd73b2.4356e8","type":"debug","z":"653adf68.8f27f8","name":"evt/log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":500,"wires":[]},{"id":"feeed8af.e49978","type":"function","z":"653adf68.8f27f8","name":"log-fmt","func":"\nvar ev = msg.payload;\n\nmsg.topic = ev.action;\nmsg.level = ev.level;\nmsg.device = ev.id;\nmsg.detail = ev.detail;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":540,"wires":[["ce96b417.6a9a8"]]},{"id":"c1c9ee17.f6a838","type":"function","z":"1864c0e1.2101e7","name":"log","func":"\nvar dev = global.get('device');\nvar cron = msg.topic;\n\nmsg.payload = {\n    id: dev.id,\n    level: 'debug',\n    action: cron,\n    detail: 'start'\n};\nmsg.topic = 'evt/log';\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":361,"y":913,"wires":[["a5fd4ceb.b2e7e"]]},{"id":"a5fd4ceb.b2e7e","type":"link out","z":"1864c0e1.2101e7","name":"worker-update","links":["86c3b86d.1ddc3"],"x":466,"y":913,"wires":[]},{"id":"86c3b86d.1ddc3","type":"link in","z":"653adf68.8f27f8","name":"handle-log","links":["a5fd4ceb.b2e7e","b0a75b75.d2c148"],"x":155,"y":560,"wires":[["feeed8af.e49978"]]},{"id":"95bd10f5.b3ba6","type":"function","z":"1864c0e1.2101e7","name":"report","func":"\nvar dev = global.get('device');\nvar cronTopic = msg.topic;\nvar update = msg.found;\nvar date = new Date();\n\nvar log = {\n    topic: \"evt/log\",\n    payload: {\n        id: dev.id,\n        level: 'info',\n        action: cronTopic,\n        detail: update\n    }\n};\n\nvar sys = {\n  topic: \"evt/sys\",\n  payload: {\n      id: dev.id,\n      ts: date.toISOString(),\n      cron: cronTopic,\n      os: msg.os_name,\n      update: update\n  }\n};\n\nreturn [[log, sys]];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":840,"wires":[["eada9f4c.c9276"]]},{"id":"a068405f.c85b5","type":"http in","z":"653adf68.8f27f8","name":"G /api/logs","url":"/api/logs","method":"get","upload":false,"swaggerDoc":"","x":100,"y":620,"wires":[["664bb635.dca008"]]},{"id":"664bb635.dca008","type":"function","z":"653adf68.8f27f8","name":"","func":"\nvar log_dir = global.get('log_dir');\nvar log_file = log_dir + 'homepi.log';\n\nvar limit = 0;\nif( msg.req.query._limit ){\n    limit = Number(msg.req.query._limit);\n}\n\nvar cmd = ( limit > 0 ) ? `tail -n ${limit}` : 'cat';\nmsg.payload = cmd + ' ' + log_file;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":620,"wires":[["d68740ae.583bd"]]},{"id":"d68740ae.583bd","type":"exec","z":"653adf68.8f27f8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":470,"y":620,"wires":[["c6ad9b6c.37365"],["c6ad9b6c.37365"],[]]},{"id":"c6ad9b6c.37365","type":"http response","z":"653adf68.8f27f8","name":"","statusCode":"","headers":{},"x":670,"y":620,"wires":[]},{"id":"f8752f6.3d2505","type":"redis-instance","z":"37b5d6e4.8096e2","server":"d8b0caa6.b09218","name":"","topic":"redis","location":"global","x":130,"y":280,"wires":[]},{"id":"f1820590.09179","type":"function","z":"37b5d6e4.8096e2","name":"utils","func":"\nvar utils = {};\n\nutils.randomNumber = function(min, max){\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n};\nutils.makeId = function(date){\n    if( typeof(date) === 'undefined' ){\n        date = new Date();\n    }\n    if( typeof(date) === 'string' ){\n        date = new Date(date);\n    }\n    \n    var ts = date.toISOString();\n    var fmt = ts.substring(0, 19);\n\n    fmt = fmt.replace(/\\-/g, '').replace(/\\:/g, '');\n    fmt = fmt.replace('T', '-');\n    return fmt + '-' + utils.randomNumber(101, 999);\n}\n\nglobal.set('utils', utils);\nmsg.payload = 'Common functions = ';\nmsg.payload += Object.keys(utils).join(', ');\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":240,"wires":[["79cdaf5d.5f87c8"]]},{"id":"79cdaf5d.5f87c8","type":"debug","z":"37b5d6e4.8096e2","name":"utils","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":240,"wires":[]},{"id":"af2f0fe0.783e9","type":"inject","z":"d3d6fb46.cf998","name":"stt-socket","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1280,"wires":[["9888ecda.b1e49"]]},{"id":"9888ecda.b1e49","type":"function","z":"d3d6fb46.cf998","name":"file-r","func":"\nmsg.filename = '/home/pi/dev/vosk/test16k.wav';\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":1280,"wires":[["350a797e.1cb37e"]]},{"id":"350a797e.1cb37e","type":"file in","z":"d3d6fb46.cf998","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":410,"y":1280,"wires":[["6f6aa23e.f0e9d4","2140545f.3b80e4"]]},{"id":"6f6aa23e.f0e9d4","type":"websocket out","z":"d3d6fb46.cf998","name":"/ws/bot/stt","server":"","client":"4f3cc4de.4b553c","x":580,"y":1240,"wires":[]},{"id":"2140545f.3b80e4","type":"debug","z":"d3d6fb46.cf998","name":"file","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":1280,"wires":[]},{"id":"f55b258f.2f5fd8","type":"websocket in","z":"d3d6fb46.cf998","name":"/ws/bot/stt","server":"","client":"4f3cc4de.4b553c","x":120,"y":1360,"wires":[["2fca0840.d5b7a8"]]},{"id":"48181699.4ae81","type":"debug","z":"d3d6fb46.cf998","name":"stt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":1380,"wires":[]},{"id":"2fca0840.d5b7a8","type":"json","z":"d3d6fb46.cf998","name":"","property":"payload","action":"","pretty":false,"x":390,"y":1360,"wires":[["4c579d9d.0b9f4c"]]},{"id":"4c579d9d.0b9f4c","type":"function","z":"d3d6fb46.cf998","name":"ws-stt-fmt","func":"\nvar body = msg.payload;\n\nif( body.error ){\n    return [msg, null];\n}\nif( body.state === 'listening' ){\n    return [msg, null];\n}\n\nvar alt = body.results.map(function(x){\n    return x.alternatives[0].transcript;\n});\n\nmsg.payload = alt.join('');\ndelete msg._session;\nreturn [msg, null];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":600,"y":1360,"wires":[["dbb0c85d.6abc6"],["48181699.4ae81","9cb6214c.50a6f8"]]},{"id":"dbb0c85d.6abc6","type":"debug","z":"d3d6fb46.cf998","name":"stt.ignore","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":1340,"wires":[]},{"id":"d11a867d.0f3578","type":"function","z":"d3d6fb46.cf998","name":"del-session","func":"\ndelete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1240,"wires":[["6f6aa23e.f0e9d4"]]},{"id":"b1978b41.a105e8","type":"exec","z":"1864c0e1.2101e7","command":"cat /etc/os-release","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"os-release","x":210,"y":980,"wires":[["b58a20bf.23126"],[],[]]},{"id":"b58a20bf.23126","type":"function","z":"1864c0e1.2101e7","name":"fmt-os","func":"\nvar print = msg.payload;\nvar lines = print.split(\"\\n\");\nvar name_tuple = lines.find(x => x.includes(\"PRETTY_NAME\"));\nvar name = name_tuple.split('=')[1].replace(/\\\"/g, '');\n\nmsg.os_name = name;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":980,"wires":[["90843bb1.a924c"]]},{"id":"eada9f4c.c9276","type":"mqtt out","z":"1864c0e1.2101e7","name":"","topic":"","qos":"1","retain":"false","broker":"ce04685a.5a68d8","x":1210,"y":840,"wires":[]},{"id":"46020b15.3a81bc","type":"debug","z":"1864c0e1.2101e7","name":"app-list","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":940,"wires":[]},{"id":"b714a721.6c86d8","type":"inject","z":"1864c0e1.2101e7","name":"ad-hoc","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"sys/update","payload":"","payloadType":"date","x":530,"y":1020,"wires":[["6f7b2cd9.5d3f04"]]},{"id":"8e4210cd.f7d2b","type":"function","z":"ee9dcae.a7b76b8","name":"pre-func","func":"\nvar action = msg.action;\n\nif( action.pre ){\n    action.pre(msg);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":180,"wires":[["f2faeb27.a553a"]]},{"id":"f2faeb27.a553a","type":"function","z":"ee9dcae.a7b76b8","name":"delay","func":"\nmsg.startTime = new Date();\n\nvar action = msg.action;\n\nif( action.delay & action.inputArgs.length > 0 ){\n    \n    action.delayUse = true;\n    \n    msg.delay = action.inputArgs[0] * 1000;\n    \n    return [msg, null];\n}\n\nreturn [null, msg];\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":240,"wires":[["2c09c88d.82ed18","c4ffa0e4.127cb"],["130c0a7.2d0ec76"]]},{"id":"130c0a7.2d0ec76","type":"function","z":"ee9dcae.a7b76b8","name":"switch","func":"\nvar statusText = (msg.kind + ' - ' + msg.intent);\nnode.status({fill:\"grey\", shape:\"dot\", text: statusText});\n\nif( msg.kind === 'talk' || msg.kind === 'none' || msg.kind === 'script' ){\n    return [msg];\n}\nif( msg.kind === 'http' ){\n    return [null, msg];\n}\nif( msg.kind === 'exec' ){\n    return [null, null, msg];\n}\n\n\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":280,"wires":[["a6547694.6078d"],["84c6068c.ca5cb"],["2f3bf6f2.33c1c2"]]},{"id":"2c09c88d.82ed18","type":"delay","z":"ee9dcae.a7b76b8","name":"delay 2s","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":220,"wires":[["130c0a7.2d0ec76"]]},{"id":"84c6068c.ca5cb","type":"function","z":"ee9dcae.a7b76b8","name":"http-prep","func":"\nvar action = msg.action;\n\nif( action.opts ){\n    if( !msg.url && action.opts.url ){\n        msg.url = action.opts.url;\n    }\n    if( !msg.method ){\n        msg.method = action.opts.method || 'GET';\n    }\n    if( action.opts.body ){\n        msg.payload = action.opts.body;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":300,"wires":[["5af1df32.fd1ae8"]]},{"id":"2f3bf6f2.33c1c2","type":"exec","z":"ee9dcae.a7b76b8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"exec","x":630,"y":420,"wires":[["a6547694.6078d"],["a6547694.6078d"],[]]},{"id":"5af1df32.fd1ae8","type":"http request","z":"ee9dcae.a7b76b8","name":"bot.http","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":320,"wires":[["a6547694.6078d"]]},{"id":"a6547694.6078d","type":"function","z":"ee9dcae.a7b76b8","name":"post-func","func":"\nvar action = msg.action;\n\nif( action.post ){\n    action.post(msg);\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":300,"wires":[["5f36ac06.6372bc"]]},{"id":"5f36ac06.6372bc","type":"function","z":"ee9dcae.a7b76b8","name":"delay-response","func":"var action = msg.action;\n\nif( action.delayUse ){\n    return [msg, null];\n}\nelse {\n    return [null, msg];\n}\n\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":320,"wires":[[],["c4ffa0e4.127cb"]]},{"id":"d8b6a8f9.25c13","type":"comment","z":"1864c0e1.2101e7","name":"","info":"","x":120,"y":780,"wires":[]}]